<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Ảnh đại diện</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="text-input">Nhập avatar</label>
            <div class="col-md-9">
              <input type="text" #avatarControl="ngModel" [(ngModel)]="avatar" name="avatar" class="form-control" [placeholder]="'Nhập avatar'" required>
              <small *ngIf="avatarControl.errors?.url"
              class="text-muted danger" >
                (Link không hợp lệ)
              </small>
              <small *ngIf="avatarControl.errors?.required" class="text-muted danger">
                (Không được bỏ trống)
              </small>
              <img *ngIf="avatarControl.value && avatarControl.valid" style="width:auto;height:80px;"
                [src]="avatarControl.value" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form #itemFrm="ngForm">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Họ và tên</label>
              <div class="col-md-9">
                <input type="text" #fullnameControl="ngModel" [(ngModel)]="fullname" name="fullname" class="form-control" [placeholder]="'Nhập tên đăng nhập'" required>
                <small *ngIf="fullnameControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Số điện thoại</label>
              <div class="col-md-9">
                <input type="text" #phoneControl="ngModel" [(ngModel)]="phone" name="phone" class="form-control" [placeholder]="'Nhập số điện thoại'" required>
                <small *ngIf="phoneControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="email-input">Email</label>
              <div class="col-md-9">
                <input type="email" #emailControl="ngModel" [(ngModel)]="email" name="email" class="form-control" [placeholder]="'Nhập email'" required>
                <small *ngIf="emailControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Tên đăng nhập</label>
              <div class="col-md-9">
                <input type="text" #usernameControl="ngModel" [(ngModel)]="username" name="username" class="form-control" [placeholder]="'Nhập tên đăng nhập'" required>
              </div>
            </div>
            <div class="form-group row" *ngIf="!isEdit">
              <label class="col-md-3 form-control-label" for="password-input">Password</label>
              <div class="col-md-9">
                <input type="password" #passwordControl="ngModel" [(ngModel)]="password" name="password" class="form-control" [placeholder]="'Nhập password'" required>
                <small *ngIf="passwordControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row" *ngIf="!isEdit">
              <label class="col-md-3 form-control-label" for="password-input">Xác nhận password</label>
              <div class="col-md-9">
                <input type="password" #repasswordControl="ngModel" [(ngModel)]="repassword" name="repassword" class="form-control" [placeholder]="'Xác nhận password'" required>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Phân quyền</label>
              <div class="col-md-9">
                <select id="employeeTypeSelect" #employeeTypeControl="ngModel" [(ngModel)]="employeeType" name="employeeType" class="form-control">
                    <option *ngFor="let v of employeeTypeData" [value]="v.code">
                      {{v.name}}
                    </option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-9">
                <select id="statusSelect" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control">
                    <option *ngFor="let v of [0,1]" [value]="v">
                      {{ v===1?"Hoạt động":"Không hoạt động"}}
                    </option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Chi nhánh</label>
              <div class="col-md-9">
                <select id="branchSelect" #branchControl="ngModel" [(ngModel)]="branch" name="branch" class="form-control">
                    <option *ngFor="let v of branchData | async" [value]="v.id">
                      {{v.name}}
                    </option>
                  </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; New
          </button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-success btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; Close
          </button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Update &amp; Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
