<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h3 style="text-align:center">
                Để sử dụng dịch vụ Chatbot với các Trang Facebook của bạn<br>
                Yêu cầu phải kết nối với tài khoản Facebook có quyền quản trị các trang này.
              </h3>
              <div style="text-align:center"> 
                <button class="btn btn-lg btn-facebook" type="button" (click)="login()">
                  <span>Đăng nhập ngay</span>
                </button>
              </div>
              
            </div>
          </div>
          <!--<div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-1">Register Now!</button>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
