<div class="toolbar">
    <span class="btn-group">
        <button type="button" class="btn btn-default">0</button>
        <button type="button" class="btn btn-info">1</button>
        <button type="button" class="btn btn-warning">2</button>
        <button type="button" class="btn btn-primary">2</button>
        <button type="button" class="btn btn-success">2</button>
        <button type="button" class="btn btn-danger">2</button>
    </span>
</div>
<div class="content">
  <div class="callout callout-success m-0 py-1" (click)="viewDetail('1000003')">
      <div class="avatar float-right employee-avatar row">
        <div class="col-md-12">
              Minh Đức Uy
              <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-1/p320x320/18527867_1603793636298649_7716774829381887460_n.jpg?oh=64dee0d0ba2c7733e2ca025f924f1869&oe=5A257B2E" class="img-avatar float-right" alt="admin@bootstrapmaster.com">
        </div>
        <div class="col-md-12 m-h" formArrayName="billStatusInput">
          <select id="select" name="select" class="form-control" size="1">
            <option value="0">Đơn hàng thành công</option>
            <option value="1">Đơn hàng đã điều phối</option>
            <option value="2">Đơn hàng đang xử lý</option>
            <option value="3">Đơn hàng đang giao</option>
            <option value="4">Đơn hàng đã thanh toán</option>
            <option value="5">Đơn hàng đã chỉnh sửa</option>
            <option value="6">Đơn hàng đã thu tiền</option>
            <option value="7">Đơn hàng đã hủy</option>
          </select>
        </div>
      </div>
      <div>Mã đơn hàng: <strong>1000003</strong></div>
      <small class="mr-1"><i class="fa fa-usd"></i> 550,000 VND </small>
      <small class="mr-1"><i class="icon-calendar"></i> 3:00</small>
      <small class="mr-1"><i class="icon-location-pin"></i> Quận 1 </small>    
      <small class="mr-1"><i class="fa fa-cog fa-lg"></i> facebook</small>
      <small class="mr-1"><i class="fa fa-user fa-lg"></i> Nguyễn Văn A</small>
  </div>
  <hr class="mx-1 my-0">
  <!-- <div class="callout callout-info m-0 py-1" (click)="viewDetail('1000003')">
      <div class="avatar float-right employee-avatar">
          <div>
              Diệp Mỹ Dương
              <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t31.0-8/20728672_1370176209767061_5660167700182237227_o.jpg?oh=68796ec45ef5eb6c2b029197736d8b46&oe=5A33F3BB" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
      </div>
      <div>Mã đơn hàng: <strong>1000004</strong></div>
      <small class="mr-1"><i class="icon-calendar"></i> 3:15</small>
      <small class="mr-1"><i class="icon-location-pin"></i> Quận 10 </small>
      <small class="mr-1"><i class="glyphicons glyphicons-channel"></i> Đặt hàng tại quán </small>
      <small class="mr-1"><i class="fa fa-usd"></i> 430,000 VND </small>
  </div>
  <hr class="mx-1 my-0">
  <div class="callout callout-danger m-0 py-1" (click)="viewDetail('1000003')">
      <div class="avatar float-right employee-avatar">
          <div>
              Trần Anh Khôi
              <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-1/p320x320/16115038_1204019559694850_1816007978734027767_n.jpg?oh=bc452f92bc8998255b02222dacb61f5e&oe=5A310C66" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
      </div>
      <div>Mã đơn hàng: <strong>1000005</strong></div>
      <small class="mr-1"><i class="icon-calendar"></i> 4:10</small>
      <small class="mr-1"><i class="icon-location-pin"></i> Quận 4 </small>
      <small class="mr-1"><i class="fa fa-usd"></i> 310,000 VND </small>
  </div>
  <hr class="mx-1 my-0">
  <div class="callout callout-yahoo m-0 py-1" (click)="viewDetail('1000003')">
      <div class="avatar float-right employee-avatar">
          <div>
              Lê Quốc Vũ
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
      </div>
      <div>Mã đơn hàng: <strong>1000006</strong></div>
      <small class="mr-1"><i class="icon-calendar"></i> 4:30</small>
      <small class="mr-1"><i class="icon-location-pin"></i> Quận 1 </small>
      <small class="mr-1"><i class="glyphicons glyphicons-heart"></i> 10 </small>
      <small class="mr-1"><i class="fa fa-usd"></i> 200,000 VND </small>
  </div>
  <hr class="mx-1 my-0"> -->
</div>

