<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Generic Card</h4>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="row">
    <div class="form-group col-sm-12">
          <label for="ccmonth">Loại Generic Card</label>
          <select class="form-control" id="ccmonth" [(ngModel)]="context.data.type">
            <option >Chọn loại</option>
            <option value="static">Static</option>
            <option value="template">Template</option>
          </select>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
    <button type="button" class="btn btn-primary" (click)="add()">Đồng ý</button>
  </div>
</div>