<div class="animated fadeIn">

  <div class="row">
    <h3 class="col-6">Danh sách smart code</h3>
    <div class="col-6">
      <button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fas fa-plus"></i>Thêm smart code</button>
      <button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()"
      [disabled]="!itemsTable.selectedRows.length"><i class="fas fa-trash"></i>Xóa smart code</button>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="search-bar">
      <p>Tìm kiếm</p>
      <input type="text" class="input-control form-control" (keyup)="onSearch($event)">
    </div>
    <data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async"
    [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true"
    [multiSelect]="true" [substituteRows]="false" [selectOnRowClick]="true"
    [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="code" header="Mã code" [sortable]="true">
      </data-table-column>
      <data-table-column property="status" header="Kết nối chatbot" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span class="badge p-h" [ngClass]="{'badge-success': item?.is_connect_chatbot == true, 'badge-danger':item?.is_connect_chatbot != true}">{{item?.is_connect_chatbot == true?"Đã kết nối":"Không kết nối"}}</span>
            </template>
      </data-table-column>
      <data-table-column property="status" header="Trạng thái" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span class="badge p-h" [ngClass]="{'badge-success': item.status == 1, 'badge-danger':item.status != 1}">{{item.status == 1?"Hoạt động":"Không hoạt động"}}</span>
            </template>
      </data-table-column>
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
              <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fas fa-edit"></i></button>
                <button (click)="viewItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fas fa-eye"></i></button>
            </template>
      </data-table-column>
    </data-table>
  </div>
</div>
