<div class="animated fadeIn">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} loại sản phẩm</strong>
        </div>
        <div class="card-block">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Trạng thái</label>
              <div class="col-md-8">
                <select id="actionSelect" #actionControl="ngModel" [(ngModel)]="action" name="action" class="form-control">
                  <option *ngFor="let v of avaiable_actions" [value]="v.action">
                    {{v.name}}
                  </option>
                </select>
              </div>
   			    </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Nhân viên</label>
              <div class="col-md-8">
                <select id="employeeSelect" #employeeControl="ngModel" [(ngModel)]="employee" name="employee" class="form-control">
                  <option *ngFor="let v of employees | async" [value]="v.id">
                    {{v.fullname}}
                  </option>
                </select>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <button (click)="addAction(itemFrm)"
            class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Add Action
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-12" *ngFor="let v of bill_actions">
              <p>{{v.id}} - {{v.action}} - {{v.employee_id}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
