<div class="card">
  <div class="card-header">
    Generic Card
    <div class="btn-group pull-right">
      <button (click)="quickReplies()"
      type="button" class="btn btn-primary btn-sm"><i class="fa fa-reply-all"></i></button>
      <button (click)="addElement()"
      type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>
      <button (click)="editCard()"
      type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
      <button (click)="removeCard()" 
      type="button" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></button>
    </div>
    <div class="btn-group pull-right mr-1">
      <button (click)="upOrder()"
      type="button" class="btn btn-primary btn-sm"><i class="fa fa-arrow-up"></i></button>
      <button (click)="downOrder()"
      type="button" class="btn btn-primary btn-sm"><i class="fa fa-arrow-down"></i></button>
    </div>
    
  </div>
  <div class="card-block p-0">
    <swiper [config]="config" #mySwiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let element of data.elements; let ei = index;">
          <div class="card m-3">
            <div class="card-block p-0">
              <div class="generic-image" 
                [ngClass]="{'default-image': !element.image_url }" 
                [style.background-image]="'url('+element.image_url+')'">
                <div class="btn-group pull-right">
                  <button (click)="editElement(ei)"
                  class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                  <button (click)="removeElement(ei)"
                  class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
              </div>
              <hr class="mx-1 my-0">
              <p class="pt-1 pl-1 pr-1 m-0 pb-0"><strong>{{element.title}}</strong></p>
              <p class="p-1 m-0" *ngIf="element.subtitle"><small>{{element.subtitle}}</small></p>
            </div>
            <div class="card-footer text-center p-0" *ngFor="let button of element.buttons; let bi = index;">
              <button dropdown placement="top right"
              data-toggle="dropdown" dropdownToggle
              class="btn btn-block btn-lg btn-secondary text-left m-0">
                {{button.title}}
                <div class="dropdown-menu dropdown-menu-right drop-up" *dropdownMenu aria-labelledby="simple-dropdown">
                    <a (click)="editElementButton(ei,bi)"
                    class="dropdown-item" href="javascript:;" ><i class="fa fa-user"></i> Chỉnh sửa</a>
                    <a (click)="showStory(ei,bi)" *ngIf="button.type == 'postback'"
                    class="dropdown-item" href="javascript:;" ><i class="fa fa-wrench"></i> Xem Story</a>
                    <a (click)="removeElementButton(ei,bi)"
                    class="dropdown-item" href="javascript:;" ><i class="fa fa-shield"></i> Xoá</a>
                </div>
              </button>
            </div>
            <div (click)="addElementButton(ei)" *ngIf="!element.buttons || element.buttons.length != 3"
            class="card-footer text-center p-0"  data-toggle="modal">
              <button class="btn btn-primary btn-block">+ ADD BUTTON</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
  
</div>