#menu-toggle {
    margin-right: 8px;
    cursor: pointer
}
.pos-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    .pos-right-side {
        width: 300px;
        box-shadow: -5px 0px 10px 1px #aaaaaa;
        -webkit-transition-property: all; /* Safari */
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-property: all;
        transition-duration: 0.5s;
        
    }
    .pos-left-side {
        width: 300px;
        box-shadow: 5px 0px 10px 1px #aaaaaa;
        -webkit-transition: all .35s; /* Safari 3.1 to 6.0 */
        transition: all .35s;
    }
    #chat-frame {
        width: 100%;
        height: 100%;
    }
    
}
.feature-item {
    width:100%;
}

// .icon-btn-start {
//     float: left;
// }

/deep/ .swiper-container.swiper-container-horizontal {
    padding-bottom: 16px
}

