<mat-toolbar color="primary">
  <button mat-icon-button (click)="leftSidebar.toggle()">
    <mat-icon>reorder</mat-icon>
  </button>
  <span>M-Commerce</span>
</mat-toolbar>
<mat-sidenav-container class="pos-container">
  <mat-sidenav #leftSidebar class="pos-left-side" mode="over" opened="true" align="start">
    <mat-toolbar>
      <span>Tính năng</span>
    </mat-toolbar>
    <mat-list>
      <button mat-button class="feature-item" (click)="openStoriesPortal()">
        <mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine> Thiết lập câu truyện </h3>
        </mat-list-item>

      </button>
      <button mat-button class="feature-item" (click)="openSettingsPortal()">
        <mat-list-item>
          <mat-icon matListIcon>build</mat-icon>
          <h3 matLine> Cấu hình Chatbot </h3>
        </mat-list-item>
      </button>
    </mat-list>
  </mat-sidenav>
  <app-portal-container #portalContainer></app-portal-container>
</mat-sidenav-container>