<div class="card">
  <div class="card-header">
    Buttons Card
    <div class="btn-group pull-right">
      <button (click)="quickReplies()"
      type="button" class="btn btn-primary btn-sm"><i class="fa fa-reply-all"></i></button>
      <button (click)="editCard()"
      type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
      <button (click)="removeCard()" 
      type="button" class="btn btn-danger btn-sm "><i class="fa fa-trash"></i></button>
    </div>
    <div class="btn-group pull-right mr-1">
      <button (click)="upOrder()"
      type="button" class="btn btn-primary btn-sm"><i class="fa fa-arrow-up"></i></button>
      <button (click)="downOrder()"
      type="button" class="btn btn-primary btn-sm"><i class="fa fa-arrow-down"></i></button>
    </div>
    
  </div>
  <div class="card-block">
    {{data.text}}
  </div>
  <div class="card-footer text-center p-0" *ngFor="let button of data.buttons; let i = index">
    <button dropdown placement="top right"
    data-toggle="dropdown" dropdownToggle
    class="btn btn-block btn-lg btn-secondary text-left">
      {{button.title}}
      <div class="dropdown-menu dropdown-menu-right drop-up" *dropdownMenu aria-labelledby="simple-dropdown">
          <a (click)="editButton(i)"
          class="dropdown-item" href="javascript:;" ><i class="fa fa-user"></i> Chỉnh sửa</a>
          <a *ngIf="button.type == 'postback'" (click)="showStory(i)"
          class="dropdown-item" href="javascript:;" ><i class="fa fa-wrench"></i> Xem Story</a>
          <a (click)="removeButton(i)"
          class="dropdown-item" href="javascript:;" ><i class="fa fa-shield"></i> Xoá</a>
      </div>
    </button>
  </div>
  <div (click)="addButton()" *ngIf="!data.buttons || data.buttons.length != 3"
  class="card-footer text-center p-0"  data-toggle="modal">
    <button class="btn btn-primary btn-block">+ ADD BUTTON</button>
  </div>
</div>