@import '../../../scss/bootstrap-variables';

h3 {
  margin: 0;
  padding-top: 5px;
}

.custom-fa {
  font-size: 20px;
  padding: 4px;
}

.material-icons {
  padding-bottom: 5px;
}

/deep/ data-table table {
  box-shadow: none !important;
}

/deep/ data-table .column-header span {
  font-size: 0.8rem !important;
}

/deep/ data-table span .number-style {
  text-align: right;
}

/deep/ table td,
/deep/ table th {
  text-align: center;
}

.search-bar {
  width: 100%;
  padding-bottom: 1rem;
}

.search-bar p {
  width: 120px;
}

/deep/ data-table .refresh-button {
  display: none;
}

.search-bar input{
  height: 35px;
}

.category-select {
    height: 36px;
    margin-left: 12px;
    padding-left: 12px;
    min-width: 180px;
}