<div class="animated fadeIn">

  <div class="row">
    <h3 class="col-6">Danh sách sản phẩm</h3>
    <div class="col-6 button-center">
      <button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm sản phẩm</button>
      <button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa sản phẩm</button>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="search-bar">
      <p>Tìm kiếm</p>
      <input type="text" class="input-control form-control" (keyup)="onSearch($event)">
      <button class="btn btn-md button-default-primary ml-h" (click)="export()"><i class="fa fa-export"></i>Xuất dữ liệu</button>
      <input type="file" #fileImportUploader name="file-input" #file (change)="import($event)" [hidden]="true">
      <button class="btn btn-md button-default-primary ml-h" (click)="file.click()"><i class="fa fa-import"></i>Nhập dữ liệu</button>
    </div>
    <data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
      [selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="thumb" header="Hình ảnh">
        <template #dataTableCell let-item="item">
                  <img height="50px" [src]="item.thumb?item.thumb:thumbDefault">
              </template>
      </data-table-column>
      <data-table-column property="name" header="Tên" [sortable]="true">
      </data-table-column>
      <data-table-column property="price" header="Giá" [sortable]="true">
        <template #dataTableCell let-item="item">
              {{item.price | accounting}}
            </template>
      </data-table-column>
      <data-table-column property="category" header="Loại sản phẩm" [resizable]="true">
        <template #dataTableCell let-item="item">
            {{item.category?.name?item.category.name:"không có"}}
          </template>
      </data-table-column>
      <data-table-column property="product_type" header="Trạng thái sản phẩm" [visible]="false" [resizable]="true">
        <template #dataTableCell let-item="item">
            {{item.product_type?.name?item.product_type.name:"không có"}}
          </template>
      </data-table-column>
      <data-table-column property="unit" header="Đơn vị" [resizable]="true" [visible]="false">
        <template #dataTableCell let-item="item">
            {{item.unit?.name?item.unit.name:"không có"}}
          </template>
      </data-table-column>
      <data-table-column property="description" header="Mô tả" [visible]="false" [resizable]="true">
      </data-table-column>
      <data-table-column property="status" header="Trạng thái" [sortable]="true">
        <template #dataTableCell let-item="item">
                <span class="badge p-h" [ngClass]="{'badge-success': item.status == 1, 'badge-danger':item.status !=1}">{{item.status == 1?"Hoạt động":"Không hoạt động"}}</span>
              </template>
      </data-table-column>
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
                  <span class="btn-group">
                            <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
                  </span>
                  <span class="btn-group">
                            <button (click)="viewItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-eye"></i></button>
                  </span>
              </template>
      </data-table-column>
    </data-table>
  </div>
</div>
