<div class="animated fadeIn">
  <form #itemFrm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Nhập thông tin
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Tên sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên sản phẩm'" readonly>
                    <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Mô tả ngắn</label>
                  <div class="col-md-10">
                    <input type="text" #shortDescriptionControl="ngModel" [(ngModel)]="shortDescription" name="shortDescription" class="form-control input-control" [placeholder]="'Mô tả ngắn'" readonly/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
                  <div class="col-md-10">
                    <textarea type="text" #descriptionControl="ngModel" [(ngModel)]="description" name="description" class="form-control input-control" [placeholder]="'Mô tả'" readonly></textarea>
                    <!-- <textarea [froalaEditor] name="description" class="form-control input-control" [placeholder]="'Nhập mô tả'"></textarea> -->
                    <!-- <div [froalaEditor]="options" #froalaEditor  formControlName="message" required >Hello, Froala!</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Thiết lập
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="select">Loại sản phẩm</label>
                  <div class="col-md-10">
                    <select id="categorySelect" #categoryControl="ngModel" [(ngModel)]="category" name="category" class="form-control input-control" readonly>
                          <option value="null" disabled="true" [selected]="true">Chọn loại sản phẩm</option>
                          <option *ngFor="let v of categories | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <span class="add-title" (click)="showDialogAddNewEntity('category')"><i class="fas fa-plus"></i> Thêm loại sản phẩm mới</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
                  <div class="col-md-10">
                    <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control" readonly>
                        <option *ngFor="let v of [0,1]" [value]="v">
                          {{ v===1?"Hoạt động":"Không hoạt động"}}
                        </option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Chi phí
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Giá sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" #priceControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="price" name="price" class="input-control form-control" [placeholder]="'Nhập giá sản phẩm'" readonly>
                    <small *ngIf="priceControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Giá gốc sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" step="1000" #basePriceControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="base_price" name="base_price" class="form-control input-control" [placeholder]="'Nhập giá gốc sản phẩm'" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Trạng thái sản phẩm
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Trạng thái sản phẩm</label>
                  <div class="col-md-10">
                    <select id="productTypeSelect" #productTypeControl="ngModel" [(ngModel)]="product_type" name="product_type" class="form-control input-control" placeholder="Trạng thái sản phẩm" readonly>
                          <option value="null" [selected]="true">Chọn trạng thái sản phẩm</option>
                          <option *ngFor="let v of productTypes | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <span class="add-title" (click)="showDialogAddNewEntity('product-type')"><i class="fas fa-plus"></i> Thêm trạng thái sản phẩm mới</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Đơn vị tính
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Đơn vị</label>
                  <div class="col-md-10">
                    <select id="unitSelect" #unitControl="ngModel" [(ngModel)]="unit" name="unit" class="form-control input-control" placeholder="Đơn vị" readonly>
                          <option value="null" disabled="true" [selected]="true">Chọn đơn vị</option>
                          <option *ngFor="let v of units | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <span class="add-title" (click)="showDialogAddNewEntity('unit')"><i class="fas fa-plus"></i> Thêm đơn vị mới</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Hình ảnh
                <button type="submit" class="btn btn-sm btn-primary float-right" (click)="addImage()"> Thêm</button>
              </div>
              <div class="card-block" *ngIf="falseococo">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Hình ảnh</label>
                  <div class="col-md-10">
                    <div class="input-group">
                      <input type="file" name="file-input" #fileUploader (change)="onChangeImageFile($event)" [style.display]="'none'">
                      <input type="text" #imageControl="ngModel" [(ngModel)]="image" (input)="onImageChangeData($event.target.value)" name="image" url class="form-control input-control" [placeholder]="image?'':'Nhập url'" />
                      <span class="input-group-append">
                        <button type="button" class="btn btn-ladda ladda-button btn-primary" (click)="fileUploader.click()"
                        data-style="contract-overlay" style="z-index: 10;">
                          <span class="ladda-label">Đăng ảnh</span>
                      </button>
                      </span>
                    </div>
                  </div>
                  <div class="offset-md-2 col-md-10" *ngIf="previewImage">
                    <span class="image-wrapper" *ngIf="previewImage" lazy-load-images>
                      <img class="close-btn" [attr.src]="closeImage" (click)="removeImage()" />
                      <img id="preview-image" *ngIf="fileUploader.value || imageControl.value" data-src="{{previewImage | compress}}" (error)="this.previewImage = this.errorImage" />
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <small *ngIf="list_image == null || list_image.length == 0" class="text-muted danger">
                  Chưa có hình ảnh
                </small>
                <swiper [config]="imageConfig" #imageSwiper id="product-swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let image of list_image; let i = index" (mouseenter)="image_on_hover = i" (mouseleave)="image_on_hover = -1">
                      <div class="card n-mb-card">
                        <div class="card-block p-0">
                          <div class="product-swiper-image" [style.background-image]="'url('+image+')'">
                            <div class="btn-group pull-right" *ngIf="image_on_hover == i">
                              <button (click)="setThumbnail(i)" class="btn btn-primary btn-sm"><i class="fas fa-star"></i></button>
                              <button (click)="removeImage(i)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </swiper>
              </div>
            </div>
          </div>

          <div class="col-md-12" *ngIf="thumb">
            <div class="card n-mb-card">
              <div class="card-header">
                Ảnh đại diện
              </div>
              <div class="card-block" style="text-align: center" lazy-load-images>
                <img style="width: 100px; height: 100px;" data-src="{{thumb | compress}}" />
              </div>
            </div>
          </div>

          <div class="col-md-12 remove-pb">
            <div class="card n-mb-card remove-pb">
              <div class="card-header">
                Topping
              </div>
              <div class="card-block">
                <div class="form-group row remove-pb">
                  <label class="col-md-2 header-text">Topping:</label>
                  <div class="col-md-12 mt-1 mb-1">
                    <span class="add-title" (click)="showDialogAddNewEntity('topping-type')"><i class="fas fa-plus"></i> Thêm topping mới</span><br>
                    <span class="add-title" (click)="showDialogAddNewEntity('topping')"><i class="fas fa-plus"></i> Thêm trạng thái sản phẩm mới</span>
                  </div>
                  <div class="col-md-12">
                    <ng-select class="form-group input-control" [multiple]="true" #toppingSelecter [allowClear]="true" [items]="topping_items | async" (selected)="toppingSelected($event)" (removed)="toppingRemoved($event)" placeholder="Chọn loại topping">
                    </ng-select>
                  </div>
                  <div class="col-md-12">
                    <app-topping-detail [topping]="getTopping(item.id)" [price]="price" *ngFor="let item of toppingSelecter.active"></app-topping-detail>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    Số lượng trong kho hiện tại
                  </div>
                  <div class="card-block">
                    <div class="form-group row">
                      <label class="col-md-2 header-text" for="text-input">Số lượng trong kho</label>
                      <div class="col-md-10">
                        <input type="text" #unitsInStockControl="ngModel" [(ngModel)]="unitsInStock" name="unitsInStock" class="form-control input-control" [placeholder]="'Nhập số lượng hiện tại'" readonly>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    Lịch sử nhập sản phẩm
                  </div>
                  <div class="card-block">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">Người nhập</th>
                          <th class="text-center">Số lượng</th>
                          <th class="text-center">Nhà cung ứng</th>
                          <th class="text-center">Kho</th>
                          <th class="text-center">Ghi chú</th>
                          <th class="text-center">Thời gian</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let v of product.import_histories | orderBy: 'updated_at';let i=index">
                          <td class="text-center">{{v.employee.fullname}}</td>
                          <td class="text-center">{{v.amount}}</td>
                          <td class="text-center">{{v.supplier.name}}</td>
                          <td class="text-center">{{v.store.name}}</td>
                          <td class="text-center">{{v.note}}</td>
                          <td class="text-center">{{v.updated_at | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    Lịch sử xuất sản phẩm
                  </div>
                  <div class="card-block">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">Người nhập</th>
                          <th class="text-center">Số lượng</th>
                          <th class="text-center">Nhà cung ứng</th>
                          <th class="text-center">Kho</th>
                          <th class="text-center">Ghi chú</th>
                          <th class="text-center">Thời gian</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let v of product.export_histories | orderBy: 'updated_at';let i=index">
                          <td class="text-center">{{v.employee.fullname}}</td>
                          <td class="text-center">{{v.amount}}</td>
                          <td class="text-center">{{v.supplier.name}}</td>
                          <td class="text-center">{{v.store.name}}</td>
                          <td class="text-center">{{v.note}}</td>
                          <td class="text-center">{{v.updated_at | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </form>
</div>
