<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" [placeholder]="'Tìm sản phẩm'" />
        </div>
        <div class="col-md-6 text-center">
          <i class="icon-speedometer float-right ml-h"></i>
          <i class="icon-speedometer float-right ml-h"></i>
          <i class="icon-speedometer float-right ml-h"></i>
          <i class="icon-speedometer float-right ml-h"></i>
          <i class="icon-speedometer float-right ml-h"></i>
        </div>
      </div>
      <span>tìm kiếm</span>
      <span>in</span>
      <span>xóa</span>
      <span>menu</span>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div style="width:100%;height:400px"></div>
                </div>
                <div class="col-md-12">
                  <div class="wrapper">
                    <div class="tab">
                      <input id="tab-one" type="checkbox" name="tabs" [checked]="true">
                      <label for="tab-one">Sản phẩm</label>
                      <div class="tab-content row">
                        <div class="col-md-12">
                          <button>XXX</button>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end container -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <p>nhân viên</p>
              <p>khách hàng</p>
              <p>chi phí</p>
              <p>giao hàng</p>
              <p>phí khác</p>
              <p>channel</p>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input">Nhân viên</label>
                <div class="col-md-8">
                  <input type="text" #nameControl="ngModel" [(ngModel)]="employee" name="employee" class="form-control" [placeholder]="'Uy Minh'" required/>
                  <small class="text-muted success">
                      Nhân viên quản lý - Chi nhánh 1
                    </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12"></div>
  </div>
</div>
<div class="animated fadeIn" [hidden]="true">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} đơn vị</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="text-input">Đơn vị</label>
            <div class="col-md-8">
              <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control" [placeholder]="'Nhập đơn vị'" required/>
              <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="text-input">Bước nhảy</label>
            <div class="col-md-8">
              <input type="text" #offsetControl="ngModel" [(ngModel)]="offset" name="offset" class="form-control" [placeholder]="'Nhập nước nhảy'" required/>
              <small *ngIf="offsetControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
            <div class="col-md-8">
              <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; New
          </button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-success btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; Close
          </button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Update &amp; Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
