<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" [placeholder]="'Tìm sản phẩm'" />
        </div>
        <div class="col-md-6 text-center">
          <span class="float-right ml-h"><i class="icon-speedometer mr-h"></i>abc</span>
          <span class="float-right ml-h"><i class="icon-speedometer mr-h"></i>def</span>
          <span class="float-right ml-h"><i class="icon-speedometer mr-h"></i>ghi</span>
          <span class="float-right ml-h"><i class="icon-speedometer mr-h"></i>mno</span>
          <span class="float-right ml-h"><i class="icon-speedometer mr-h"></i>xyz</span>
        </div>
      </div>
      <span>tìm kiếm</span>
      <span>in</span>
      <span>xóa</span>
      <span>menu</span>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div style="width:100%;height:400px"></div>
                </div>
                <div class="col-md-12">
                  <div class="wrapper">
                    <div class="tab">
                      <input id="tab-one" type="checkbox" name="tabs" [checked]="true">
                      <label for="tab-one">Sản phẩm</label>
                      <div class="tab-content row">
                        <div class="col-md-12">
                          <button>XXX</button>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                        <div class="item col-md-2">
                          <img src="http://cdn1.theodysseyonline.com/files/2016/01/30/635897222461577840-361588591_pinky-love.jpg" style="width:100%; height:80px;" />
                          <p>black forest - 15000đ</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end container -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <tabset>
            <tab>
              <ng-template tabHeading><i class="icon-eye"></i> Thông tin đơn hàng
              </ng-template>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Nhân viên</label>
                    <div class="col-md-8">
                      <input type="text" #employeeControl="ngModel" [(ngModel)]="employee" name="employee" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                      Nhân viên quản lý - Chi nhánh 1
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Khách hàng</label>
                    <div class="col-md-8">
                      <input type="text" #customerControl="ngModel" [(ngModel)]="customer" name="customer" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    Trần Anh Khôi
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Total amount</label>
                    <div class="col-md-8">
                      <input type="text" #totalAmountControl="ngModel" [(ngModel)]="total_amount" name="total_amount" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    100.000 đ
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Receive amount</label>
                    <div class="col-md-8">
                      <input type="text" #receiveAmountControl="ngModel" [(ngModel)]="receive_amount" name="receive_amount" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    100.000 đ
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Pay amount</label>
                    <div class="col-md-8">
                      <input type="text" #payAmountControl="ngModel" [(ngModel)]="pay_amount" name="pay_amount" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    10.000 đ
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Return amount</label>
                    <div class="col-md-8">
                      <input type="text" #returnAmountControl="ngModel" [(ngModel)]="return_amount" name="return_amount" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    10.000 đ
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Remain amount</label>
                    <div class="col-md-8">
                      <input type="text" #remainAmountControl="ngModel" [(ngModel)]="remain_amount" name="remain_amount" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    10.000 đ
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Giao hàng</label>
                    <div class="col-md-8">
                      <input type="text" #shipFeeControl="ngModel" [(ngModel)]="ship_fee" name="ship_fee" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    10.000 đ
                    </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 form-control-label" for="text-input">Kênh</label>
                    <div class="col-md-8">
                      <input type="text" #channelControl="ngModel" [(ngModel)]="channel" name="channel" class="form-control" [placeholder]="'Uy Minh'" required/>
                      <small class="text-muted success">
                    Hotline
                    </small>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading><i class="icon-eye"></i> Thông tin đơn hàng
              </ng-template>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="col-md-12"></div>
  </div>
</div>
<div class="animated fadeIn" [hidden]="true">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} đơn vị</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="text-input">Đơn vị</label>
            <div class="col-md-8">
              <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control" [placeholder]="'Nhập đơn vị'" required/>
              <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="text-input">Bước nhảy</label>
            <div class="col-md-8">
              <input type="text" #offsetControl="ngModel" [(ngModel)]="offset" name="offset" class="form-control" [placeholder]="'Nhập nước nhảy'" required/>
              <small *ngIf="offsetControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
            <div class="col-md-8">
              <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; New
          </button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-success btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; Close
          </button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Update &amp; Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
