<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
          	<div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Khách hàng</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Khách hàng">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Nhân viên</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhân viên">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Đơn hàng</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhân viên">
              </div>
            </div>       
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>  
			<hr>
			<div class="form-group row p-h">
			  <table class="table table-bordered">
	            <thead>
	              <tr>               
	                <th class="text-center">Tiêu chí</th>
	                <th class="text-center">Rating</th>
	                <th class="text-center">Action</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>                
	                <td class="text-center">Chất lượng dịch vụ</td>
	                <td class="text-center">
						<div class="form-group row">			           
			              <div class="col-md-12">
			                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Rating">
			              </div>
			            </div>  
	                </td>
	                <td class="text-center">	           
	                 	
	                </td>
	              </tr>
	              <tr>                
	                <td class="text-center">Chất lượng sản phẩm</td>
	                <td class="text-center">
						<div class="form-group row">			           
			              <div class="col-md-12">
			                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Rating">
			              </div>
			            </div>  
	                </td>
	                <td class="text-center">	           
	                 	<span class="badge badge-danger"><i class="icon-trash icons font-xl p-q d-block"></i></span>
	                </td>
	              </tr>
	            </tbody>
	          </table>
			</div>
			<hr>
			<div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>       
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="far fa-dot-circle"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fas fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	