<div id="fundo">
  <form #registerForm="ngForm">
    <hr>
    <div id="logo"></div>
    <h4 id="login-title">Thông tin doanh nghiệp</h4>
    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Tên doanh nghiệp</label>
      <div class="col-md-8">
        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tên doanh nghiệp">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Số điện thoại</label>
      <div class="col-md-8">
        <input type="number" id="text-input" name="text-input" class="form-control" placeholder="Số điện thoại">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Địa chỉ</label>
      <div class="col-md-8">
        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Địa chỉ">
      </div>
    </div>

    <hr>
    <h4 id="login-title">Tài khoản quản trị</h4>
    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Tên quản trị</label>
      <div class="col-md-8">
        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tên quản trị">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Số điện thoại</label>
      <div class="col-md-8">
        <input type="number" id="text-input" name="text-input" class="form-control" placeholder="Số điện thoại">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Email</label>
      <div class="col-md-8">
        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Email">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Mật khẩu</label>
      <div class="col-md-8">
        <input type="password" id="text-input" name="text-input" class="form-control" placeholder="Mật khẩu">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 form-control-label" for="text-input">Xác nhận</label>
      <div class="col-md-8">
        <input type="password" id="text-input" name="text-input" class="form-control" placeholder="Xác nhận mật khẩu">
      </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Đăng ký</button>
  </form>
</div>
