<div class="animated fadeIn">
  <div class="row" *ngIf="false">
    <div class="col-md-6 text-center">
      <div style="display: block">
        <canvas baseChart [data]="pieChartData | async" [colors]="pieChartColors" [labels]="pieChartLabels | async" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <table class="table table-responsive table-condensed">
        <tr>
          <th>Sản phẩm</th>
          <th>Màu sắc</th>
          <th>Phần trăm</th>
        </tr>
        <tr *ngFor="let label of pieChartLabels | async; let i = index" [attr.data-index]="i">
          <th>{{label}}</th>
          <th><div style="height:20px; width:20px;" [style.background-color]="pieChartColors[0].backgroundColor[i]"></div></th>
          <th>{{pieChartData.getValue()[i]}} %</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form #itemFrm="ngForm">
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Tên khuyến mãi</label>
              <div class="col-md-10">
                <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Tên thông tin khuyến mãi'" required>
                <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <!-- <div class="form-group row">
              <div class="col-md-12">
                <input type="radio" [(ngModel)]="model.method" name="method" value="url">Url<br>
                <input type="radio" [(ngModel)]="model.method" name="method" value="upload">Upload Image
              </div>
              <div>Selected Radio: {{model.method}}</div>

              <div class="col-md-12">
                <div *ngIf="model.method=='url'" class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Hình ảnh</label>
                  <div class="col-md-10">
                    <input type="text" #imageControl="ngModel" [(ngModel)]="image" name="image" class="form-control input-control" [placeholder]="image?'':'Nhập url'" url required/>
                    <small *ngIf="imageControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                    <small *ngIf="imageControl.errors?.url" class="text-muted danger">
                      (Link không hợp lệ)
                    </small>
                    <img *ngIf="imageControl.value && imageControl.valid" style="width:auto;height:80px;margin-top:0.2rem;" [src]="imageControl.value" />
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div *ngIf="model.method=='upload'" class="form-group row">
                  <label class="col-md-2 header-text" for="file-input">Hình ảnh</label>
                  <div class="col-md-9">
                    <input type="file" name="file-input" #fileUploader (change)="onChangeImageFile($event)">
                    <img id="preview-image" *ngIf="fileUploader.value" style="width:auto;height:80px;margin-top:0.2rem;" [src]="fileUploader.value" />
                    <p>{{fileUploader.value}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row" [hidden]="true">
              <label class="col-md-3 col-form-label" for="file-input">File import</label>
              <div class="col-md-9">
                <input type="file" name="file-input" #fileImportUploader (change)="onChangeImportFile($event)">
              </div>
            </div>

            <button (click)="export()" [hidden]="true">Export</button> -->

            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Mô tả ngắn</label>
              <div class="col-md-10">
                <input type="text" #shortDescriptionControl="ngModel" [(ngModel)]="shortDescription" name="shortDescription" class="form-control input-control" [placeholder]="'Mô tả ngắn'" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
              <div class="col-md-10">
                <textarea type="text" #descriptionControl="ngModel" [(ngModel)]="description" name="description" class="form-control input-control" [placeholder]="'Mô tả'"></textarea>
                <!-- <textarea [froalaEditor] [(froalaModel)]="description" name="description" class="form-control input-control" [placeholder]="'Nhập mô tả'"></textarea> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Mã code</label>
              <div class="col-md-10">
                <input type="text" #codeControl="ngModel" [(ngModel)]="code" name="code" class="form-control input-control" [placeholder]="'Nhập mã code'" required>
                <small *ngIf="codeControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Ngày bắt đầu</label>
              <div class="col-md-10">
                <input type="text" #startDateControl="ngModel" [textMask]="{mask: dateMask}" [(ngModel)]="startDate" name="startDate" class="form-control input-control" [placeholder]="'Nhập ngày bắt đầu'" required>
                <small *ngIf="startDateControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Ngày kết thúc</label>
              <div class="col-md-10">
                <input type="text" #endDateControl="ngModel" [textMask]="{mask: dateMask}" [(ngModel)]="endDate" name="endDate" class="form-control input-control" [placeholder]="'Nhập ngày kết thúc'" required>
                <small *ngIf="endDateControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Loại khuyến mãi</label>
              <div class="col-md-10">
                <select id="promotionTypeSelects" #promotionTypeControl="ngModel" [(ngModel)]="promotionType" name="promotionType" class="form-control input-control">
                    <option *ngFor="let v of promotionTypes" [value]="v.code">
                      {{v.name}}
                    </option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Loại khách hàng</label>
              <div class="col-md-10">
                <select id="customerTypeSelect" #customerTypeControl="ngModel" [(ngModel)]="customerType" name="customerType" class="form-control input-control">
                    <option *ngFor="let v of customerTypeData | async" [value]="v.id">
                      {{v.name}}
                    </option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Giá trị</label>
              <div class="col-md-10">
                <input type="number" #valueControl="ngModel" [(ngModel)]="value" name="value" class="form-control input-control" [placeholder]="'Nhập giá trị'" required>
                <small *ngIf="valueControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
                <small *ngIf="valueControl.value == 0" class="text-muted danger">
                  (Không thể để giá trị bằng 0)
                </small>
                <small *ngIf="valueControl.value > 100 && promotionType=='discount_by_percent'" class="text-muted danger">
                  (Không thể để giá trị lớn hơn 100%)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Giới hạn</label>
              <div class="col-md-10">
                <input type="number" #limitControl="ngModel" [(ngModel)]="limit" name="limit" class="form-control input-control" [placeholder]="'Nhập giới hạn'" required>
                <small *ngIf="limitControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Số lượng</label>
              <div class="col-md-10">
                <input type="number" #amountControl="ngModel" [(ngModel)]="amount" name="amount" class="form-control input-control" [placeholder]="'Nhập giới hạn'" required>
                <small *ngIf="amountControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="textarea-input">Buộc phải scan code</label>
              <div class="col-md-10">
                <input type="checkbox" #isMustUseScanningCodeControl="ngModel" [(ngModel)]="isMustUseScanningCode" name="isMustUseScanningCode" (ngModelChange)="checkSelectMustUseScanningCode($event)" class="form-control input-control custom-checkbox">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
              <div class="col-md-10">
                <select id="statusSelect" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="textarea-input">Hình ảnh</label>
              <div class="col-md-10">
                <div class="input-group">
                  <input type="file" name="file-input" #fileUploader (change)="onChangeImageFile($event)" [style.display]="'none'">
                  <input type="text" #imageControl="ngModel" [(ngModel)]="image" (input)="onImageChangeData($event.target.value)" name="image" url class="form-control input-control" [placeholder]="image?'':'Nhập url'" />
                  <span class="input-group-append">
                    <button type="button" class="btn btn-ladda ladda-button btn-primary" (click)="fileUploader.click()"
                    data-style="contract-overlay" style="z-index: 10;">
                      <span class="ladda-label">Đăng ảnh</span>
                      <span class="ladda-spinner"></span>
                      <div class="ladda-progress" style="width: 0px;"></div>
                    </button>
                  </span>
                </div>
              </div>
              <div class="offset-md-2 col-md-10" *ngIf="previewImage">
                <span class="image-wrapper" *ngIf="previewImage">
                  <img class="close-btn" [attr.src]="closeImage" (click)="removeImage()" />
                  <img id="preview-image" *ngIf="fileUploader.value || imageControl.value" [src]="previewImage" (error)="this.previewImage = this.errorImage" />
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-success ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm và tạo mới</button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm và thoát</button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-edit"></i> Sửa và thoát</button>
          <!-- <button (click)="send()" *ngIf="isEdit" class="btn btn-sm btn-primary btn-ladda">
            Send
          </button> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
