.portal-container {
    width: 100%;
    height: 100%;
    /deep/ .swiper-slide {
        width: auto;
        .portal {
            min-width: 300px;
            width: 300px;
            height: 100%;
            .header-title {
                overflow: hidden;
                text-overflow: ellipsis ;
            }
            .portal-content-block {
                background: white;
                position: absolute;
                top: 64px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: scroll;
                .tail-div {
                    background: red;
                    width: 50%;
                    height: 1000px;
                }
            }
        }
    }

    /deep/ .swiper-pagination-bullets {
        bottom: 0px;
    }

    /deep/ .portal-progress-bar {
        z-index: 1
    }
}