<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>Thanh điều hướng</span>
    <span class="header-spacer"></span>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <mat-progress-bar [hidden]="!progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode" [value]="progressBar.value"
  [bufferValue]="progressBar.buffer">
  </mat-progress-bar>
  <div class="portal-content-block">
    <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t39.2365-6/16686128_804279846389859_443648268883197952_n.png?oh=6b7525a63b840156924fcb6e5eff948e&oe=5A7337D6" 
    alt="" style="object-fit: contain;width: 100%;height: 200px;">
    <app-card-container #cardContainer [container]="container" [parentViewRef]="viewRef"></app-card-container>
  </div>
</div>