
 <div class="card m-0 portal-card"> 
    <div class="card-header"> 
      <strong>Danh sách </strong>
      <div class="btn-group pull-right">
         <button (click)="sendStory()"
        type="button" class="btn btn-primary btn-sm pull-right" [disabled]="(selected | json) == '{}'"><i class="fa fa-send"></i> Gửi Story</button> 
      </div>
    </div>
    <div class="card-block portal-block p-0">
      <div (click)="selectSubscirber(i)"
      *ngFor="let subscriber of subscribers;let i = index;">
        <div class="callout m-0 py-1 subscriber" [class.callout-success]="selected[subscriber._id]">
            <div class="avatar float-right">
                <img [src]="subscriber.meta.profile_pic" class="img-avatar">
            </div>
            <div><strong>{{subscriber.meta.first_name}} {{subscriber.meta.last_name}}</strong></div>
            <small class="text-muted mr-1"><i [class]="'fa fa-'+subscriber.meta.gender"></i>&nbsp; {{subscriber.meta.gender}}</small>
        </div>
        <hr class="mx-1 my-0">
      </div> 
    </div>
</div> 

