<div class="animated fadeIn">

  <div class="row">
    <h3 class="col-6">Danh sách topping</h3>
    <div class="col-6">
      <button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fas fa-plus"></i>Thêm topping</button>
      <button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fas fa-trash"></i>Xóa topping</button>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="search-bar">
      <p>Tìm kiếm</p>
      <input type="text" class="input-control form-control" (keyup)="onSearch($event)">
    </div>
    <data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
      [selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="name" header="Tên" [sortable]="true">
      </data-table-column>
      <data-table-column header="Topping" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
              {{item.topping?.name?item.topping.name:"không có"}}
            </template>
      </data-table-column>
      <data-table-column property="price" header="Price" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
              {{item.price | accounting}}
            </template>
      </data-table-column>
      <data-table-column property="description" header="Mô tả" [visible]="false" [resizable]="true">
      </data-table-column>
      <data-table-column property="status" header="Trạng thái" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span class="badge p-h" [ngClass]="{'badge-success': item.status == 1, 'badge-danger':item.status != 1}">{{item.status == 1?"Hoạt động":"Không hoạt động"}}</span>
            </template>
      </data-table-column>
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
                <span class="btn-group">
                    <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fas fa-edit"></i></button>
                </span>
            </template>
      </data-table-column>
    </data-table>
  </div>
</div>
