<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Text Card</h4>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frmCard" class="row">
        <label class="col-md-12 form-control-label" for="textarea-input">Nội dung</label>
        <div class="col-md-12">
            <textarea formControlName="text" rows="3" class="form-control" placeholder="Nhập nội dung"></textarea>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
    <button type="button" class="btn btn-primary" (click)="add()">Đồng ý</button>
  </div>
</div>