<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Text Card</h4>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
        <label class="col-md-12 form-control-label" for="textarea-input">Nội dung</label>
        <div class="col-md-12">
            <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Nhập nội dung"></textarea>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
    <button type="button" class="btn btn-primary">Đồng ý</button>
  </div>
</div>