<div class="portal" style="width:300px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>Thiết lập Chatbot</span>
    <span class="header-spacer"></span>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <mat-progress-bar [hidden]="!progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode" [value]="progressBar.value"
  [bufferValue]="progressBar.buffer">
  </mat-progress-bar>
  <div class="portal-content-block">
    <mat-nav-list *ngIf="page">
      <mat-list-item (click)="openMenu()">
        <a matLine href="javascript:;">Thanh điều hướng</a>
      </mat-list-item>
      <mat-list-item (click)="openGreeting()">
        <a matLine href="javascript:;">Lời chào</a>
      </mat-list-item>
      <mat-list-item (click)="openGetStarted()">
        <a matLine href="javascript:;">Câu truyện đầu tiên</a>
      </mat-list-item>
      <!-- <mat-list-item (click)="openWhitelist()">
        <a matLine href="javascript:;">Danh sách trắng</a>
      </mat-list-item> -->
    </mat-nav-list>
  </div>
</div>