<div class="toolbar" *ngIf="page">
    <span class="btn-group">
        <button type="button" class="btn btn-outline-primary" (click)="openGreetingSetting()"> Lời chào</button>
        <button type="button" class="btn btn-outline-primary" (click)="openMenuSetting()"> Menu</button>
        <button type="button" class="btn btn-outline-primary" (click)="openGetStartedSetting()"> Nút bắt đầu</button>
    </span>
</div>
<div class="portal-container" *ngIf="page">
		<div class="portal" [id]="'portal-'+i" *ngFor="let portal of stack; let i = index">
			<app-stories-portal *ngIf="portal.type == 'stories'" 
					(onStorySelected)="onStorySelected($event)"
					(onLoaded)="onPortalLoaded($event)"
					[stackIndex]="i">
			</app-stories-portal>
			<app-story-portal *ngIf="portal.type == 'story'"
					[stackIndex]="i"
					[story]="portal.data"
					(onLoaded)="onPortalLoaded($event)">
			</app-story-portal>
            <app-greeting-portal *ngIf="portal.type == 'greeting'"
                    [stackIndex]="i"
                    (onLoaded)="onPortalLoaded($event)"
                    [page]="page"
                    [setting]="portal.data">
            </app-greeting-portal>
            <app-menu-portal *ngIf="portal.type == 'menu'"
                    [stackIndex]="i"
                    (onLoaded)="onPortalLoaded($event)"
                    [page]="page"
                    [setting]="portal.data"
                    (onPostbackSelected)="onStorySelected($event)"
                    (onNestedMenuSelected)="onNestedMenuSelected($event)">
            </app-menu-portal>
            <app-submenu-portal *ngIf="portal.type == 'submenu'"
                    [stackIndex]="i"
                    (onLoaded)="onPortalLoaded($event)"
                    [page]="page"
                    [level]="portal.data"
                    (onPostbackSelected)="onStorySelected($event)"
                    (onNestedMenuSelected)="onNestedMenuSelected($event)">
            </app-submenu-portal>
            <app-get-started-portal *ngIf="portal.type == 'get_started'"
                    [stackIndex]="i"
                    (onLoaded)="onPortalLoaded($event)"
                    [page]="page"
                    [setting]="portal.data"
                    (onStorySelected)="onStorySelected($event)">
            </app-get-started-portal>
		</div>
</div>
<!--<div class="portal-container">
    <div class="portal" style="width:200px" >
        <div class="card m-0"> 
            <div class="card-header" >
                Lời chào
                <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
            </div>
            <div class="card-block portal-block">
            </div>
        </div>
    </div>
    <div class="portal " style="width:400px">
        <div class="card m-0"> 
            <div class="card-header">
                Menu
                <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
            </div>
            <div class="card-block portal-block">
                <Tree [nodes]="nodes"></Tree>
                <div style="height:800px"></div>
            </div>
        </div>
    </div>
    <div class="portal" style="width:600px" >
        <div class="card m-0"> 
            <div class="card-header">
                Nút bắt đầu
                <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
            </div>
            <div class="card-block portal-block">
            </div>
        </div>
    </div>
</div>-->