.navbar-brand {
    i {
        position: absolute;
        top: 20px;
        color: black;
    }
}
.main {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 51px;
} 
.app,
app-dashboard,
app-root {
    min-height: 0;
}