<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-primary">
          <div class="card-header">
              <i class="social social-facebook"></i><strong>Tài khoản Facebook</strong>
          </div>
        <div class="card-block row">
            <div class="col-md-3 text-center">
              <img [src]="user.picture.data.url" width="100px" height="100px" *ngIf="user">
            </div>
            <div class="col-md-9 text-center">
              <h3 *ngIf="user">{{user.name}}</h3>
              <button (click)="logout()" type="button" class="btn btn-outline-danger btn-lg btn-block">
                Đăng xuất
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="content" >
    <div *ngFor="let page of pages">
      <div class="callout m-0 py-1 row" >
        <div class="col-8">
          <div class="avatar float-left employee-avatar mr-2">
              <div>
                  <img [src]="page.picture.data.url" class="img-avatar" >
              </div>
          </div>
          <div><h4><a [routerLink]="['/chatbot/dashboard/',page.id]"><strong>{{page.name}}</strong></a></h4></div>
          <small class="mr-1"><i class="icon-info"></i> Trạng thái: <strong>{{subscribeState(page.is_webhooks_subscribed)}}</strong></small>
        </div>
        <div class="col-4" *ngIf="!page.is_webhooks_subscribed">
          <button (click)="subscribePage(page)" type="button" class="btn btn-outline-primary btn-lg btn-block">Đăng ký Chatbot</button>
        </div>
        <div class="col-4" *ngIf="page.is_webhooks_subscribed">
            <button (click)="unsubscribePage(page)" type="button" class="btn btn-outline-danger btn-lg btn-block">Huỷ đăng ký</button>
        </div>
      </div>
      <hr class="mx-1 my-0">
    </div>
    
  </div>
</div>


