<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card" style="border: 1px solid #e1e6ef">
        <div class="card-block" style="padding: 1.5rem 1rem 1rem;">
          <div class="row mb-2">
            <div class="col-sm-4 info-column">
              <h6><i class="fa fa-file-text-o"></i> Thông tin chi tiết khuyến mãi</h6>
              <div>Tổng số lượng sử dụng: {{information.number_of_used_time?(information.number_of_used_time | number):0}}</div>
              <div>Tổng số lượng người dùng sử dụng: {{information.number_of_used_customer?(information.number_of_used_customer | number):0}}</div>
              <div>Tổng tiền khuyến mãi: {{information.number_of_purchase?(information.number_of_purchase | accounting):'0 đ'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <tabset class="tabset-control">
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fa fa-asterisk"></i> Thông tin đơn hàng</ng-template>
      <div class="table-wrapper">
        <h5 class="col-6">Danh sách đơn hàng sử dụng khuyến mãi</h5>

        <data-table #itemsTable indexColumnHeader="STT" [items]="bills" [pagination]="false" [indexColumn]="true" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false">
          <!-- <data-table-column property="id" header="Tên" [sortable]="true">
      </data-table-column> -->
          <data-table-column header="Mã đơn hàng" [resizable]="true" [sortable]="true">
            <template #dataTableCell let-item="item">
            {{item.code?item.code:"không có"}}
          </template>
          </data-table-column>
          <data-table-column header="Khách hàng" [resizable]="true" [sortable]="true">
            <template #dataTableCell let-item="item">
            {{item.customer?.fullname?item.customer.fullname:"không có"}}
          </template>
          </data-table-column>
          <data-table-column header="Trạng thái" [resizable]="true" [sortable]="true">
            <template #dataTableCell let-item="item">
            {{item.activity?.action?item.activity.action:"không có"}}
          </template>
          </data-table-column>
          <data-table-column header="Actions">
            <template #dataTableCell let-item="item">
              <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
                <button (click)="viewItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-eye"></i></button>
            </template>
          </data-table-column>
        </data-table>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fa fa-asterisk"></i> Thông tin khách hàng</ng-template>
      <div class="table-wrapper">
        <h5 class="col-6">Danh sách đơn hàng sử dụng khuyến mãi</h5>

        <data-table #itemsTable indexColumnHeader="STT" [items]="customers" [pagination]="false" [indexColumn]="true" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false">
          <data-table-column property="fullname" header="Họ tên" [sortable]="true">
          </data-table-column>
          <data-table-column header="Tổng đơn hàng" [resizable]="true" [sortable]="true">
            <template #dataTableCell let-item="item">
            {{item.number_of_bill?(item.number_of_bill|number):"0"}}
          </template>
          </data-table-column>
          <data-table-column header="Tổng tiền đã thanh toán" [resizable]="true" [sortable]="true">
            <template #dataTableCell let-item="item">
            {{item.amount_of_purchase?(item.amount_of_purchase | accounting):"0 đ"}}
          </template>
          </data-table-column>
          <data-table-column header="Actions">
            <template #dataTableCell let-item="item">
              <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
                <button (click)="viewItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-eye"></i></button>
            </template>
          </data-table-column>
        </data-table>
      </div>
    </tab>
  </tabset>
</div>
