<div class="animated fadeIn">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} ticket</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Tiêu đề</label>
            <div class="col-md-10">
              <input type="text" #titleControl="ngModel" [(ngModel)]="title" name="title" class="form-control input-control" [placeholder]="'Nhập tiêu đề'" required/>
              <small *ngIf="titleControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="textarea-input">Nội dung</label>
            <div class="col-md-10">
              <textarea id="textarea-input" #contentControl="ngModel" rows="5" [(ngModel)]="content" name="content" class="form-control input-control" [placeholder]="'Nhập nội dung'"></textarea>
            </div>
          </div>

          <!-- employeeId: string = null
          parentId: string = null
          assigneeId: string
          title: string
          content: string
          actionStatus: string = null//normal, high, urgent
          actionStatuses: any[] = []
          activityStatus: string  = null//to_do, in_progress, reopen, resolved, closed
          activityStatuses: any[] = []
          ticketTypeId: string = null
          ticketTypes: any[]
          attachedFiles: string
          status: number

          productId: string = null
          products: any[]
          toppingValueId: string = null
          toppingValues: any[]
          billId: string = null
          bills: any[]
          customerReportId: string = null
          customerReports: any[] -->

          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Loại ticket</label>
            <div class="col-md-10">
              <select id="select" #ticketTypeIdControl="ngModel" [(ngModel)]="ticketTypeId" name="ticketTypeId" class="form-control input-control">
                  <option *ngFor="let v of ticketTypes" [value]="v.code">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Mức độ xử lý</label>
            <div class="col-md-10">
              <select id="select" #actionStatusControl="ngModel" [(ngModel)]="actionStatus" name="actionStatus" class="form-control input-control">
                  <option *ngFor="let v of actionStatuses" [value]="v.code">
                    {{ v.name}}
                  </option>
                </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Trạng thái xử lý</label>
            <div class="col-md-10">
              <select id="select" #activityStatusControl="ngModel" [(ngModel)]="activityStatus" name="activityStatus" class="form-control input-control">
                  <option *ngFor="let v of activityStatuses" [value]="v.code">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
            <div class="col-md-10">
              <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-success ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và tạo mới</button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và thoát</button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-edit"></i> Sửa và thoát</button>
        </div>
      </div>
    </div>
  </form>
</div>
