<p class="title">Danh sách topping</p>
<ul>
  <li *ngFor="let task of toppingsData">
    <mat-checkbox [(ngModel)]="task.completed"
                 [checked]="allComplete(task)"
                 [indeterminate]="someComplete(task.subtasks)"
                 (change)="setAllCompleted(task.subtasks, $event.checked)">
      <p class="header-text">{{task.name}}</p>
    </mat-checkbox>
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed" (change)="updateStatus(subtask, $event.checked)">
          <span class="content-text">{{subtask.name}}</span>
        </mat-checkbox>
      </li>
    </ul>
  </li>
</ul>
