@import "../../../scss/bootstrap-variables";

.pos-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey-lighter;
  padding: 16px;
  overflow: hidden;

  header {
    width: 384px !important;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: lighten($brand-light, 30%);
    border: none;
  }
  ::-webkit-scrollbar-thumb {
    background: lighten($brand-light, 20%);
    transition: all 0.3s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($brand-light, 10%);
  }
  ::-webkit-scrollbar-thumb:active {
    background: lighten($brand-light, 10%);
  }

//   ::-webkit-scrollbar { 
//     display: none; 
// }

  /deep/ .ng-sidebar--bottom {
    transition: all 0.35s;
    --webkit-transition: all 0.35s;
  }

  .pos-right-side {
    width: 400px;
    height: calc(100% - 16px);
    background-color: $grey-lighter;
    padding: 16px;
    padding-left: 0px;
    overflow: hidden;
    .top-right-toolbar{
      height: 64px;
      width: 400px;
      box-shadow: none;
      .dropdown {
        display: flex;
        flex-direction: row;
      }
      .nav.nav-tab {
        display: none;
      }
      .toolbar-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 12px;
      }
      .user-name {
        cursor: hand;
        cursor: pointer;
        padding-left: 12px;
        font-family: 'Helvetica Neue';
          display: flex;
          justify-content: center;
          align-items: center;
        i {
          padding-left: 5px;
          zoom: 0.8;
          color: $brand-primary;
          transition: color 0.5s ease;
        }
      }
      .avatar {
        background-color: $bluegrey-light;
        div, img {
          width: 100% !important;
          height: 100% !important;
          border-radius: 50%;
          position: absolute;
          top: 0px;
          left: 0px;
          display: flex;
          justify-content: center; /* align horizontal */
          align-items: center; /* align vertical */
          text-transform: capitalize;
          font-weight: bold;
          color: $bluegrey-white;
        }
      }
      .name-separator {
          background-color: $grey-light;
          width: 2px;
        height: 22px;
        margin: 10px;
      }
      
      .nav-pill {
        border: none !important;
      }
      .dropdown-menu {
        position: absolute;
        display: inline-flex;
        flex-direction: column;
      }
      .dropdown-item {
        cursor: hand;
        cursor: pointer;
        display:block;
        padding-top: 15px;
      }
    }
    .order-form {
      margin-top: 80px;
      background: white;
      height: calc(100% - 64px);
      .tab-header {
        height: 8%;
        width: 100%;
        border-bottom: 1px solid $grey-light;
        .btn {
          text-transform: uppercase !important;
          align-self: center;
          color: $bluegrey-light;
          font-size: 0.8rem;
          background: white !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 50%;
          border-top: 3px solid transparent;
          &.active, &:active {
            color: $brand-primary;
            font-weight: bold;
            border-top: 3px solid $brand-primary;
          }
        }
      }
      .tab-content-wrapper {
        height: 56%;
        overflow-y: scroll;
        .tab-content {
          height: 100%;
          padding-top: 16px;
          border: none !important;
          .btn-paid {
            background-color: $brand-primary;
            color: white;
            &:hover {
              background-color: $brand-dark;
            }
          }
          .btn-client-info {
            width: 100%;
            border: none !important;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
            color: $bluegrey-mild;
            transition: color 0.3s ease;
            &:hover {
              color: $brand-primary;
            }
            .added-text {
              color: $bluegrey-mild;
              i {
                padding-left: 5px;
                color: $brand-success;
              }
            }
          }
          .phone-header {
            position: absolute;
            background-color: $bluegrey-white;
            color: $grey-dark;
            width: 48px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          .phone-control{
            padding-left: 52px;
          }
          .phone-spinner {
            position: absolute;
            right: 24px;
            color: $brand-primary;
            height: 100%;
            width: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          .ship-danger {
            width: 200px;
            i {
              font-size: 12px;
              color: $color-red;
            }
          }
          .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
            background-color: $color-red !important;
          }
          
          .mat-ripple-element {
            background: $color-red !important;
            opacity: .4 !important;
          }
        }
      }
      .tab-footer {
        height: 36%;
        border-top: 1px solid $grey-mild;
        text-align: center;
        justify-content: center;
        padding-top: 8px;
        .form-group {
          height: 8%;
          margin: 5px auto;
          color: $grey-dark;
          label {
            padding: 0px;
            font-size: 0.85rem;
            text-align: left;
          }
          div {
            padding: 0px;
            text-align: right;
            font-size: 0.85rem;
          }
        }
        .total {
          margin-top: 8px;
          .total-text {
            border-top: 1px solid $grey-light;
            padding-top: 5px;
            font-size: 1rem;
            font-weight: bold;
            color: $bluegrey-darker;
          }
        }
        .btn {
          width: calc(100% - 16px);
          padding: 10px;
          position: absolute;
          left: 8px;
          right: 8px;
          bottom: 8px;
          text-align: center;
          vertical-align: middle;
          background-color: $brand-primary;
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          &:hover {
            background-color: $brand-dark;
          }
          &:disabled, &:disabled:hover {
            background-color: $brand-light;
          }
          i {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .pos-left-side {
    background: transparent;
    width: 100%;
    height: 100%;
    .pos-top-left {
      background: white;
      height: calc(50% - 8px);
      margin-bottom: 16px;
      overflow-y: auto;
      // /deep/.order-item-table {
      //   /deep/.data-table-wrapper {
      //     /deep/.data-table-box {
      //       padding-top: 48px;
      //       /deep/.table {
      //         /deep/thead {
      //           position: fixed;
      //           top: 16px;
      //           left: 16px;
      //           right: 416px;
      //           background: white;
      //           z-index: 100;
      //           border-bottom: 2px solid #e1e6ef;
      //           /deep/th {
      //             border-bottom: none;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
      // ::-webkit-scrollbar {
      //   width: 8px;
      //   margin-top: 48px;
      // }
      // ::-webkit-scrollbar-track {
      //   background: lighten($brand-light, 30%);
      //   border: none;
      //   margin-top: 48px;
      // }
      // ::-webkit-scrollbar-thumb {
      //   background: lighten($brand-light, 20%);
      //   transition: all 0.3s ease;
      //   margin-top: 48px;
      // }
      // ::-webkit-scrollbar-thumb:hover {
      //   background: lighten($brand-light, 10%);
      // }
      // ::-webkit-scrollbar-thumb:active {
      //   background: lighten($brand-light, 10%);
      // }
    }
    .pos-bottom-left {
      background: white;
      height: calc(50% - 8px);
      /deep/.fa-angle-double-left, /deep/.fa-angle-double-right {
        margin-top: 3px;
      }
    }
  }

  .row-odd {
    background-color: $grey-white;
  }

  .btn-item {
    border: none !important;
    background: none !important;
    i {
      color: $grey-dark;
      font-size: 20px;
      transition: all 0.3s ease;
    }
  }
  .btn-green:hover {
    i {
      color: $brand-success;
    }
  }
  .btn-red:hover {
    i {
      color: $brand-danger;
    }
  }

  th.expand-column-header {
    display: none;
  }
  td.row-expand-button {
    display: none;
  }

  tr {
    /deep/th.column-header {
      span {
        width: 100%;
        text-align: right;
      }
    }
  }

  .menu-toolbar {
    height: 56px;
    width: 100%;
    padding: 8px;
    margin: 0px;
    .filter-col {
      display: flex;
      align-items: center;
      padding: 8px;
      .search-control {
        
      }
      .filter-text {
        color: $grey;
        padding-right: 8px;
      }
      .paginator {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /deep/ul {
          margin: 0px;
        }
        /deep/.page-link {
          margin: 0px !important;
          border-radius: 0px !important;
        }
        /deep/.pagination-first,/deep/.pagination-prev,
        /deep/.pagination-last,/deep/.pagination-next {
          a {
            height: 35px;
          }
        }
      }
      &:first-child {
        padding-left: 0px;
      }
      &:not(:last-child) {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
        padding-right: 0px;
      }
    }
    
  }
  
  .menu-wrapper {
    width: 100%;
    height: calc(100% - 56px);
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    .menu-no-item {
      font-style: italic;
      color: $grey-lighter;
      text-align: center;
      width: 100%;
      align-self: center;
      font-size: 15px;
    }
    .menu-loading {
      width: 100%;
      align-self: center;
      text-align: center;
      font-size: 20px;
      color: $brand-primary;
    }
    .menu-item {
      width: 20%;
      height: 50%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      &:hover {
        .product-thumb {
          img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
        .product-name-text {
          color: $brand-primary;
        }
      }
      
      .product-thumb {
        width: 75px;
        height: 75px;
        border-radius: 8px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 0.3s ease-in-out;
        }
      }

      .product-name-text {
        color: $bluegrey-darker;
        font-size: 14px;
        line-height: 17px;
        min-height: 36px;
        padding-top: 5px;
        font-weight: bold;
        white-space: pre-wrap;
        text-align: center;
        width: 100%;
        transition: all 0.3s ease;
      }
      
      .product-price-text {
        color: $bluegrey-dark;
        font-size: 13px;
        font-weight: normal;
        padding-top: 2px;
      }
    }
  }

  .order-item-table {
    /deep/ td {
      vertical-align: top !important;

      .mat-form-field-infix {
        border-top: 0 solid transparent;
      }

      p {
        margin: 0;
      }

      input {
        text-align: right;
      }
    }

    /deep/ .row-expansion {
      background-color: white;
    }
  }

  .product-time {
    font-size: 14px;
  }

  .pos-bottom-container {
    background-color: #fff !important;
  }
}

.pos-right-side {
  label {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  ng-template {
    font-size: 14px;
  }

  form {
    padding-right: 0;
  }

  tabset {
    width: 100%;
  }
}

// .mat-sidenav {
//   min-width: 15vw;

//   .mat-button {
//     width: 100%;
//     position: relative;
//     bottom: 0;
//     margin: 24px 0;
//   }
// }

.demo-content {
  padding: 32px;
  box-sizing: border-box;
}

.mat-toolbar {
  .mat-icon {
    cursor: pointer;
  }

  button {
    background: transparent;
    border: 0;
  }

  .demo-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.demo-dialog-card {
  max-width: 405px;
  margin: 20px 0;
}

/deep/ .mat-input-underline {
  border-bottom: 1px solid #ffffff!important;
}

/deep/ .mat-input:focus {
  border: none !important;
}

/deep/ .mat-input-container {
  width: 100%;
  padding-top: 1.4rem;
}

/deep/ input:focus {
  cursor: none;
  outline-offset: 0;
}

.btn,
ng-select,
span {
  text-transform: none !important;
}

/deep/.app {
  margin: 0 !important;
  height: 100% !important;
  background-color: white !important;
}

.item {
  margin-bottom: 1.5rem;
}

.item img {
  height: 50px;
  width: 100%;
  object-fit: contain;
  padding: 0.25rem;
}

.header-text { text-align:right;
  color: $bluegrey-darker;
  font-size: 0.95rem;
  padding: 0.25rem;
  margin: 0.25rem;
  font-weight: 400;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.row {
  background: white;
}

.card,
.card-header {
  background: white;
  border: 0 !important;
}

/deep/ tabset .tab-content {
  background: white;
  border: 0 !important;
}

/deep/ tabset .nav-tabs .active {
  border: 0 !important;
}

/deep/ tabset .nav-item:hover {
  border: 0 !important;
}

/deep/ tabset .nav-link:hover {
  border: 0 !important;
}

/deep/ tabset .nav-tabs {
  border: 0 !important;
}

/deep/ tabset .nav-link {
  border: 0 !important;
}

.card .card-header {
  padding: 0.75rem 1.25rem;
}

.title {
  text-align: center;
  color: $bluegrey;
  margin: 0 auto 20px;
  font-size: 1.5rem;
}

.header-text { text-align:right;
  color: $bluegrey-darker;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-text {
  color: $grey;
  font-size: 0.85rem;
  margin: 0;
}

.row {
  padding-bottom: 20px;
}

.bottom-btn-group {
  text-align: center;

  .btn-confirm {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: $brand-light;
    color: #000;
    transition: all 0.3s ease;
    text-transform: none !important;

    &:hover {
      background-color: $brand-primary;
    }
  }

  .btn-cancel {
    padding: 10px;
    border-radius: 5px;
    background-color: $grey-lighter;
    color: $grey;
    transition: all 0.3s ease;
    text-transform: none !important;

    &:hover {
      background-color: $grey-light;
      color: $grey-dark;
    }
  }
}

/deep/ ng-select span {
  text-transform: none !important;
}

/deep/ ng-select .btn {
  padding: 0.25rem !important;
}

/deep/ ng-select input {
  color: $grey-dark;
  border-radius: 3px;
  font-size: 0.85rem;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $grey-mild;
    font-size: 0.85rem;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $grey-mild;
    font-size: 0.85rem;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $grey-mild;
    font-size: 0.85rem;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $grey-mild;
    font-size: 0.85rem;
  }

  &:focus {
    color: $grey-dark;
  }
}

.remove-pb {
  padding-bottom: 0 !important;
}

label.checkbox-inline {
  padding-left: 0 !important;
  font-size: 0.875rem;
  font-weight: 400;
  color: #000;
  font-family: 'Helvetica Neue';
}

.sub-header-text {
  float: left;
  font-size: 0.85rem;
}

/deep/ ng-select .ui-select-choices li .active {
  background-color: #428bca !important;
}

/deep/ ng-select .dropdown-item div {
  padding-top: 0.5rem !important;
}

/deep/ .mat-toolbar {
  background: white !important;
  border-bottom: 1px #000;
}

/deep/ .mat-primary {
  background: white !important;
  border-bottom: 1px #000;
}

/deep/ .ng-sidebar__content {
  background: white;
}

input {
  color: rgba(0,0,0,0.7);
}

label {
  border: none;
}

/deep/ .pos-right-side form {
  margin: 0;
}

.row {
  padding-bottom: 0;
}

.card .card-header {
  padding: 0.75rem 1.25rem;
}

.header-text { text-align:right;
  color: $bluegrey-darker;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
}

.info-text {
  color: $grey;
  font-size: 0.85rem;
  margin: 0;
}

.content-text {
  justify-content: flex-end;
  text-align: end;
}

/deep/ tab {
  padding-bottom: 0;
}

/deep/ tab .btn {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
}

.blue-primary {
  color: $brand-primary !important;

  i {
    color: $brand-primary !important;
  }
}

/deep/ tabset .nav-tabs {
  border-bottom: 1px solid !important;
  margin-bottom: 1px;
}

/deep/ tabset .nav-tabs .active {
  margin-bottom: 1px;
}

/deep/ mat-sidenav .order-form {
  padding: 0 !important;
}

/deep/ mat-form-field input {
  cursor: none !important;
  background: white !important;
  outline-offset: 0;
}

/deep/ mat-toolbar input {
  background: white !important;
}

/deep/ mat-toolbar input:focus {
  background: white !important;
}

.btn-group{
  padding: 0 !important;
  margin: 0 !important;
}

/deep/ .pos-container[_ngcontent-c1] .order-item-table[_ngcontent-c1] td{
  vertical-align: middle !important;
}

/deep/ .table thead th{
  // text-align: center !important;
}

/deep/.row-expansion {
  td {
    padding: 4px;
  }
  .item-name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item-topping {
      margin: 2px;
      padding: 5px 12px;
      background-color: lighten($brand-light, 30%);
      color: $brand-light;
      border-radius: 4px;
    }
    
    .item-topping-muted {
      color: $grey-mild;
    }  
  }
}


.checkbox{
  margin-top: 0.25rem !important;
}

.input-group-btn .btn {
  margin: 0;
  background: #e1e6ef;
  border-color: #e1e6ef;
}

/deep/.fa.fa-arrow-circle-o-right:before {
  content: "\f0da" !important;
  color: $brand-light;
}
/deep/.mat-dialog-container {
  padding: 16px;
}

/deep/.fa.fa-arrow-circle-o-down:before {
  content: "\f0d7" !important;
  color: $brand-light;
}

/deep/.index-column-header {
  text-align: center;
}
/deep/th:nth-child(6) {
  text-align: right;
}
/deep/th:nth-child(7) {
  text-align: right;
}