<mat-toolbar color="primary">
  <div class="row" style="width:100%;">
    <div class="col-md-12">
      <mat-form-field floatPlaceholder="never">
        <input matInput placeholder="Tìm kiếm..." [matAutocomplete]="reactiveAuto" [formControl]="productState">
        <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displaySearchProduct">
          <mat-option (onSelectionChange)="onChangeAutocompleteProduct($event, product)" *ngFor="let product of autocompleteProduct | async" [value]="product.name">
            <span class="header-text">{{ product.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="pos-container">
  <mat-sidenav class="pos-right-side" mode="side" opened="true" align="end">
    <form class="row order-form" #itemFrm="ngForm" style="width:100% !important; padding: 8px;">
      <tabset>
        <tab>
          <ng-template tabHeading>Hóa đơn
          </ng-template>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" layout-fill layout-align="center center" for="text-input">Nhân viên</label>
                <div class="col-md-8">
                  <input type="text" #employeeNameControl="ngModel" [(ngModel)]="employeeName" name="employeeName" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" layout-fill layout-align="center center" for="text-input">Chi nhánh</label>
                <div class="col-md-8">
                  <input type="text" #branchNameControl="ngModel" [(ngModel)]="branchName" name="branchName" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row" [hidden]="true">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Số điện thoại</label>
                <div class="col-md-8">
                  <ng-select #customerSelect [allowClear]="true" [multiple]="false" [items]="autocompleteCustomerData" (mouseleave)="addToItems()" (data)="refreshValue($event)" (typed)="onChangeCustomer($event)" (data)="refreshValue($event)" (change)="test($event)" (selected)="selected($event)"
                    (removed)="removed($event)" (input)="detectChangeSelect($event.target.value)" placeholder="Nhập số điện thoại khách hàng" style="  text-transform:none !important;"></ng-select>
                </div>
              </div>
              <div class="form-group row" [hidden]="true">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khách hàng</label>
                <div class="col-md-8">
                  <ng-select #customerNameSelect [allowClear]="true" [multiple]="false" [items]="autocompleteCustomerNameData" (mouseleave)="addToNameItems()" (data)="refreshValueName($event)" (typed)="onChangeCustomerName($event)" (data)="refreshValueName($event)" (change)="test($event)"
                    (selected)="selectedName($event)" (removed)="removedName($event)" (input)="detectChangeNameSelect($event.target.value)" placeholder="Nhập tên khách hàng"></ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Số điện thoại</label>
                <div class="col-md-8">
                  <input type="text" #customerPhoneAtStoreControl="ngModel" [(ngModel)]="customerPhoneAtStore" (ngModelChange)="detectCustomerByPhone($event)" name="customerPhoneAtStore" class="input-control form-control" placeholder="+84 hoặc 0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Tên khách hàng</label>
                <div class="col-md-8">
                  <input type="text" #customerNameAtStoreControl="ngModel" [(ngModel)]="customerNameAtStore" name="customerNameAtStore" [readonly]="this.customer!=null?true:false" class="input-control form-control" placeholder="Tên khách hàng" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phụ thu</label>
                <div class="col-md-8">
                  <input type="text" #subFeeControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="subFee" name="subFee" (ngModelChange)="updateOutputSubFee($event)" class="form-control input-control"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Nội dung phụ thu</label>
                <div class="col-md-8">
                  <input type="text" #subFeeNoteControl="ngModel" [(ngModel)]="subFeeNote" name="subFeeNote" class="form-control input-control" placeholder="Ghi chú phụ thu"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Xuất hóa đơn đỏ</label>
                <div class="col-md-8">
                  <input type="checkbox" #isVATControl="ngModel" [(ngModel)]="isVAT" name="isVAT" (ngModelChange)="checkVAT($event)" class="form-control input-control checkbox">
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Chi nhánh</label>
                <div class="col-md-8">
                  <select id="channelSelect" #branchControl="ngModel" [(ngModel)]="branch" name="branch" class="form-control input-control">
                        <option *ngFor="let v of branchData | async" [value]="v.id">
                          {{v.name}}
                        </option>
                      </select>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Ghi chú</label>
                <div class="col-md-8">
                  <input type="text" #noteControl="ngModel" [(ngModel)]="note" name="note" class="form-control input-control" placeholder="Nhập ghi chú" required/>
                </div>
              </div>
              <div class="form-group row" [hidden]="this.customer!=null?false:true">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khuyến mãi</label>
                <div class="col-md-8">
                  <select id="promotionSelect" #promotionControl="ngModel" [(ngModel)]="promotion" name="promotion" class="form-control input-control">
                        <option *ngFor="let v of promotionData | async" [value]="v.code">
                          {{v.name}}
                        </option>
                      </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Kênh</label>
                <div class="col-md-8">
                  <select id="channelSelect" #channelControl="ngModel" [(ngModel)]="channel" name="channel" class="form-control input-control">
                        <option *ngFor="let v of channels" [value]="v.code">
                          {{v.name}}
                        </option>
                      </select>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Total amount</label>
                <div class="col-md-8">
                  <input type="text" #totalAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="totalAmount" name="totalAmount" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Receive amount</label>
                <div class="col-md-8">
                  <input type="text" #receiveAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="receiveAmount" name="receiveAmount" (ngModelChange)="calculateRemainAndReturnAmount()" class="form-control input-control" required/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Pay amount</label>
                <div class="col-md-8">
                  <input type="text" #payAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="payAmount" name="payAmount" class="form-control input-control" (ngModelChange)="calculateRemainAndReturnAmount()" required/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Return amount</label>
                <div class="col-md-8">
                  <input type="text" #returnAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="returnAmount" name="returnAmount" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Remain amount</label>
                <div class="col-md-8">
                  <input type="text" #remainAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="remainAmount" name="remainAmount" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Tình trạng</label>
                <div class="col-md-8">
                  <input type="text" #paidTypeControl="ngModel" [(ngModel)]="paidType" name="paidType" class="form-control input-control" readonly/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-10 offset-sm-2">
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Thành tiền</label>
                    <div class="col-md-8 content-text ">
                      {{outputAmountOfPriceItems | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phụ thu</label>
                    <div class="col-md-8 content-text ">
                      {{outputSubFee | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phí giao hàng</label>
                    <div class="col-md-8 content-text ">
                      {{outputShipFee | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khuyến mãi</label>
                    <div class="col-md-8 content-text ">
                      {{outputPromotion | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">VAT</label>
                    <div class="col-md-8 content-text ">
                      {{outputVAT | accounting}}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Tổng tiền</label>
                    <div class="col-md-8 content-text ">
                      {{outputAmountOfPurchase | accounting}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button class="btn btn-ladda btn-primary ml-auto" (click)="orderAtStore()"><i class="fa fa-plus"></i> Tạo đơn hàng</button>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading>Đơn hàng
          </ng-template>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" layout-fill layout-align="center center" for="text-input">Nhân viên</label>
                <div class="col-md-8">
                  <input type="text" #employeeNameControl="ngModel" [(ngModel)]="employeeName" name="employeeName" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" layout-fill layout-align="center center" for="text-input">Chi nhánh</label>
                <div class="col-md-8">
                  <input type="text" #branchNameControl="ngModel" [(ngModel)]="branchName" name="branchName" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row" [hidden]="true">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Số điện thoại</label>
                <div class="col-md-8">
                  <ng-select [multiple]="false" [items]="autocompleteCustomerData" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (input)="detectChangeSelect($event.target.value)" placeholder="Nhập số iện thoại khách hàng"></ng-select>
                </div>
              </div>
              <div class="form-group row" [hidden]="true">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khách hàng</label>
                <div class="col-md-8">
                  <ng-select [multiple]="false" [items]="autocompleteCustomerNameData" (data)="refreshValueName($event)" (selected)="selectedName($event)" (removed)="removedName($event)" (input)="detectChangeNameSelect($event.target.value)" placeholder="Nhập tên khách hàng"></ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Số điện thoại</label>
                <div class="col-md-8">
                  <input type="text" #customerPhoneOnlineControl="ngModel" [(ngModel)]="customerPhoneAtStore" (ngModelChange)="detectCustomerByPhone($event)" name="customerPhoneOnline" class="input-control form-control" placeholder="+84 hoặc 0" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Tên khách hàng</label>
                <div class="col-md-8">
                  <input type="text" #customerNameOnlineControl="ngModel" [(ngModel)]="customerNameAtStore" name="customerNameOnline" [readonly]="this.customer!=null?true:false" class="input-control form-control" placeholder="Tên khách hàng" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Địa chỉ</label>
                <div class="col-md-8">
                  <input type="text" #addressControl="ngModel" [(ngModel)]="address" name="address" class="form-control input-control" [placeholder]="'Nhập địa chỉ'" required autocorrect="off" autocapitalize="off" spellcheck="off" #addressInput>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Giao hàng</label>
                <div class="col-md-8">
                  <input type="text" #shipFeeControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="outputShipFee" name="outputShipFee" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Giờ giao hàng</label>
                <div class="col-md-8">
                  <input type="text" #deliveryTimeControl="ngModel" [textMask]="{mask: dateMask}" [(ngModel)]="deliveryTime" name="deliveryTime" (ngModelChange)="updateDeliveryTime($event)" class="form-control input-control" required/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phụ thu</label>
                <div class="col-md-8">
                  <input type="text" #subFeeControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="subFee" (ngModelChange)="updateOutputSubFee($event)" name="subFee" class="form-control input-control"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Nội dung phụ thu</label>
                <div class="col-md-8">
                  <input type="text" #subFeeNoteControl="ngModel" [(ngModel)]="subFeeNote" name="subFeeNote" class="form-control input-control" placeholder="Ghi chú phụ thu"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Xuất hóa đơn đỏ</label>
                <div class="col-md-8">
                  <input type="checkbox" #isVATControl="ngModel" [(ngModel)]="isVAT" name="isVAT" (ngModelChange)="checkVAT($event)" class="form-control input-control checkbox">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Ghi chú</label>
                <div class="col-md-8">
                  <input type="text" #noteControl="ngModel" [(ngModel)]="note" name="note" class="form-control input-control" placeholder="Nhập ghi chú" required/>
                </div>
              </div>
              <div class="form-group row" [hidden]="this.customer!=null?false:true">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khuyến mãi</label>
                <div class="col-md-8">
                  <select id="promotionSelect" #promotionControl="ngModel" [(ngModel)]="promotion" name="promotion" class="form-control input-control">
                        <option *ngFor="let v of promotionData | async" [value]="v.code">
                          {{v.name}}
                        </option>
                      </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Kênh</label>
                <div class="col-md-8">
                  <select id="channelOnlineSelect" #channelOnlineControl="ngModel" [(ngModel)]="channelOnline" name="channelOnline" class="form-control input-control">
                        <option *ngFor="let v of channelOnlines" [value]="v.code">
                          {{v.name}}
                        </option>
                      </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Hình thức nhận hàng</label>
                <div class="col-md-8">
                  <select id="deliveryMethodSelect" #deliveryMethodControl="ngModel" [(ngModel)]="deliveryMethod" name="deliveryMethod" class="form-control input-control">
                        <option *ngFor="let v of deliveryMethods" [value]="v.code">
                          {{v.name}}
                        </option>
                      </select>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Thông tin người nhận</label>
                <div class="col-md-8">
                  <button (click)="openUpdateReceiverInfoDialog()"
                type="button" class="btn btn-sm btn-success btn-ladda btn-item"><i class="icon-plus icons font-xl p-q"></i> Add</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Thông tin người trả tiền</label>
                <div class="col-md-8">
                  <button (click)="openUpdatePayerInfoDialog()"
                type="button" class="btn btn-sm btn-success btn-ladda btn-item"><i class="icon-plus icons font-xl p-q"></i> Add</button>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Total amount</label>
                <div class="col-md-8">
                  <input type="text" #totalAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="totalAmount" name="totalAmount" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Receive amount</label>
                <div class="col-md-8">
                  <input type="text" #receiveAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="receiveAmount" name="receiveAmount" (ngModelChange)="calculateRemainAndReturnAmount($event)" class="form-control input-control" required/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Pay amount</label>
                <div class="col-md-8">
                  <input type="text" #payAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="payAmount" name="payAmount" class="form-control input-control" (ngModelChange)="calculateRemainAndReturnAmount($event)" required/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Return amount</label>
                <div class="col-md-8">
                  <input type="text" #returnAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="returnAmount" name="returnAmount" class="form-control input-control" readonly/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 header-text form-control input-control-label" for="text-input">Remain amount</label>
                <div class="col-md-8">
                  <input type="text" #remainAmountControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="remainAmount" name="remainAmount" class="form-control input-control" readonly/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-10 offset-sm-2">
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Thành tiền</label>
                    <div class="col-md-8 content-text ">
                      {{outputAmountOfPriceItems | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phụ thu</label>
                    <div class="col-md-8 content-text ">
                      {{outputSubFee | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phí giao hàng</label>
                    <div class="col-md-8 content-text ">
                      {{outputShipFee | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khuyến mãi</label>
                    <div class="col-md-8 content-text ">
                      {{outputPromotion | accounting}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">VAT</label>
                    <div class="col-md-8 content-text ">
                      {{outputVAT | accounting}}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label class="col-md-4 header-text form-control input-control-label" for="text-input">Tổng tiền</label>
                    <div class="col-md-8 content-text ">
                      {{outputAmountOfPurchase | accounting}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <button class="btn btn-ladda btn-primary ml-auto" (click)="orderOnline()"><i class="fa fa-plus"></i> Tạo đơn hàng</button>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </form>
    <!-- </mat-toolbar> -->
  </mat-sidenav>
  <ng-sidebar-container>
    <ng-sidebar class="pos-bottom-side" #posBottomSidebar style="backgroud-color:white" [opened]="true" position="bottom" mode="side" [dock]="true" dockedSize="20px">
      <div class="pos-bottom-dock-bar">
        <mat-icon (click)="posBottomSidebar.opened?posBottomSidebar.close():posBottomSidebar.open()">call_to_action</mat-icon>
      </div>
      <swiper class="pos-bottom-container" [config]="swiperOptions">
        <div class="swiper-wrapper">
          <div class="swiper-slide row" style="pading:4px" *ngFor="let v of productData | async">
            <div class="col-md-12 product-time" (click)="addProduct(v)">
              <img class="product-thumb" src={{v.thumb}}/>
              <br>
              <span class="product-name-text" style="white-space: pre;">{{ v.name }} </span>
              <br>
              <span class="product-price-text">{{ v.price | accounting}}</span>
            </div>
          </div>
        </div>
      </swiper>

    </ng-sidebar>
    <div ng-sidebar-content>
      <data-table #itemsTable class="order-item-table" [header]="false" indexColumnHeader="STT" [items]="selectedProduct" [pagination]="false" [indexColumn]="true" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [selectOnRowClick]="false"
        [expandableRows]="true">
        <data-table-column header="Thông tin">
          <template #dataTableCell let-item="item">
            <p class="item-name">{{item?.name}}</p>
          </template>
          <template #dataTableExpand let-item="item" class="order-item-expand">
            <div class="item-name" *ngIf="item?.toppings!=null && item?.toppings?.length>0">
            <small  class="item-topping" *ngFor="let topping of item.toppings">{{topping.name}}, </small></div>
          </template>
        </data-table-column>
        <data-table-column header="Số lượng" width="100px">
          <template #dataTableCell let-item="item">
            <div class="cell-input">
              <input type="number" class="form-control input-control" [value]="item?.amount" #amount (keyup.enter)="updateAmount(item, amount.value)" (change)="updateAmount(item, amount.value)"/>
            </div>
          </template>
        </data-table-column>
        <data-table-column header="Đơn giá" width="120px">
          <template #dataTableCell let-item="item">
            <p class="content-text">{{item?.price | accounting}}</p>
          </template>
        </data-table-column>
        <data-table-column header="Thành tiền" width="120px">
          <template #dataTableCell let-item="item">
            <p class="content-text">{{item?.total | accounting}}</p>
          </template>
        </data-table-column>
        <data-table-column header="Actions">
          <template #dataTableCell let-item="item">
                  <button (click)="getToppings(item.id)"
                type="button" class="btn btn-sm btn-success btn-ladda btn-item"
                data-style="expand-right" [ladda]='item.deleting?true:false'><i class="icon-plus icons font-xl p-q d-block"></i></button>
                    <span class="btn-group">
                        <button (click)="removeProduct(item)"
                            type="button" class="btn btn-sm btn-danger btn-ladda btn-item"
                            data-style="expand-right" [ladda]='item.deleting?true:false'><i class="icon-trash icons font-xl p-q d-block"></i></button>
                    </span>
                </template>
        </data-table-column>
      </data-table>
      <div class="row" style="padding:8px;">
        <div class="col-md-8 offset-sm-4">
          <div class="form-group row">
            <label class="col-md-4 header-text form-control input-control-label" for="text-input">Thành tiền</label>
            <div class="col-md-8 content-text ">
              {{outputAmountOfPriceItems | accounting}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phụ thu</label>
            <div class="col-md-8 content-text ">
              {{outputSubFee | accounting}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 header-text form-control input-control-label" for="text-input">Phí giao hàng</label>
            <div class="col-md-8 content-text ">
              {{outputShipFee | accounting}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 header-text form-control input-control-label" for="text-input">Khuyến mãi</label>
            <div class="col-md-8 content-text ">
              {{outputPromotion | accounting}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 header-text form-control input-control-label" for="text-input">VAT</label>
            <div class="col-md-8 content-text ">
              {{outputVAT | accounting}}
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-4 header-text form-control input-control-label" for="text-input">Tổng tiền</label>
            <div class="col-md-8 content-text ">
              {{outputAmountOfPurchase | accounting}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-sidebar-container>

  <!-- <ng-template let-data let-dialogRef="dialogRef">
    <p *ngFor="let v of selectedTopping">v.name</p>
    <mat-input-container>
      <input matInput placeholder="How much?" #howMuch>
    </mat-input-container>

    <p> {{ data.message }} </p>
    <button type="button" (click)="dialogRef.close(lastCloseResult = howMuch.value)">Close dialog</button>
    <button (click)="dialogRef.updateSize('500px', '500px').updatePosition({ top: '25px', left: '25px' });">Change dimensions</button>
  </ng-template> -->

</mat-sidenav-container>
