<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form #itemFrm="ngForm">
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Tên dịch vụ</label>
              <div class="col-md-10">
                <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên công ty'">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Logo</label>
              <div class="col-md-10">
                <input type="text" #logoControl="ngModel" [(ngModel)]="logo" name="logo" class="form-control input-control" [placeholder]="logo?'':'Nhập logo'" url required/>
                <small *ngIf="logoControl.errors?.url" class="text-muted danger">
                    (Link không hợp lệ)
                  </small>
                  <small *ngIf="logoControl.errors?.required" class="text-muted danger">
                      (Không thể bỏ trống)
                    </small>
                <img *ngIf="logoControl.value && logoControl.valid" style="width:auto;height:80px;margin-top:0.25rem;" [src]="logoControl.value" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Màu chủ đạo</label>
              <div class="col-md-10">
                <input type="text" #colorControl="ngModel" [(ngModel)]="color" name="color" class="form-control input-control" [placeholder]="'Nhập mã màu'">
                <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="rgbaText=onChangeColorHex8($event);color=$event" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Tên chủ dịch vụ</label>
              <div class="col-md-10">
                <input type="text" #ownerControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên chủ dịch vụ'" required>
                <small *ngIf="ownerControl.errors?.required" class="text-muted danger">
                    (Không thể bỏ trống)
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
              <div class="col-md-10">
                <textarea type="text" #descriptionControl="ngModel" [(ngModel)]="description" name="description" class="form-control input-control" [placeholder]="'Mô tả'" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Địa chỉ</label>
              <div class="col-md-10">
                <input type="text" #addressControl="ngModel" [(ngModel)]="address" name="address" class="form-control input-control" [placeholder]="'Nhập địa chỉ'" required autocorrect="off" autocapitalize="off" spellcheck="off" #addressInput>
              </div>
              <div class="col-md-12 mt-1">
                <agm-map [latitude]="latitudeMap" [longitude]="longitudeMap" [scrollwheel]="false" [zoom]="zoom">
                  <agm-marker [latitude]="latitudeMap" [longitude]="longitudeMap"></agm-marker>
                </agm-map>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Số điện thoại</label>
              <div class="col-md-10">
                <input type="number" #phoneControl="ngModel" [(ngModel)]="phone" name="phone" class="form-control input-control" [placeholder]="'Nhập số điện thoại'" required>
                <small *ngIf="phoneControl.errors?.required" class="text-muted danger">
                    (Không thể bỏ trống)
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Nhóm ngành</label>
              <div class="col-md-10">
                <select id="categorySelect" #brandCategoryControl="ngModel" [(ngModel)]="brandCategory" name="brandCategory" class="form-control input-control">
                      <option value="null" disabled="true" [selected]="true">Chọn nhóm ngành</option>
                      <option *ngFor="let v of brandCategories | async" [value]="v.id">
                        {{v.name}}
                      </option>
                    </select>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Nhóm kinh doanh</label>
              <div class="col-md-10">
                <select id="select" name="select" class="form-control input-control" size="1">
                  <option value="0">Chọn nhóm kinh doanh</option>
                  <option value="1">Dịch vụ ăn uống</option>
                  <option value="2">Cho thuê nhân sự</option>
                  <option value="3">Khác</option>
                </select>
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Thời gian trial</label>
              <div class="col-md-10">
                <input type="text" #dateModelControl="ngModel" [textMask]="{mask: dateMask}" [(ngModel)]="trialExpire" name="trialExpire" class="form-control input-control" [placeholder]="'Nhập trial'">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Gói dịch vụ</label>
              <div class="col-md-10">
                <select id="select" name="select" class="form-control input-control" size="1">
                  <option value="0">Chọn gói dịch vụ</option>
                  <option value="1">Gói A</option>
                  <option value="2">Gói B</option>
                  <option value="3">Gói C</option>
                </select>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Hạn mức ký quỹ</label>
              <div class="col-md-10">
                <input type="text" #depositControl="ngModel" [(ngModel)]="deposit" name="deposit" class="form-control input-control" [placeholder]="'Nhập tiền ký quỹ'">
              </div>
            </div> -->
            <!-- <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Giờ mở cửa</label>
              <div class="col-md-10">
                <input type="text" #dateModelControl="ngModel" [textMask]="{mask: dateMask}" [(ngModel)]="trialExpire" name="trialExpire" class="form-control input-control" [placeholder]="'Nhập trial'">
              </div>
            </div> -->
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Thanh toán online</label>
              <div class="col-md-10">
                <input type="checkbox" (change)="checkOnlinePayment($event,isOnlinePayment)" [checked]="isOnlinePayment">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Xuất hóa đơn đỏ</label>
              <div class="col-md-10">
                <input type="text" #vatValueControl="ngModel" [(ngModel)]="vatValue" name="vatValue" class="form-control input-control" [placeholder]="'Nhập chi phí'" required>
                <small *ngIf="vatValueControl.errors?.required" class="text-muted danger">
                    (Không thể bỏ trống)
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Giờ mở cửa</label>
              <div class="col-md-10">
                <input type="text" #openHourControl="ngModel" [textMask]="{mask: timeMask}" [(ngModel)]="openHour" name="openHour" class="form-control input-control" [placeholder]="'Nhập giờ mở cửa'">
                <small *ngIf="openHourControl.errors?.required" class="text-muted danger">
                    (Không thể bỏ trống)
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Giờ đóng cửa</label>
              <div class="col-md-10">
                <input type="text" #closeHourControl="ngModel" [textMask]="{mask: timeMask}" [(ngModel)]="closeHour" name="closeHour" class="form-control input-control" [placeholder]="'Nhập đóng cửa'">
                <small *ngIf="closeHourControl.errors?.required" class="text-muted danger">
                    (Không thể bỏ trống)
                  </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Ngày hoạt động</label>
              <div class="col-md-10">
                <span class="days-input" *ngFor="let day of days"><input type="checkbox" (change)="checkDayStatus($event,day)" [checked]="day.status">{{day.name}}</span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="updateAndClose(itemFrm)" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-edit"></i> Cập nhật</button>
        </div>

      </div>
    </div>
  </div>
</div>
