<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button"><i class="material-icons">keyboard_arrow_left</i></button>
  <a class="navbar-brand" [routerLink]="['/launcher/tool']">
    <div class="logo-wrapper"><img id="logo" src="../../assets/img/logo-white.svg"/></div>
  </a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item dropdown" dropdown placement="bottom" id="accountDropdownMenu">
      <button class="nav-link nav-pill avatar dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <div *ngIf="!employee.avatar" >{{employee.fullname[0]}}</div>
        <img src="{{employee.avatar?employee.avatar:''}}" class="img-avatar" *ngIf="employee.avatar" onerror="this.style.display = 'none'">
      </button>
      <div class="user-name hidden-md-down"  data-toggle="dropdown">
        {{employee.fullname}}<i class="material-icons">keyboard_arrow_down</i>
      </div>
      <ul class="dropdown-menu" aria-labelledby="accountDropdownMenu">
        <li class="dropdown-item"><a><i class="fa fa-user"></i> Thông tin tài khoản</a></li>
        <li class="dropdown-item"><a><i class="fa fa-wrench"></i> Cài đặt</a></li>
        <li class="dropdown-item"><a><i class="fa fa-shield"></i> Khoá tài khoản</a></li>
        <li class="dropdown-item" (click)="logout()"><a><i class="fa fa-lock"></i> Đăng xuất</a></li>
      </ul>
    </li>

    <div class="name-separator hidden-md-down"></div>

    <li class="nav-item dropdown hidden-md-down" dropdown placement="bottom right" (onToggle)="toggled($event)">
      <a class="nav-link nav-pill" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              <i class="fa fa-bell-o" aria-hidden="true"></i><span class="badge badge-pill badge-danger">5</span>
          </a>
      <ul class="dropdown-menu" aria-labelledby="accountDropdownMenu">
        <li class="dropdown-item"><i class="fa fa-user"></i> Đơn hàng chờ duyệt</li>
        <li class="dropdown-item"><i class="fa fa-wrench"></i> Đơn hàng chờ thu phí</li>
        <li class="dropdown-item"><i class="fa fa-shield"></i> Đơn hàng báo huỷ</li>
      </ul>
    </li>

    <li class="nav-item dropdown hidden-md-down" dropdown placement="bottom right" (onToggle)="toggled($event)">
      <a class="nav-link nav-pill" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              <i class="fa fa-commenting-o"></i>
          </a>
    </li>

    <li class="nav-item dropdown hidden-md-down" dropdown placement="bottom right" (onToggle)="toggled($event)">
      <a class="nav-link nav-pill" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              <i class="icon-settings"></i>
          </a>
    </li>

    <li class="nav-item dropdown hidden-md-down" dropdown placement="bottom right" (onToggle)="toggled($event)" (click)="logout()">
      <a class="nav-link nav-pill" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              <i class="fa fa-power-off"></i>
          </a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto hidden-md-down">
        <li class="nav-item">
          <a class="nav-link navbar-toggler aside-menu-toggler" href="javascript:;"><i class="material-icons">menu</i></a>
        </li>
  </ul>
</header>

<div class="app-body">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
