<div class="row wide-bg animated fadeIn">
  <div class="col-12 bill-container">
    <div class="card email-app">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="billFilterInfo.code?.length?'blue-primary':''"><i class="fas fa-map-signs"></i> Mã đơn hàng</a>
            <input type="text" #billContent [(ngModel)]="billFilterInfo.code" class="input-control form-control" (keyup)="onChangeBill(billContent.value)" placeholder="Tìm kiếm đơn hàng">
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="billFilterInfo.billAction?'blue-primary':''"><i class="fas fa-info-circle"></i> Trạng thái</a>
            <select #action [(ngModel)]="billFilterInfo.billAction" (ngModelChange)="onChangeAction($event)" class="select-control form-control">
              <option [ngValue]="all" selected>
                  Tất cả
              </option>
              <option *ngFor="let v of actions" [ngValue]="v.code">
                {{v.name}}
              </option>
            </select>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="billFilterInfo.billPhone?.length?'blue-primary':''"><i class="fas fa-phone"></i> Số điện thoại</a>
            <input #billPhone [(ngModel)]="billFilterInfo.billPhone" class="input-control form-control" (keyup)="onChangeCustomer(billPhone.value)" type="text" placeholder="+84 hoặc 0">
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="billFilterInfo.billCustomer?.length?'blue-primary':''"><i class="fas fa-user"></i> Họ và tên</a>
            <input #billCustomer [(ngModel)]="billFilterInfo.billCustomer" class="input-control form-control" (keyup)="onChangeCustomerName(billCustomer.value)" type="text" placeholder="Tên khách hàng">
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="billFilterInfo.billEmployee?'blue-primary':''"><i class="fas fa-bicycle"></i> Nhân viên</a>
            <select #billEmployee [(ngModel)]="billFilterInfo.billEmployee" (ngModelChange)="onChangeEmployee($event)" class="select-control form-control">
              <option [ngValue]="all" selected>
                  Tất cả
              </option>
              <option *ngFor="let v of employees | async" [ngValue]="v.id">
                {{v.fullname}}
              </option>
            </select>
          </li>
          <li class="nav-item" *ngIf="false">
            <a class="nav-link" [ngClass]="billFilterInfo.billArea?'blue-primary':''"><i class="fas fa-map"></i> Khu vực</a>
            <select [(ngModel)]="billFilterInfo.billArea" class="select-control form-control">
              <option [ngValue]="all" selected>
                  Tất cả
              </option>
              <option *ngFor="let v of areas | async" [ngValue]="v.name">
                {{v.name}}
              </option>
            </select>
          </li>
        </ul>
      </nav>
      <main class="bill-list">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
