<div class="animated fadeIn">
  <div class="heading-figures row">
    <div class="profit col-md-6">
        <span class="current-profit">5,632,000đ</span>
        <span class="profit-text">DOANH THU</span>
    </div>
    <div class="right-figures col-md-6">
        <div class="figure-group" *ngFor="let top_right_info of top_right_infos">
          <div class="right-figure-number">{{top_right_info.number}}</div>
          <div class="right-figure-text">{{top_right_info.text}}</div>
        </div>
    </div>
  </div>
  <div class="card-group row row-eq-height">
    <div class="col-md-2 col-sm-4 col-4 box" *ngFor="let sub_header_info of sub_header_infos">
        <div class="card">
          <div class="card-body text-center">
            <div class="box-number">{{ sub_header_info.number }}</div>
            <div class="box-text">{{ sub_header_info.text }}</div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="card-group">
    <div class="card">
      <div class="card-block">
        <h5>Chi nhánh: {{branch.address}}</h5>
        <h5>Hotline: {{branch.phone}}</h5>
        <h5>Nhân viên phụ trách: {{employeeData.fullname}}</h5>
      </div>
    </div>
  </div> -->
</div>
<div class="row wide-bg animated fadeIn">
  <div class="col-12 bill-container">
    <div class="card email-app">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-map-signs"></i> Mã đơn hàng{{billId}}</a>
            <input type="text" [(ngModel)]="billId" class="bill-input form-control" placeholder="Tìm kiếm đơn hàng">
            <!-- <div class="form-group">
              <input type="text" class="form-control" formControlName="addressInput" placeholder="Tìm kiếm đơn hàng" #bill (keydown.enter)="onChangeBill(bill.value)" />
            </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-info-circle"></i> Trạng thái</a>
            <select [(ngModel)]="billAction" class="bill-input-select form-control">
              <option [ngValue]="all" selected>
                  Tất cả
              </option>
              <option *ngFor="let v of actions" [ngValue]="v.code">
                {{v.name}}
              </option>
            </select>
            <!-- <div class="form-group">
              <select id="actionSelect" name="select" class="form-control" size="1" #action (change)="onChangeAction(action.value)">
                <option *ngFor="let v of actions" [value]="v.code">
                  {{v.name}}
                </option>
                          </select>
            </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-phone"></i> Số điện thoại</a>
            <input [(ngModel)]="billPhone" class="bill-input form-control" type="text" placeholder="+84 hoặc 0">
            <!-- <div class="form-group">
              <ng-select #customerSelect [allowClear]="true" [multiple]="false" [items]="autocompleteCustomerData" (mouseleave)="addToItems()" (data)="refreshValue($event)" (typed)="onChangeInputCustomer($event)"  (data)="refreshValue($event)" (selected)="selectedCustomer($event)" (removed)="removed($event)" (input)="detectChangeSelect($event.target.value)" placeholder="Số điện thoại" style="  text-transform:none !important;"></ng-select>
            </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-user"></i> Họ và tên</a>
            <input [(ngModel)]="billCustomer" class="bill-input form-control" type="text" placeholder="Tên khách hàng">
            <!-- <div class="form-group">
              <ng-select #customerNameSelect [allowClear]="true" [multiple]="false" [items]="autocompleteCustomerNameData" (mouseleave)="addToNameItems()" (data)="refreshValueName($event)" (typed)="onChangeInputCustomerName($event)"  (data)="refreshValueName($event)" (selected)="selectedCustomerName($event)" (removed)="removedName($event)" (input)="detectChangeNameSelect($event.target.value)" placeholder="Họ và tên" style="  text-transform:none !important;"></ng-select>
            </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-bicycle"></i> Nhân viên</a>
            <select [(ngModel)]="billEmployee" class="bill-input-select form-control">
              <option [ngValue]="all" selected>
                  Tất cả
              </option>
              <option *ngFor="let v of employees | async" [ngValue]="v.id">
                {{v.fullname}}
              </option>
            </select>
            <!-- <div class="form-group">
              <select id="employeeSelect" name="select" formControlName="districtInput" class="form-control" size="1" #employee (change)="onChangeEmployee(employee.value)">
                <option *ngFor="let v of employees | async" [value]="v.id">
                  {{v.fullname}}
                </option>
                              </select>
            </div> -->
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa fa-map"></i> Khu vực</a>
            <select [(ngModel)]="billArea" class="bill-input-select form-control">
              <option [ngValue]="all" selected>
                  Tất cả
              </option>
              <option *ngFor="let v of areas | async" [ngValue]="v.id">
                {{v.name}}
              </option>
            </select>
            <!-- <div class="form-group">
              <select id="areaSelect" name="select" formControlName="districtInput" class="form-control" size="1" #area (change)="onChangeArea(area.value)">
                              <option value="0" selected>Tất cả</option>
                              <option *ngFor="let v of areas | async" [value]="v.id">
                                {{v.name}}
                              </option>
                          </select>
            </div> -->
          </li>
          <button (click)="clicked()">press</button>
        </ul>
      </nav>
      <main class="bill-list">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
