@import "../../../scss/bootstrap-variables";

.heading-figures {
    padding: 0px;
    text-align: left;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    .profit {
        padding-right: 0px;
        .current-profit {
            color: $bluegrey_darker;
            font-size: 3rem;
            font-weight: 500;
        }
        .profit-text {
            color: $bluegrey_dark;
            font-size: 0.85rem;
            font-weight: bold;
        }
    }

    .right-figures {
        text-align: right;
        padding-left: 0px;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
        padding-top: 10px;
        .figure-group {
            display: inline-block;
            text-align: inherit;
            margin: 8px;
            .right-figure-number{
                text-align: inherit;
                color: $brand-primary;
                font-size: 1rem;
            }
            .right-figure-text {
                text-align: inherit;
                color: $bluegrey;
                font-size: 0.7rem;
                font-weight: bold;
            }
        }
    }
}

.box {
    padding: 10px;
    .card {
        margin-bottom: 10px;
        border: 1px solid $grey-lighter;
        height: 100%;
        .card-body {
            padding: 10px;
            height: 100%;
            .box-number {
                color: $bluegrey_darker;
                font-size: 2rem;
                padding-top: 8px;
            }
            .box-text {
                color: $bluegrey_dark;
                font-size: 0.7rem;
                font-weight: bold;
            }
        }
    }
}

.wide-bg {
    background-color: $grey-lightest;
    background-clip: border-box;
    margin-top: 15px;
    margin-left: -30px;
    margin-right: -30px;
    border-top: 30px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid transparent;
}

.bill-container {
    height: 100px;
    height: calc(100vh - 80px);
    background: transparent;
    .email-app {
        background: transparent;
        border: none;
        height: 100%;
        margin-bottom: 0px !important;
        overflow: hidden;
        nav {
            background: white;
            border: none;
            border-radius: 3px;
            height: auto;
            display: block;
            padding: 8px 15px;
            .nav-link {
                color: $bluegrey-darker;
                font-weight: normal;
                padding: 0px;
                border: none;
                transition: all 0.3s ease;
                padding-top: 8px;
                i {
                    color: $bluegrey-mild;
                    margin-left: 5px;
                    margin-right: 8px;
                    transition: all 0.3s ease;
                }
            }
            .form-group {
                margin-bottom: 8px;
            }
        }
        .bill-list {
            background: white;
            margin-left: 8px;
            border-radius: 3px;
            height: 100%;
            padding: 0px !important;
        }
    }
}

.blue-primary {
    color: $brand-primary !important;
    i {
        color: $brand-primary !important;
    }
}