.form-control::-webkit-input-placeholder {
    color: #374767;
}

.form-group::-webkit-input-placeholder {
    color: #374767;
}

.input_transparent {
	background: rgba(255,255,255,0); 
	border: rgba(255,255,255,0) !important; 
	color: #000; 
	padding: 0px;
}