<!--<div class="toolbar" *ngIf="page">
	<span class="btn-group">
			<button type="button" class="btn btn-outline-primary" (click)="showModal('text_card')"> TEXT</button>
			<button type="button" class="btn btn-outline-primary" (click)="showModal('button_card')"> BUTTON</button>
			<button type="button" class="btn btn-outline-primary" (click)="showModal('image_card')"> MEDIA</button>
			<button type="button" class="btn btn-outline-primary"> LIST</button>
			<button type="button" class="btn btn-outline-primary"> QUICK REPLY</button>
			<button type="button" class="btn btn-outline-primary"> MORE</button>
	</span>
</div>-->
<div class="portal-container non-toolbar" *ngIf="page">
		<div class="portal" [id]="'portal-'+i" *ngFor="let portal of stack; let i = index">
			<app-stories-portal *ngIf="portal.type == 'stories'" 
					(onStorySelected)="onStorySelected($event)"
					(onLoaded)="onPortalLoaded($event)"
					[page]="pageObject"
					[stackIndex]="i">
			</app-stories-portal>
			<app-story-portal *ngIf="portal.type == 'story'"
					[stackIndex]="i"
					[story]="portal.data"
					(onLoaded)="onPortalLoaded($event)"
					(onClose)="onPortalClosed($event)"
					(onPostbackSelected)="onStorySelected($event)"
					(onQuickRepliesSelected)="onQuickReplies($event)">
			</app-story-portal>
			<app-quick-replies-portal *ngIf="portal.type == 'quick_replies'"
					[stackIndex]="i"
					[story]="portal.data.story"
					[card]="portal.data.card"
					(onLoaded)="onPortalLoaded($event)"
					(onClose)="onPortalClosed($event)"
					(onPostbackSelected)="onStorySelected($event)"
					>
			</app-quick-replies-portal>	
		</div>
</div>