<div class="toolbar p-0">
    <nav class="navbar sticky-top navbar-light bg-faded m-0" style="background: rgba(150,150,150,0.2);">
	  	<div class="row">
		    <div class="col-md-2 text-center">
		    	TEXT
		    </div>
		    <div class="col-md-2 text-center">
		    	BUTTON
		    </div>
		    <div class="col-md-2 text-center">
		    	MEDIA
		    </div>
		    <div class="col-md-2 text-center">
		    	LIST
		    </div>
		    <div class="col-md-2 text-center">
		    	QUICK REPLY
		    </div>
		    <div class="col-md-2 text-center">
		    	MORE
		    </div>
	    </div>
	</nav>
</div>
<div class="portal-container">
    <div class="portal" style="width:200px" >
        <div class="card m-0"> 
            <div class="card-header">            		        
		        <div class="row">		              
	              	<div class="col-md-9">
	                	<input type="text" id="text-input" name="text-input" class="form-control input_transparent" placeholder="Danh sách" disabled="">	       
	              	</div>
	              	<div class="col-md-3">
	              		<button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
	              	</div>
	   			</div>
            </div>
            <div class="card-block">
	            <div class="row">
		        	<div class="col-md-12 mt-h mb-h">
		        		<div class="row">
			        		<div class="col-md-10">
				        		Story A
			        		</div>
			        		<div class="col-md-2">
			        			<i class="fa icon-close pull-right"></i>
			        		</div>
			        	</div>
		        	</div>
		        	<div class="col-md-12 mt-h mb-h">
		        		<div class="row">
			        		<div class="col-md-10">
				        		Story B
			        		</div>
			        		<div class="col-md-2">
			        			<i class="fa icon-close pull-right"></i>
			        		</div>
			        	</div>
		        	</div>
		        	<div class="col-md-12 mt-h mb-h">
		        		<div class="row">
			        		<div class="col-md-10">
				        		Story C
			        		</div>
			        		<div class="col-md-2">
			        			<i class="fa icon-close pull-right"></i>
			        		</div>
			        	</div>
		        	</div>
		        </div>
            </div>
        </div>
    </div>
    <div class="portal" style="width:300px" >
        <div class="card m-0"> 
           <div class="card-header">            		        
		        <div class="row">		              
	              	<div class="col-md-6">
	                	<input type="text" id="text-input" name="text-input" class="form-control input_transparent" placeholder="Strory A">	       
	              	</div>
	              	<div class="col-md-6">
	              		<button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
	              		<button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" (click)="myModalWidget.show()"><i class="fa fa-plus"></i></button>
	              	</div>
	   			</div>
            </div>
            <div class="card-block">
            	<div class="row">
	            	<div class="col-sm-12">

				      <div class="card">
				        <div class="card-header">
				          Card 1
				          <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa icon-trash"></i></button>
				        </div>
				        <div class="card-block">
				          Giới thiệu bạn các sản phẩm mới nhất của dịch vụ ăn uống chúng tôi?
				        </div>
				        <div class="card-footer text-center">
				          MUA NGAY
				        </div>
				        <div class="card-footer text-center">
				          ĐẶT HÀNG
				        </div>
				        <div class="card-footer text-center"  data-toggle="modal" (click)="myModalButtonWidget.show()">
				          + ADD BUTTON
				        </div>
				      </div>

				      <div class="card">
				        <div class="card-header">
				          Card 1
				          <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa icon-trash"></i></button>
				        </div>
				        <div class="card-block">
				          <div class="card">
					        <div class="card-header">
					          Card 1
					          <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa icon-trash"></i></button>
					          <button type="button" class="btn btn-success btn-sm pull-right"><i class="fa icon-cloud-upload" data-toggle="modal" (click)="myModalImageWidget.show()"></i></button>
					        </div>
					        <div class="card-block text-center">
					          <i class="fa icon-user"></i> Xem tài khoản
					        </div>				    
					        <div class="card-footer text-center"  data-toggle="modal" (click)="myModalButtonWidget.show()">
					          + TÍNH NĂNG
					        </div>
					      </div>
					      <div class="card">
					        <div class="card-header">
					          Card 1
					          <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa icon-trash"></i></button>
					        </div>
					        <div class="card-block text-center">
					          Nhập thông tin...
					        </div>				    
					        <div class="card-footer text-center"  data-toggle="modal" (click)="myModalButtonWidget.show()">
					          + TÍNH NĂNG
					        </div>
					      </div>
				        </div>				    
				        <div class="card-footer text-center">
				          + ADD BUTTON
				        </div>
				      </div>

				      <div class="card">
				        <div class="card-header">
				          Card 1
				          <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa icon-trash"></i></button>
				        </div>
				        <div class="card-block">
				          <img src="https://freeiconshop.com/wp-content/uploads/edd/person-flat.png" width="100%" data-toggle="modal" (click)="myModalImageWidget.show()">
				        </div>				      
				      </div>


				      <div class="card">
				        <div class="card-header">
				          Card 1
				          <button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa icon-trash"></i></button>
				        </div>
				        <div class="card-block">				        
		        			<div class="row">
		        				<div class="col-md-12 text-center">
		        					 <img src="http://www.irmedia.si/wp-content/uploads/yootheme/photograph.png" height="30px" data-toggle="modal" (click)="myModalImageWidget.show()"/>
		        				</div>
		        				<div class="col-md-12">
		        					<input type="text" class="form-control m-h" id="name" placeholder="Nhập tiêu đề">
		        					<input type="text" class="form-control m-h" id="name" placeholder="Nhập mô tả">
		        					<button type="button" class="btn btn-default btn-sm m-h">ADD BUTTON</button>
		        				</div>
		        			</div>	
		        			<hr>
		        			<div class="row">
		        				<div class="col-md-12 text-center">
		        					 <img src="http://www.irmedia.si/wp-content/uploads/yootheme/photograph.png" height="30px" data-toggle="modal" (click)="myModalImageWidget.show()"/>
		        				</div>
		        				<div class="col-md-12">
		        					<input type="text" class="form-control m-h" id="name" placeholder="Nhập tiêu đề">
		        					<input type="text" class="form-control m-h" id="name" placeholder="Nhập mô tả">
		        					<button type="button" class="btn btn-default btn-sm m-h">ADD BUTTON</button>
		        				</div>
		        			</div>				       
				        </div>				      
				      </div>

					</div><!--/.col-->
				</div>				
            </div>
        </div>
    </div>
    <div class="portal" style="width:600px" >
        <div class="card m-0"> 
            <div class="card-header">            		        
		        <div class="row">		              
	              	<div class="col-md-9">
	                	<input type="text" id="text-input" name="text-input" class="form-control input_transparent" placeholder="Strory A">	       
	              	</div>
	              	<div class="col-md-3">
	              		<button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
	              	</div>
	   			</div>
            </div>
            <div class="card-block">
            </div>
        </div>
    </div>
    <div class="portal" style="width:600px" >
        <div class="card m-0"> 
            <div class="card-header">            		        
		        <div class="row">		              
	              	<div class="col-md-9">
	                	<input type="text" id="text-input" name="text-input" class="form-control input_transparent" placeholder="Strory A">	       
	              	</div>
	              	<div class="col-md-3">
	              		<button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>
	              	</div>
	   			</div>
            </div>
            <div class="card-block">
            </div>
        </div>
    </div>
</div>


<div bsModal #myModalWidget="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chọn loại Card</h4>
        <button type="button" class="close" (click)="myModalWidget.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="row">
        <div class="form-group col-sm-4">
              <label for="ccmonth">Card</label>
              <select class="form-control" id="ccmonth">
              	<option>Chọn loại card</option>
                <option>Text</option>
                <option>Button</option>
                <option>List</option>
                <option>Quick Reply</option>
                <option>Media</option>
                <option>More</option>
              </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalWidget.hide()">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #myModalTextWidget="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Text Card</h4>
        <button type="button" class="close" (click)="myModalTextWidget.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-12 form-control-label" for="textarea-input">Nội dung</label>
            <div class="col-md-12">
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Nhập nội dung"></textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalTextWidget.hide()">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #myModalButtonWidget="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Button Card</h4>
        <button type="button" class="close" (click)="myModalButtonWidget.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
            <label for="name">Nhập tiêu đề</label>
            <input type="text" class="form-control" id="name" placeholder="Nhập tiêu đề">
        </div>
       	<tabset>
       		<tab>
		    	<ng-template tabHeading><i class="icon-eye"></i> URL</ng-template>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
			                <label for="name">Link URL</label>
			                <input type="text" class="form-control" id="name" placeholder="Nhập link URL">
			            </div>
					</div>
				</div>
			</tab>
	  		<tab>
		    	<ng-template tabHeading><i class="icon-eye"></i> Postback</ng-template>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group col-sm-4">
				              <label for="ccmonth">Chọn story</label>
				              <select class="form-control" id="ccmonth">
				              	<option>Chọn story</option>
				                <option>Story 1</option>
				                <option>Story 2</option>
				                <option>Story 3</option>				           
				              </select>
				        </div>
					</div>
				</div>
			</tab>
			<tab>
		    	<ng-template tabHeading><i class="icon-eye"></i> Phone Call</ng-template>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
			                <label for="name">Nhập số điện thoại</label>
			                <input type="text" class="form-control" id="name" placeholder="Nhập số điện thoại">
			            </div>
					</div>
				</div>
			</tab>
		</tabset>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalButtonWidget.hide()">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #myModalImageWidget="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Image Card</h4>
        <button type="button" class="close" (click)="myModalImageWidget.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
        	<div class="col-md-12 text-center">
	  	  		<img src="https://freeiconshop.com/wp-content/uploads/edd/person-flat.png" width="200px" height="200px">
	  	  	</div>
	        <div class="col-md-12 mt-h">
	            <input type="file" id="file-input" name="file-input">
	        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalImageWidget.hide()">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->