<div class="animated fadeIn">
	<tabset>
	  	<tab>
		    <ng-template tabHeading><i class="icon-eye"></i> Thông tin đơn hàng</ng-template>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
						    <div class="card-header">
						        Đơn hàng <strong>#90-98792</strong>
						        <a href="#" class="btn btn-sm btn-info float-right" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
						        <a href="#" class="btn btn-sm btn-info float-right"><i class="fa fa-save"></i> Save</a>
						    </div>
						    <div class="card-block">
						        <div class="row mb-2">

						            <div class="col-sm-4">
						                <h6 class="mb-1">Khách hàng:</h6>
						                <div><strong>Uy Minh</strong></div>
						                <div>Địa chỉ: 400 Lê Hồng Phong, Quận 10, Phường 11, TPHCM</div>			      
						                <div>Phone: 0901403819</div>
						            </div><!--/.col-->

						            <div class="col-sm-4">
						                <h6 class="mb-1">Nhân viên giao hàng:</h6>
						                <div><strong>Khoi Tran</strong></div>
						                <div>Phone: 012256797181</div>
						            </div><!--/.col-->

						            <div class="col-sm-4">
						                <h6 class="mb-1">Thông tin đơn hàng:</h6>
						                <div> Tổng tiền đơn hàng: 100.000đ</div>
						                <div> Tổng tiền phải trả: 100.000đ</div>
						                <div> Khuyến mãi: Không có</div>
						            </div><!--/.col-->

						        </div><!--/.row-->

						        <div class="table-responsive">
						            <table class="table table-striped">
						                <thead>
						                    <tr>
						                        <th class="center">STT</th>
						                        <th>Hình ảnh</th>
						                        <th>Sản phẩm</th>
						                        <th class="center">Số lượng</th>
						                        <th class="right">Chi phí</th>
						                        <th class="right">Tổng</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr>
						                        <td class="center">1</td>
						                        <td class="left"><img src="http://www.phamkhoi.com/Editor/blog/photoshop/tam-trong-cafe-in-name-card-gia-re-in-to-roi-gia-re-1d.png" height="50px" /></td>
						                        <td class="left">Cafe Expresso</td>
						                        <td class="center">2</td>
						                        <td class="right">45.000đ</td>
						                        <td class="right">90.000đ</td>
						                    </tr>			             
						                </tbody>
						            </table>
						        </div>

						        <div class="row">

						            <div class="col-lg-4 col-sm-5">
						                <div class="well">
						                 
						                </div>
						            </div><!--/.col-->

						            <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
						                <table class="table table-clear">
						                    <tbody>
						                        <tr>
						                            <td class="left"><strong>Tổng đơn hàng</strong></td>
						                            <td class="right">90.000đ</td>
						                        </tr>
						                        <tr>
						                            <td class="left"><strong>Khuyến mãi </strong></td>
						                            <td class="right">0đ</td>
						                        </tr>
						                        <tr>
						                            <td class="left"><strong>VAT (10%)</strong></td>
						                            <td class="right">9.000đ</td>
						                        </tr>
						                        <tr>
						                            <td class="left"><strong>Tổng</strong></td>
						                            <td class="right"><strong>99.000đ</strong></td>
						                        </tr>
						                    </tbody>
						                </table>
						                <a href="#" class="btn btn-success"><i class="fa fa-usd"></i> Proceed to Payment</a>
						            </div><!--/.col-->

						        </div><!--/.row-->
						    </div>
						</div>

					</div>
				</div>
			</tab>
			<tab>
		          <ng-template tabHeading><i class="icon-calculator"></i> Lịch sử đơn hàng</ng-template>
		          <div class="row">
					    <div class="col-lg-12">
					      <div class="card">
					        <div class="card-header">
					        	<div class="row">
						        	<div class="col-lg-4 mt-h">
						        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Lịch sử đơn hàng</span>
						        	</div>
						        	<div class="col-lg-8 col-xs-12 mt-h">	          	

						          		<form class="form-inline float-right px-2">
						          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
								            <select class="form-control input-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select> 
								            <i class="fa fa-search px-1"></i>
								            <input class="form-control" type="text" placeholder="Search...">
								        </form>
					                    
									</div>
					        	</div>
					        </div>
					        <div class="card-block">
					          <table class="table table-bordered">
					            <thead>
					              <tr>
					                <th class="text-center">Mã đơn hàng</th>
					                <th class="text-center">Người đặt</th>
					                <th class="text-center">Người giao</th>
					                <th class="text-center">Địa chỉ</th>
					                <th class="text-center">Thời gian</th>
					                <th class="text-center">Kênh</th>
					                <th class="text-center">Trạng thái</th>
					                <th class="text-center">Action</th>
					              </tr>
					            </thead>
					            <tbody>
					              <tr>
					                <td class="text-center">DH1496132427</td>
					                <td class="text-center">Uy Minh</td>
					                <td class="text-center">Khoi Tran</td>
					                <td class="text-center">400 Lê Hồng Phong, Quận 10, Phường 1, TP.HCM</td>
					                <td class="text-center">15:00:00 04/11/2017</td>
					                <td class="text-center">Facebook</td>
					                <td class="text-center">
					                  	<span class="badge badge-success p-h">Đang giao</span>
					                </td>
					                <td class="text-center">
					                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
					                </td>
					              </tr>
					            </tbody>
					          </table>
					          <ul class="pagination">
					            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
					            <li class="page-item active">
					              <a class="page-link" href="#">1</a>
					            </li>
					            <li class="page-item"><a class="page-link" href="#">2</a></li>
					            <li class="page-item"><a class="page-link" href="#">3</a></li>
					            <li class="page-item"><a class="page-link" href="#">4</a></li>
					            <li class="page-item"><a class="page-link" href="#">Next</a></li>
					          </ul>
					        </div>
					      </div>
						</div>
					</div>
		        </tab>
		</tabset>
</div>