
 <div class="card m-0 portal-card" style="width:500px"> 
    <div class="card-header"> 
      <strong>Lịch trình </strong>
      <div class="btn-group pull-right">
        <button
        type="button" class="btn btn-primary btn-sm pull-right" ><i class="fa fa-send"></i> Gửi Story</button>
      </div>
    </div>
    <div class="card-block portal-block p-0">
      <div class="scheduler mt-1">
        <div class="day" *ngFor="let day of days">
          <div class="day-header">
            {{day.title}}
          </div>
          <div class="day-timeline">
            <div>
              <div *ngFor="let h of hours; let i = index;" [class]="'hour h-1 h-o-'+i"></div>
            </div>
            <div *ngIf="day.actives.length === 0">
              <div [class]="'job h-24'">
                <div>
                </div>
              </div>
            </div>
            <div *ngIf="day.actives && day.actives[0] !== 0">
              <div [class]="'job h-'+(day.actives[0])">
                <div>
                </div>
              </div>
            </div>
            <div *ngFor="let active of day.actives;let ti = index;">
              <div *ngIf="!day.actives[ti+1]"
              [class]="'job h-o-'+(active+1)+' h-'+(24-(active+1))">
                <div>
                </div>
              </div>
              <div [class]="'job h-o-'+(active+1)+' h-'+(day.actives[ti+1]-(active+1))">
                <div>
                </div>
              </div>
              <div [class]="'job h-o-'+(active)+' h-1'">
                <div class="active">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="day">
          <div class="day-header">
          </div>
          <div class="row text-right" >
            <div class="col-3 p-0">
              6AM
            </div>
            <div class="col-3 p-0">
              12PM
            </div>
            <div class="col-3 p-0">
              6PM
            </div>
            <div class="col-3 p-0">
              12AM
            </div>
          </div>
        </div>
      </div>
      
      <div *ngFor="let job of jobs"
      class="card m-0">
        <div class="card-block">
          <div class="form-group m-0">
            <input type="time" class="form-control" style="display:inline;width:125px;" [value]="job.time">
            <div class="btn-group btn-group-week">
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[0]">CN</button>
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[1]">T2</button>
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[2]">T3</button>
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[3]">T4</button>
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[4]">T5</button>
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[5]">T6</button>
              <button class="btn btn-sm btn-outline-primary" [class.active]="job.days[6]">T7</button>
            </div>
            <div class="btn-group pull-right btn-group-week">
              <button class="btn btn-sm btn-outline-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card m-0">
        <div class="card-block">
          <div class="btn-group pull-right">
            <div class="btn btn-outline-primary">
              + Thêm móc thời gian
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 

