<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Tính năng
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Chi nhánh</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Nhân viên</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Sản phẩm</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Khách hàng</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Đơn hàng</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Khuyến mãi</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Tin tức</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Đặt hàng</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Giao hàng</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Thiết lập</div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Tiện ích
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Chatbot</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">AI</div>
                    </div>
                </div>
              </div>          
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Report</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Notification</div>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                    <div class="card-block p-0 clearfix text-center">
                        <i class="fas fa-cogs card-feature-icon bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
                        <div class="text-muted card-feature-text text-uppercase font-weight-bold font-xs text-center">Blacklist</div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Loại chi nhánh</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Loại chi nhánh">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>         
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="far fa-dot-circle"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fas fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	