<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form #itemFrm="ngForm">
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Tên chi nhánh</label>
              <div class="col-md-10">
                <input #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên chi nhánh'" required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
              <div class="col-md-10">
                <textarea #descriptionControl="ngModel" [(ngModel)]="description" name="description" class="form-control input-control" [placeholder]="'Nhập mô tả'"></textarea>
              </div>
            </div>
            <div class="form-group row" [hidden]="true">
              <label class="col-md-2 header-text" for="select">Loại chi nhánh</label>
              <div class="col-md-10">
                <select #typeControl="ngModel" [(ngModel)]="type" name="type" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Sở hữu":"Nhượng quyền"}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Địa chỉ</label>
              <div class="col-md-10">
                <input type="text" #addressControl="ngModel" [(ngModel)]="address" name="address" class="form-control input-control" [placeholder]="'Nhập địa chỉ'" required autocorrect="off" autocapitalize="off" spellcheck="off" #addressInput>
              </div>
              <div class="col-md-12 mt-1">
                <agm-map [latitude]="latitudeMap" [longitude]="longitudeMap" [scrollwheel]="false" [zoom]="zoom">
                  <agm-marker [latitude]="latitudeMap" [longitude]="longitudeMap"></agm-marker>
                </agm-map>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Longitude</label>
              <div class="col-md-10">
                <input type="text" #longitudeControl="ngModel" [(ngModel)]="longitude" name="longitude" class="form-control input-control" [placeholder]="longitudeMap==null?'Nhập longitude':longitudeMap" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Latitude</label>
              <div class="col-md-10">
                <input type="text" #latitudeControl="ngModel" [(ngModel)]="latitude" name="latitude" class="form-control input-control" [placeholder]="latitudeMap==null?'Nhập latitude':latitudeMap" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="text-input">Số điện thoại</label>
              <div class="col-md-10">
                <input type="text" #phoneControl="ngModel" [(ngModel)]="phone" name="phone" class="form-control input-control" [placeholder]="'Nhập số điện thoại'" required>
              </div>
            </div>
            <div class="form-group row" [hidden]="true">
              <label class="col-md-2 header-text" for="text-input">Nhân viên quản lý</label>
              <div class="col-md-10">
                <input type="text" #employee_idControl="ngModel" [(ngModel)]="employee_id" name="employee_id" class="form-control input-control" [placeholder]="'Nhập nhân viên quản lý'">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
              <div class="col-md-10">
                <select #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                  {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-success ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và tạo mới</button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và thoát</button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-edit"></i> Sửa và thoát</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
