<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form #itemFrm="ngForm">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Tên chi nhánh</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.name" name="name" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Loại chi nhánh</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.type?'Sở hữu':'Nhượng quyền'"  name="type" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Địa chỉ</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.address" name="address" class="form-control" readonly/>
              </div>
              <div class="col-md-12 mt-1">
                <agm-map [latitude]="latitudeMap" [longitude]="longitudeMap" [scrollwheel]="false" [zoom]="zoomMap">
                  <agm-marker [latitude]="latitudeMap" [longitude]="longitudeMap"></agm-marker>
                </agm-map>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Longitude</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.longitude" name="longitude" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Latitude</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.latitude" name="latitude" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Số điện thoại</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.phone" name="phone" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Nhân viên quản lý</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.employee_id" name="employee_id" class="form-control" readonly/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Giờ hoạt động</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.openHour" name="openHour" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Giờ đóng cửa</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.closeHour" name="closeHour" class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-9">
                <input type="text" [value]="item?.status?'Hoạt động':'Không hoạt động'"  name="status" class="form-control" readonly/>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button (click)="editItem()" class="btn btn-sm btn-primary" data-style="expand-right">
            Cập nhật
          </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
