<div class="row">
    <div class="animated fadeIn col-12" style="height:100vh">
        <div class="card email-app" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
            <nav>
                <div class="row">
                <div class="avatar" style="margin:auto">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c13.12.155.155/s50x50/1620726_612489952155780_738475466_n.jpg?oh=4159a51a0efd820b4873a1408f6008d7&oe=59D80778" 
                    class="img-avatar" alt="admin@bootstrapmaster.com">
                    
                </div>
                
                </div>
                <p class="text-center"><strong>QUÁN CHÈ VUI</strong></p>
                
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;"><i class="fa fa-gear"></i> Cài đặt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;"><i class="fa fa-comments-o"></i> Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;"><i class="fa fa-rocket"></i> Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;"><i class="fa fa-users"></i> Khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="javascript:;"><strong><i class="fa fa-trash-o"></i> Huỷ đăng ký</strong></a>
                    </li>
                </ul>
            </nav>

            <main style="position: absolute;left: 200px;right: 0;bottom: 0;top: 0;overflow: hidden;">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>

