@import "../../../scss/bootstrap-variables";

.navbar {
	border-bottom: none !important;
}

.navbar-brand{
	background-image: none !important;
	background-color: $brand-primary;
	text-align: center;
	.logo-wrapper {
		width: 100%;
		height: 100%;
		#logo {
			height: 100%;
			margin: auto;
		}
	}
}
.dropdown {
	display: flex;
	flex-direction: row;
}
#accountDropdownMenu {
	color: $bluegrey-light;
	transition: color 0.5s ease;
	margin-left: 24px !important;
}
#accountDropdownMenu:hover {
	color: $bluegrey-dark;
	div {
		i {
			color: $brand-dark;
		}
	}
}
.user-name {
	cursor: hand;
	cursor: pointer;
	font-family: 'Helvetica Neue';
    display: flex;
    justify-content: center;
    align-items: center;
	padding-left: 12px;
	i {
		padding-left: 5px;
		zoom: 0.8;
		color: $brand-primary;
		transition: color 0.5s ease;
	}
}
.avatar {
	background-color: $bluegrey-light;
	div, img {
		width: 100% !important;
		height: 100% !important;
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center; /* align horizontal */
		align-items: center; /* align vertical */
		text-transform: capitalize;
		font-weight: bold;
		color: $bluegrey-white;
	}
}
.name-separator {
    background-color: $grey-light;
    width: 2px;
	height: 22px;
	margin: 10px;
}

.nav-pill {
	border: none !important;
}
.dropdown-menu {
	position: absolute;
	display: inline-flex;
	flex-direction: column;
}
.dropdown-item {
	cursor: hand;
	cursor: pointer;
	display:block;
	padding-top: 15px;
}