<div class="animated fadeIn">
  <div class="row">
    <fieldset class="form-group col-sm-12">
      <div class="input-group">
        <span class="input-group-addon"> Tìm kiếm </span>
        <input type="text" class="form-control" (keyup)="onSearch($event)">
        <span (click)="deleteAll()" *ngIf="itemsTable.selectedRows && itemsTable.selectedRows.length > 0" class="input-group-addon btn-danger"><i class="fas fa-trash"></i> Xoá tất cả</span>
        <span (click)="addItem()" class="input-group-addon btn-success"><i class="fas fa-plus"></i> Thêm</span>
      </div>
    </fieldset>
  </div>
  <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid" #itemsTable headerTitle="Danh sách" indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true"
      [substituteRows]="false" [selectOnRowClick]="false" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="transaction_time" header="Transaction time" [sortable]="true" [visible]="false">
      </data-table-column>
      <data-table-column property="total_amount" header="Total amount" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.total_amount | accounting}}
          </template>
      </data-table-column>
      <data-table-column property="pay_amount" header="Pay amount" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.pay_amount | accounting}}
          </template>
      </data-table-column>
      <data-table-column property="remain_amount" header="Remain amount" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.remain_amount | accounting}}
          </template>
      </data-table-column>
      <data-table-column property="type" header="Trạng thái" [sortable]="true" [visible]="false">
      </data-table-column>
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
                <span class="btn-group">
                    <button (click)="print(item)"
                      type="button" class="btn btn-sm"><i class="icon-eye icons font-xl p-q d-block"></i>Print</button>
                    <button (click)="paidHistoryAction(item)"
                          type="button" class="btn btn-sm"><i class="icon-eye icons font-xl p-q d-block"></i>Paid</button>
                    <button (click)="viewItem(item)"
                        type="button" class="btn btn-sm"><i class="icon-eye icons font-xl p-q d-block"></i></button>
                    <button (click)="editItem(item)"
                        type="button" class="btn btn-sm btn-info"><i class="icon-pencil icons font-xl p-q d-block"></i></button>
                    <button (click)="deleteItem(item)"
                        type="button" class="btn btn-sm btn-danger btn-ladda"
                        data-style="expand-right" [ladda]='item.deleting?true:false'><i class="icon-trash icons font-xl p-q d-block"></i></button>
                </span>
            </template>
      </data-table-column>
    </data-table>
  </div>
</div>
