@import '../../../scss/bootstrap-variables';

.title {
  text-align: center;
  color: $bluegrey;
  margin: 0 auto 20px;
  font-size: 1.5rem;
}

.header-text { text-align:right;
  color: $bluegrey-darker;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.info-text {
  color: $grey;
  font-size: 0.85rem;
  margin: 0;
}

.row {
  padding-bottom: 20px;
}

.bottom-btn-group {
  text-align: center;

  .btn-confirm {
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
    background-color: $brand-light;
    color: white;
    transition: all 0.3s ease;
    text-transform: none !important;

    &:hover {
      background-color: $brand-primary;
    }
  }

  .btn-cancel {
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
    background-color: $grey-lighter;
    color: $grey;
    transition: all 0.3s ease;
    text-transform: none !important;

    &:hover {
      background-color: $grey-light;
      color: $grey-dark;
    }
  }
}
