<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin đơn vị</strong>
        </div>
        <div class="card-block">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Đơn vị</label>
              <div class="col-md-8">
                <input type="text" [value]="item?.name" name="name"
                  class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Bước nhảy</label>
              <div class="col-md-8">
                <input type="text" [value]="item?.offset" name="offset"
                  class="form-control" readonly/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <input type="text" [value]="item?.status?'Hoạt động':'Không hoạt động'" name="status"
                  class="form-control" readonly/>
              </div>
            </div>

        </div>
        <div class="card-footer">
          <button (click)="editItem()" class="btn btn-sm btn-primary" data-style="expand-right">
            Cập nhật
          </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
