

















<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Ngày trong tuần</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Ngày trong tuần">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Thời gian bắt đầu</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Ngày trong tuần">
              </div>
            </div>
             <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Thời gian kết thúc</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Ngày trong tuần">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	
















<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Loại dịch vụ</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Loại dịch vụ">
              </div>
            </div>        
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div> 
   			<div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-9">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>     
            <hr>
            <div class="form-group row">
	          	<label class="col-md-12 form-control-label">Nền tảng</label>
	              <div class="col-md-12">
		              <div class="row">
		              	<div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Admin Dashboard
			                </label>
		                </div>
		              	<div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Website
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox2">
			                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Chatbot
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox3">
			                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> Ứng dụng giao hàng
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox2">
			                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Ứng dụng kiểm tra đơn hàng
			                </label>
		                </div>		               		
		              </div>
	    		  </div>
	        </div>   
	        <hr>
	        <div class="form-group row">
	          	<label class="col-md-12 form-control-label">Third Party</label>
	              <div class="col-md-12">
		              <div class="row">
		              	<div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Callcenter
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Ứng dụng callcenter
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Tích hợp giao hàng nhanh
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Tích hợp vào haravan
			                </label>
		                </div>		                    
		              </div>
		          </div>
		    </div>
		    <hr>
	        <div class="form-group row">
	          	<label class="col-md-12 form-control-label">Cấu hình</label>
              	<div class="col-md-12">
	               	<div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Dung lượng</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Dung lượng">
		              </div>
		            </div> 
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Số lượng tài khoản</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Số lượng tài khoản">
		              </div>
		            </div>                       
	            </div>
		    </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	




<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
        	<div class="row">
	        	<div class="col-lg-4 mt-h">
	        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Danh sách loại dịch vụ</span>
	        	</div>
	        	<div class="col-lg-8 col-xs-12 mt-h">	          	

	          		<button type="button" class="btn btn-outline-success mt-0 px-2 float-right">Thêm</button>
	          		
	          		<form class="form-inline float-right px-2">
	          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
			            <select class="form-control input-sm">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> 
			            <i class="fa fa-search px-1"></i>
			            <input class="form-control" type="text" placeholder="Search...">
			        </form>
                    
				</div>
        	</div>
        </div>
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Dịch vụ</th>
                <th class="text-center">Chi phí</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Gói A</td>
                <td class="text-center">12.000.000</td>
                <td class="text-center">
                  	<span class="badge badge-success p-h">Active</span>
                </td>
                <td class="text-center">
                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-success"><i class="icon-pencil icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-danger"><i class="icon-trash icons font-xl p-q d-block"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>















<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Dịch vụ</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Nhóm kinh doanh">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>         
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	













<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
        	<div class="row">
	        	<div class="col-lg-4 mt-h">
	        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Danh sách loại dịch vụ</span>
	        	</div>
	        	<div class="col-lg-8 col-xs-12 mt-h">	          	

	          		<button type="button" class="btn btn-outline-success mt-0 px-2 float-right">Thêm</button>
	          		
	          		<form class="form-inline float-right px-2">
	          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
			            <select class="form-control input-sm">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> 
			            <i class="fa fa-search px-1"></i>
			            <input class="form-control" type="text" placeholder="Search...">
			        </form>
                    
				</div>
        	</div>
        </div>
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Tiền ký quỹ</th>
                <th class="text-center">Ngày nạp</th>
                <th class="text-center">Người duyệt</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">500.000 VND</td>
                <td class="text-center">15:00:00 04/11/2017</td>
                <td class="text-center">Uy Minh</td>
                <td class="text-center">
                  	<span class="badge badge-success p-h">Active</span>
                </td>
                <td class="text-center">
                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-success"><i class="icon-pencil icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-danger"><i class="icon-trash icons font-xl p-q d-block"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Tổng tiền đã nạp</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tổng tiền đã nạp">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Ghi chú</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Ghi chú"></textarea>
              </div>
   			</div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	




















<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Topping</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Topping">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Giá</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Giá">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>         
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	




<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Loại topping</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Loại topping">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>         
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	











<div class="animated fadeIn">
	<tabset>
	  	<tab>
		    <ng-template tabHeading><i class="icon-eye"></i> Thông tin đơn hàng</ng-template>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
						    <div class="card-header">
						        Đơn hàng <strong>#90-98792</strong>
						        <a href="#" class="btn btn-sm btn-info float-right" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
						        <a href="#" class="btn btn-sm btn-info float-right"><i class="fa fa-save"></i> Save</a>
						    </div>
						    <div class="card-block">
						        <div class="row mb-2">

						            <div class="col-sm-4">
						                <h6 class="mb-1">Khách hàng:</h6>
						                <div><strong>Uy Minh</strong></div>
						                <div>Địa chỉ: 400 Lê Hồng Phong, Quận 10, Phường 11, TPHCM</div>			      
						                <div>Phone: 0901403819</div>
						            </div><!--/.col-->

						            <div class="col-sm-4">
						                <h6 class="mb-1">Nhân viên giao hàng:</h6>
						                <div><strong>Khoi Tran</strong></div>
						                <div>Phone: 012256797181</div>
						            </div><!--/.col-->

						            <div class="col-sm-4">
						                <h6 class="mb-1">Thông tin đơn hàng:</h6>
						                <div> Tổng tiền đơn hàng: 100.000đ</div>
						                <div> Tổng tiền phải trả: 100.000đ</div>
						                <div> Khuyến mãi: Không có</div>
						            </div><!--/.col-->

						        </div><!--/.row-->

						        <div class="table-responsive">
						            <table class="table table-striped">
						                <thead>
						                    <tr>
						                        <th class="center">STT</th>
						                        <th>Hình ảnh</th>
						                        <th>Sản phẩm</th>
						                        <th class="center">Số lượng</th>
						                        <th class="right">Chi phí</th>
						                        <th class="right">Tổng</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr>
						                        <td class="center">1</td>
						                        <td class="left"><img src="http://www.phamkhoi.com/Editor/blog/photoshop/tam-trong-cafe-in-name-card-gia-re-in-to-roi-gia-re-1d.png" height="50px" /></td>
						                        <td class="left">Cafe Expresso</td>
						                        <td class="center">2</td>
						                        <td class="right">45.000đ</td>
						                        <td class="right">90.000đ</td>
						                    </tr>			             
						                </tbody>
						            </table>
						        </div>

						        <div class="row">

						            <div class="col-lg-4 col-sm-5">
						                <div class="well">
						                 
						                </div>
						            </div><!--/.col-->

						            <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
						                <table class="table table-clear">
						                    <tbody>
						                        <tr>
						                            <td class="left"><strong>Tổng đơn hàng</strong></td>
						                            <td class="right">90.000đ</td>
						                        </tr>
						                        <tr>
						                            <td class="left"><strong>Khuyến mãi </strong></td>
						                            <td class="right">0đ</td>
						                        </tr>
						                        <tr>
						                            <td class="left"><strong>VAT (10%)</strong></td>
						                            <td class="right">9.000đ</td>
						                        </tr>
						                        <tr>
						                            <td class="left"><strong>Tổng</strong></td>
						                            <td class="right"><strong>99.000đ</strong></td>
						                        </tr>
						                    </tbody>
						                </table>
						                <a href="#" class="btn btn-success"><i class="fa fa-usd"></i> Proceed to Payment</a>
						            </div><!--/.col-->

						        </div><!--/.row-->
						    </div>
						</div>

					</div>
				</div>
			</tab>
			<tab>
		          <ng-template tabHeading><i class="icon-calculator"></i> Lịch sử đơn hàng</ng-template>
		          <div class="row">
					    <div class="col-lg-12">
					      <div class="card">
					        <div class="card-header">
					        	<div class="row">
						        	<div class="col-lg-4 mt-h">
						        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Lịch sử đơn hàng</span>
						        	</div>
						        	<div class="col-lg-8 col-xs-12 mt-h">	          	

						          		<form class="form-inline float-right px-2">
						          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
								            <select class="form-control input-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select> 
								            <i class="fa fa-search px-1"></i>
								            <input class="form-control" type="text" placeholder="Search...">
								        </form>
					                    
									</div>
					        	</div>
					        </div>
					        <div class="card-block">
					          <table class="table table-bordered">
					            <thead>
					              <tr>
					                <th class="text-center">Mã đơn hàng</th>
					                <th class="text-center">Người đặt</th>
					                <th class="text-center">Người giao</th>
					                <th class="text-center">Địa chỉ</th>
					                <th class="text-center">Thời gian</th>
					                <th class="text-center">Kênh</th>
					                <th class="text-center">Trạng thái</th>
					                <th class="text-center">Action</th>
					              </tr>
					            </thead>
					            <tbody>
					              <tr>
					                <td class="text-center">DH1496132427</td>
					                <td class="text-center">Uy Minh</td>
					                <td class="text-center">Khoi Tran</td>
					                <td class="text-center">400 Lê Hồng Phong, Quận 10, Phường 1, TP.HCM</td>
					                <td class="text-center">15:00:00 04/11/2017</td>
					                <td class="text-center">Facebook</td>
					                <td class="text-center">
					                  	<span class="badge badge-success p-h">Đang giao</span>
					                </td>
					                <td class="text-center">
					                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
					                </td>
					              </tr>
					            </tbody>
					          </table>
					          <ul class="pagination">
					            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
					            <li class="page-item active">
					              <a class="page-link" href="#">1</a>
					            </li>
					            <li class="page-item"><a class="page-link" href="#">2</a></li>
					            <li class="page-item"><a class="page-link" href="#">3</a></li>
					            <li class="page-item"><a class="page-link" href="#">4</a></li>
					            <li class="page-item"><a class="page-link" href="#">Next</a></li>
					          </ul>
					        </div>
					      </div>
						</div>
					</div>
		        </tab>
		</tabset>
</div>



















<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
        	<div class="row">
	        	<div class="col-lg-4 mt-h">
	        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Danh sách sản phẩm</span>
	        	</div>
	        	<div class="col-lg-8 col-xs-12 mt-h">	          	

	          		<button type="button" class="btn btn-outline-success mt-0 px-2 float-right">Thêm</button>
	          		
	          		<form class="form-inline float-right px-2">
	          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
			            <select class="form-control input-sm">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> 
			            <i class="fa fa-search px-1"></i>
			            <input class="form-control" type="text" placeholder="Search...">
			        </form>
                    
				</div>
        	</div>
        </div>
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Hình ảnh</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Loại sản phẩm</th>
                <th class="text-center">Giá bán</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"><img height="50px" src="http://www.petruskylhp.net/banlienlac/wp-content/uploads/2016/01/cafe.png"></td>
                <td class="text-center">Cafe Latte</td>
                <td class="text-center">Cafe</td>
                <td class="text-center">30.000đ</td>
                <td class="text-center">
                  	<span class="badge badge-success p-h">Active</span>
                </td>
                <td class="text-center">
                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-success"><i class="icon-pencil icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-danger"><i class="icon-trash icons font-xl p-q d-block"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!--/.row-->
</div>



<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-7">
	    <div class="row">
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Nhập thông tin</strong>
		        </div>
		        <div class="card-block">
		          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Tên sản phẩm</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tên sản phẩm">
		              </div>
		            </div>
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="textarea-input">Mô tả</label>
		              <div class="col-md-9">
		                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Mô tả"></textarea>
		              </div>
           			</div>
		          </form>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Chi phí</strong>
		        </div>
		        <div class="card-block">
		         	<div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Giá sản phẩm</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Giá sản phẩm">
		              </div>
		            </div>
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Giá gốc sản phẩm</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Giá gốc sản phẩm">
		              </div>
		            </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Đơn vị tính</strong>
		        </div>
		        <div class="card-block">
		         	<div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Đơn vị</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Đơn vị">
		              </div>
		            </div>
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Bước nhảy</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Bước nhảy">
		              </div>
		            </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Hình ảnh</strong>
		        </div>
		        <div class="card-block">
		        	<div class="col-md-12">
		        		<div class="row">
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="card-footer">
		         	<div class="form-group row">
		              	<div class="col-md-12">
		                	<input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
	              		</div>
            		</div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Topping</strong>
		        </div>
		        <div class="card-block">
		        	<div class="form-group row">
		              <label class="col-md-12 form-control-label">Size:</label>
		              <div class="col-md-12">
		              <div class="row">
		              	<div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> S
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox2">
			                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> M (+3.000đ)
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox3">
			                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> L (+6.000đ)
			                </label>
		                </div>
		              </div>
            		  </div>
		        	</div>
		        	<hr>
		        	<div class="form-group row">
		              <label class="col-md-12 form-control-label">Topping:</label>
		              <div class="col-md-12">
			              <div class="row">
			              	<div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox1">
				                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Sương sáo (+5.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox2">
				                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Pudding (+5.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox3">
				                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> Bánh plan (+10.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox2">
				                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Trân châu trắng (+5.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox3">
				                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> Kem muối (+5.000đ)
				                </label>
			                </div>
			              </div>
            		  </div>
		        	</div>
		      	</div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Thông tin</strong>
		        </div>
		        <div class="card-block">
		        </div>
		        <div class="card-footer">
		         </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Thông tin</strong>
		        </div>
		        <div class="card-block">
		        </div>
		        <div class="card-footer">
		         </div>
		      </div>
		    </div>
	    </div>
    </div>
    <!--/.col-->
    <div class="col-md-5">
	    <div class="row">
		  	<div class="col-md-12">
			    <div class="card">
			  	  	<div class="card-header">
			          	<strong>Thiết lập</strong>
			      	</div>
			  	  	<div class="card-block">
				  	  	<div class="form-group row">
		              		<label class="col-md-4 form-control-label" for="select">Loại sản phẩm</label>
			              	<div class="col-md-8">
				                <select id="select" name="select" class="form-control" size="1">
				                  	<option value="0">Chọn loại sản phẩm</option>
				                  	<option value="1">Cafe sữa</option>
				                 	<option value="2">Trà sữa</option>
				                  	<option value="3">Yogurt</option>
				                </select>
			              	</div>
		            	</div>
		            	<div class="form-group row">
			              	<label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
			              	<div class="col-md-8">
				                <select id="select" name="select" class="form-control" size="1">
					                <option value="0">Chọn trạng thái</option>
					                <option value="1">Hoạt động</option>
					                <option value="2">Không hoạt động</option>
				                </select>
			              	</div>
			            </div>
			        </div>
			    </div>
		  	</div>
		  	<div class="col-md-12">
			    <div class="card">
			        <div class="card-header">
			          <strong>Mã sản phẩm</strong>
			        </div>
			        <div class="card-block">
			        	<div class="form-group row">
				              <label class="col-md-3 form-control-label" for="text-input">SKU</label>
				              <div class="col-md-9">
				                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="SKU">
				              </div>
			        	</div>
			        	<div class="form-group row">
				              <label class="col-md-3 form-control-label" for="text-input">Barcode</label>
				              <div class="col-md-9">
				                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Barcode">
				              </div>
			            </div>			          
			        </div>
			    </div>
		    </div>
	  </div>
  </div>
  </div>
</div>			


