

















<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Ngày trong tuần</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Ngày trong tuần">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Thời gian bắt đầu</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Ngày trong tuần">
              </div>
            </div>
             <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Thời gian kết thúc</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Ngày trong tuần">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	





































<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Dịch vụ</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Dịch vụ">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-8">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>         
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	













<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
        	<div class="row">
	        	<div class="col-lg-4 mt-h">
	        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Lịch sử ký quỹ</span>
	        	</div>
	        	<div class="col-lg-8 col-xs-12 mt-h">	          	

	          		<button type="button" class="btn btn-outline-success mt-0 px-2 float-right">Thêm</button>
	          		
	          		<form class="form-inline float-right px-2">
	          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
			            <select class="form-control input-sm">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> 
			            <i class="fa fa-search px-1"></i>
			            <input class="form-control" type="text" placeholder="Search...">
			        </form>
                    
				</div>
        	</div>
        </div>
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Tiền ký quỹ</th>
                <th class="text-center">Ngày nạp</th>
                <th class="text-center">Người duyệt</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">500.000 VND</td>
                <td class="text-center">15:00:00 04/11/2017</td>
                <td class="text-center">Uy Minh</td>
                <td class="text-center">
                  	<span class="badge badge-success p-h">Active</span>
                </td>
                <td class="text-center">
                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-success"><i class="icon-pencil icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-danger"><i class="icon-trash icons font-xl p-q d-block"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="text-input">Tổng tiền đã nạp</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tổng tiền đã nạp">
              </div>
            </div>           
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="textarea-input">Ghi chú</label>
              <div class="col-md-8">
                <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Ghi chú"></textarea>
              </div>
   			</div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>	

























































<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
        	<div class="row">
	        	<div class="col-lg-4 mt-h">
	        		<span><i class="fa fa-align-justify px-1 mt-h"></i> Danh sách sản phẩm</span>
	        	</div>
	        	<div class="col-lg-8 col-xs-12 mt-h">	          	

	          		<button type="button" class="btn btn-outline-success mt-0 px-2 float-right">Thêm</button>
	          		
	          		<form class="form-inline float-right px-2">
	          		 	<label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
			            <select class="form-control input-sm">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select> 
			            <i class="fa fa-search px-1"></i>
			            <input class="form-control" type="text" placeholder="Search...">
			        </form>
                    
				</div>
        	</div>
        </div>
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Hình ảnh</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Loại sản phẩm</th>
                <th class="text-center">Giá bán</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"><img height="50px" src="http://www.petruskylhp.net/banlienlac/wp-content/uploads/2016/01/cafe.png"></td>
                <td class="text-center">Cafe Latte</td>
                <td class="text-center">Cafe</td>
                <td class="text-center">30.000đ</td>
                <td class="text-center">
                  	<span class="badge badge-success p-h">Active</span>
                </td>
                <td class="text-center">
                	<span class="badge badge-default"><i class="icon-eye icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-success"><i class="icon-pencil icons font-xl p-q d-block"></i></span>
                 	<span class="badge badge-danger"><i class="icon-trash icons font-xl p-q d-block"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!--/.row-->
</div>



<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-7">
	    <div class="row">
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Nhập thông tin</strong>
		        </div>
		        <div class="card-block">
		          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Tên sản phẩm</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tên sản phẩm">
		              </div>
		            </div>
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="textarea-input">Mô tả</label>
		              <div class="col-md-9">
		                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Mô tả"></textarea>
		              </div>
           			</div>
		          </form>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Chi phí</strong>
		        </div>
		        <div class="card-block">
		         	<div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Giá sản phẩm</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Giá sản phẩm">
		              </div>
		            </div>
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Giá gốc sản phẩm</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Giá gốc sản phẩm">
		              </div>
		            </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Đơn vị tính</strong>
		        </div>
		        <div class="card-block">
		         	<div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Đơn vị</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Đơn vị">
		              </div>
		            </div>
		            <div class="form-group row">
		              <label class="col-md-3 form-control-label" for="text-input">Bước nhảy</label>
		              <div class="col-md-9">
		                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Bước nhảy">
		              </div>
		            </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Hình ảnh</strong>
		        </div>
		        <div class="card-block">
		        	<div class="col-md-12">
		        		<div class="row">
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        			<div class="col-md-3">
		        				<img src="http://www.yaliscafe.com/wp-content/uploads/CafeMenu_HotDrinksImage.jpg" width="100%" />
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="card-footer">
		         	<div class="form-group row">
		              	<div class="col-md-12">
		                	<input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
	              		</div>
            		</div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Topping</strong>
		        </div>
		        <div class="card-block">
		        	<div class="form-group row">
		              <label class="col-md-12 form-control-label">Size:</label>
		              <div class="col-md-12">
		              <div class="row">
		              	<div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox1">
			                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> S
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox2">
			                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> M (+3.000đ)
			                </label>
		                </div>
		                <div class="col-md-4">
			                <label class="checkbox-inline" for="inline-checkbox3">
			                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> L (+6.000đ)
			                </label>
		                </div>
		              </div>
            		  </div>
		        	</div>
		        	<hr>
		        	<div class="form-group row">
		              <label class="col-md-12 form-control-label">Topping:</label>
		              <div class="col-md-12">
			              <div class="row">
			              	<div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox1">
				                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> Sương sáo (+5.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox2">
				                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Pudding (+5.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox3">
				                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> Bánh plan (+10.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox2">
				                  <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Trân châu trắng (+5.000đ)
				                </label>
			                </div>
			                <div class="col-md-4">
				                <label class="checkbox-inline" for="inline-checkbox3">
				                  <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> Kem muối (+5.000đ)
				                </label>
			                </div>
			              </div>
            		  </div>
		        	</div>
		      	</div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Thông tin</strong>
		        </div>
		        <div class="card-block">
		        </div>
		        <div class="card-footer">
		         </div>
		      </div>
		    </div>
		    <div class="col-md-12">
		      <div class="card">
		        <div class="card-header">
		          <strong>Thông tin</strong>
		        </div>
		        <div class="card-block">
		        </div>
		        <div class="card-footer">
		         </div>
		      </div>
		    </div>
	    </div>
    </div>
    <!--/.col-->
    <div class="col-md-5">
	    <div class="row">
		  	<div class="col-md-12">
			    <div class="card">
			  	  	<div class="card-header">
			          	<strong>Thiết lập</strong>
			      	</div>
			  	  	<div class="card-block">
				  	  	<div class="form-group row">
		              		<label class="col-md-4 form-control-label" for="select">Loại sản phẩm</label>
			              	<div class="col-md-8">
				                <select id="select" name="select" class="form-control" size="1">
				                  	<option value="0">Chọn loại sản phẩm</option>
				                  	<option value="1">Cafe sữa</option>
				                 	<option value="2">Trà sữa</option>
				                  	<option value="3">Yogurt</option>
				                </select>
			              	</div>
		            	</div>
		            	<div class="form-group row">
			              	<label class="col-md-4 form-control-label" for="select">Trạng thái hoạt động</label>
			              	<div class="col-md-8">
				                <select id="select" name="select" class="form-control" size="1">
					                <option value="0">Chọn trạng thái</option>
					                <option value="1">Hoạt động</option>
					                <option value="2">Không hoạt động</option>
				                </select>
			              	</div>
			            </div>
			        </div>
			    </div>
		  	</div>
		  	<div class="col-md-12">
			    <div class="card">
			        <div class="card-header">
			          <strong>Mã sản phẩm</strong>
			        </div>
			        <div class="card-block">
			        	<div class="form-group row">
				              <label class="col-md-3 form-control-label" for="text-input">SKU</label>
				              <div class="col-md-9">
				                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="SKU">
				              </div>
			        	</div>
			        	<div class="form-group row">
				              <label class="col-md-3 form-control-label" for="text-input">Barcode</label>
				              <div class="col-md-9">
				                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Barcode">
				              </div>
			            </div>			          
			        </div>
			    </div>
		    </div>
	  </div>
  </div>
  </div>
</div>			


