
<div class="toolbar">
  <div class="branch-info">
    <div>Chi nhánh: {{branch!=null?branch.address:''}}</div>
    <div>Nhân viên phụ trách: {{employeeData.fullname}} | Hotline: {{branch!=null?branch.phone:''}}</div>
  </div>
  <button class="btn btn-ladda btn-primary ml-auto"><i class="fa fa-plus"></i> Tạo đơn hàng</button>
</div>

<div class="content">
  <ul class="list-group">
    <li href="#" class="list-group-item" *ngFor="let bill of bills | async; let i = index">

      <div class="bill-avatar">
          <img class="img-avatar" [src]="bill.customer?.avatar" onError="this.src='../../../../assets/img/default-avatar.jpg'">
          <div class="user-info" *ngIf="bill.customer && bill.customer.fullname">{{bill.customer?.fullname?bill.customer.fullname:''}}</div>
          <div class="user-info">{{bill.customer?.phone?bill.customer.phone:''}}</div>
      </div>
      <div class="bill-info">
        <div class="bill-main">
          <div class="bill-main-info">
            <div class="bill-id">
              Mã đơn hàng: <b>{{bill.id}}</b>
            </div>
            <div>
                <span><i class="fa fa-money"></i>{{bill.total_price | accounting}}</span>
                <span><i class="fa fa-shopping-bag"></i>Tại cửa hàng </span>
            </div>
            <div class="bill-address">
              <i class="fa fa-location-arrow"></i><div>{{bill.address}}</div>
            </div>
          </div>
          <div class="bill-date-time">
            <div>{{bill.updated_at | date:'dd/MM/yyyy'}}</div>
            <div>{{bill.updated_at | date:'hh:mm:ss'}}</div>
          </div>
        </div>
        <div class="bill-button">
            <button (click)="changeStatusBill(bill)" class="btn btn-sm btn-success btn-ladda float-right" data-style="expand-right">
                Cập nhật trạng thái
              </button>
              <button (click)="changeStatusBill(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right">
                Chỉnh sửa
              </button>
              <button (click)="print(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right">
                In hóa đơn
              </button>
        </div>
      </div>
      <div class="separator"></div>
    </li>
  </ul>
</div>
<!-- <div class="content">
  <div class="row">
    <div class="col-md-12" *ngFor="let bill of bills | async; let i = index">
      <div class="row">
        <div class="col-md-12">
          <div class="callout callout-success m-0 py-1">

            <div class="avatar float-right employee-avatar row">
              <div class="col-md-12">
                {{bill.customer?.phone?bill.customer.phone:''}}
                <img src="{{bill.customer?.avatar?bill.customer.avatar:thumbDefault}}" class="img-avatar float-right">
              </div>
              <div class="col-md-12 m-h" formArrayName="billStatusInput">
                <select [hidden]="true" id="actionSelect" class="form-control">
              <option *ngFor="let v of actions" [value]="v.action">
                {{v.name}}
              </option>
            </select>
              </div>
            </div>
            <div (click)="viewDetail(bill)">Mã đơn hàng: <strong>{{bill.id}}</strong></div>
            <small class="mr-1"><i class="fa fa-usd"></i> {{bill.total_price | accounting}} </small>
            <small class="mr-1"><i class="icon-calendar"></i> {{bill.updated_at | date:'dd/MM/yyyy hh:mm:ss Z'}}</small>
            <small class="mr-1"><i class="icon-location-pin"></i> {{bill.address}} </small>
            <small class="mr-1"><i class="fa fa-cog fa-lg"></i> {{detectChannelName(bill.channel)}}</small>
            <small class="mr-1" [ngStyle]="setStyles()"><i class="fa fa-user fa-lg"></i> {{bill.activity?(detectActionName(bill.activity.action)):""}}</small>
          </div>
        </div>
        <div class="col-md-12 mb-h">
          <button (click)="changeStatusBill(bill)" class="btn btn-sm btn-success btn-ladda float-right" data-style="expand-right">
          Cập nhật trạng thái
        </button>
          <button (click)="changeStatusBill(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right">
        Chỉnh sửa
        </button>
          <button (click)="print(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right">
          In hóa đơn
        </button>
        </div>
      </div>
      <hr class="mx-1 my-0">
    </div>
  </div>
</div> -->
