<div style="padding: 0.5rem;">
  <button class="btn btn-ladda btn-primary ml-auto" (click)="createBill()"><i class="fas fa-plus"></i> Tạo đơn hàng</button>
  <button class="btn btn-ladda btn-primary ml-auto" (click)="showOrHideSort()"><i class="fas fa-bolt"></i> Nâng cao</button>
    <button class="btn btn-ladda btn-primary" (click)="refreshBill()"><i class="fas fa-sync-alt"></i> Tải lại</button>
  <div *ngIf="isShowSort">
    <input name="options" #option1 ng-control="options" type="radio" [value]="1" (change)="changeOptions(option1.value)"><span class="sort-title">Đơn trong ngày</span>
    <input name="options" #option2 ng-control="options" type="radio" [value]="2" (change)="changeOptions(option2.value)"><span class="sort-title">Đơn cần xử lý trong ngày</span>
    <input name="options" #option3 ng-control="options" type="radio" [value]="3" (change)="changeOptions(option3.value)"><span class="sort-title">Đơn chưa xử lý</span>
  </div>
  <p class="text-center" *ngIf="numberOfResult"> {{numberOfResult}} kết quả</p>
</div>

<div class="content">
  <ul class="list-group">

    <li href="#" class="list-group-item" *ngFor="let bill of bills | async | billFilter: billFilterInfo; let i = index">

      <div class="bill-avatar">
        <img class="img-avatar" [src]="bill.customer?.avatar" onError="this.onerror=null;this.src='../../../../assets/img/default-avatar.jpg'">
        <div class="user-info" *ngIf="bill.customer && bill.customer.fullname">{{bill.customer?.fullname?bill.customer.fullname:''}}</div>
        <div class="user-info">{{bill.customer?.phone?bill.customer.phone:''}}</div>
      </div>
      <div class="bill-info">
        <div class="bill-main">
          <div class="bill-main-info">
            <div class="bill-id" (click)="viewDetail(bill)">
              Mã đơn hàng: <b>{{formatBillCode(bill.code)}}</b>
            </div>
            <div>
              <span><i class="fas fa-money-bill"></i>{{bill.total_price | accounting}}</span>
              <span><i class="fas fa-cogs"></i>{{formatChannelStyle(bill.channel)}}</span>
            </div>
            <div class="bill-address">
              <i class="fas fa-location-arrow"></i>
              <div>{{bill.address}}</div>
            </div>
            <div>
              <span><i class="fas fa-gift"></i> Khuyến mãi: {{bill.promotion_id?"có":"không có"}}</span>
              <span><i class="fas fa-flag"></i><strong>{{bill.activity?formatBillActivityStyle(bill.activity.action):"không có"}}</strong></span>
            </div>
          </div>
          <div class="bill-date-time">
            <div>{{bill.updated_at | date:'dd/MM/yyyy':'+0000'}}</div>
            <div>{{bill.updated_at | date:'HH:mm':'+0000'}}</div>
            <!-- <div>{{bill.bill_ship_detail?.received_time | date:'dd/MM/yyyy HH:mm'}}</div> -->
            <div>{{timeFromNow(bill.bill_ship_detail?.received_time)}}</div>
            <span *ngIf="!detectShowCancelButton(bill)" class="cancel-bill" (click)="showCancelBillDialog(bill)"><i class="fas fa-times mr-h"></i>Hủy đơn hàng</span>
          </div>
        </div>
        <div class="bill-button">
          <button (click)="showEditInfoDialog(bill,employee,employees)" class="btn btn-sm btn-success btn-ladda float-right" data-style="expand-right" *ngIf="detectBillActivityStatus(bill)">
                Cập nhật thông tin
              </button>
          <button (click)="showUpdatePaidHistoryDialog(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right" *ngIf="detectPaidHistoryStatus(bill)">
                    Cập nhật chi phí
                  </button>
          <button (click)="editBill(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right">
                Chỉnh sửa
              </button>
          <button (click)="print(bill)" class="btn btn-sm btn-success btn-ladda float-right mr-h" data-style="expand-right">
                In hóa đơn
              </button>
        </div>
      </div>
      <div class="separator"></div>
    </li>
  </ul>
</div>
<simple-notifications [options]="options"></simple-notifications>
