.bill-progress {
    margin-left:-16px;
    margin-bottom:-16px !important;
}
.callout {
    cursor: pointer;
    height: 120px;
}
.employee-avatar {
    width: 30%;
}
.employee-avatar>div {
    float:right;
}
.content {
    height: 450px;
    max-height: 450px;
    overflow: scroll;
}