@import "../../../../scss/bootstrap-variables";

.bill-progress {
  margin-left: -16px !important;
  margin-bottom: -16px !important;
}

.callout {
  height: 120px;
}

.employee-avatar {
  width: 30%;
}

.employee-avatar > div {
  float: right;
}

.my-btn {
  font-size: 1.7em;
}

.extraclass {
  background: black;
  color: white;
}

.anotherclass {
  font-weight: bold;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  margin: 0px !important;
  .branch-info {
    padding: 0px;
    color: $grey-dark;
    div {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  button {
    float: right;
    color: $grey-dark;
    border: 1px solid $grey-mild;
    border-radius: 5px;
    text-transform: none !important;
    i {
      margin-right: 3px;
    }
    transition: all 0.3s ease;
  }
  button:hover {
    border-color: transparent;
    background-color: $brand-primary;
    color: $grey-white;
  }
}

.content {
  height: calc(100% - 80px);
  overflow-y: scroll;
  .list-group {
    height: 100%;
    margin-bottom: 10px;
    padding: 0px;
    border: none;
    .list-group-item:after {
      content: "";
      position: absolute;
      bottom: 0px;
      width: 96%;
      left: 2%;
      height: 2px;
      background: $grey-light;
    }
    .list-group-item:hover {
      border-left: 2px solid $brand-primary;
    }
    .list-group-item {
      display: block;
      height: auto;
      min-height: 150px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding: 0px;
      border: none;
      cursor: pointer;
      border-left: 2px solid transparent;
      transition: border-left 0.3s ease;
      .bill-avatar {
        width: 120px;
        height: 100%;
        margin-right: 0px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0px;
        flex-shrink: 0;
        .img-avatar {
          margin: auto;
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 50%;
        }
        .user-info {
          margin-top: 8px;
          color: $bluegrey-mild;
          font-size: 0.75rem;
        }
        .user-info:first-child {
          color: $grey-mild;
        }
      }

      .bill-info {
        flex-grow: 1;
        height: 100%;
        width: auto;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        .bill-main {
          margin-right: 0px;
          .bill-main-info {
            flex-grow: 1;
            color: $grey-dark;
            font-size: 0.85rem;
            margin-right: 0px;
            div {
              margin-bottom: 10px;
              span {
                 width: 40%;
              }
              i {
                color: $brand-primary;
                margin-right: 5px;
              }
              b {
                color: $bluegrey-dark;
              }
            }
            .bill-address {
              min-height: 30px;
              i {
                float: left;
              }
              div {
                white-space: pre-line;
                margin-left: 20px;
              }
            }
          }
          .bill-date-time {
            position: absolute;
            top: 15px;
            right: 15px;
            div {
              margin: 0px;
              text-align: right;
              color: $grey-mild;
              font-size: 0.75rem;
              margin-bottom: 5px;
            }
          }
        }
        .bill-button {
          flex-grow: 1;
          button {
            padding: 3px 5px;
            margin-right: 0px;
            color: $brand-primary;
            border: 1px solid $brand-primary;
            border-radius: 5px;
            font-size: 0.8rem;
            text-transform: none !important;
          }
        }
      }
      .separator {
        height: 1px;
        width: 94%;
        left: 3%;
        position: absolute;
        bottom: 0px;
        border-bottom: 1px solid $grey-lighter;
      }
    }
    // .list-group-item.active {
    //   border-left: 3px solid $brand-primary;
    // }
  }
}

.bill-main-info, .bill-address{
  min-height: 0px !important;
}

.cancel-bill{
  font-size: 0.75rem;
  font-weight: 600;
  color: red;
  padding: 0.1rem;
}
