/deep/ .mat-card {
    padding: 16px;
    .mat-card-header {
        height: 25px;
    }
    .mat-card-content {
        border-top: 1px solid #eee;
        margin-top: 8px;
        margin:0;
        padding: 16px 16px 0 16px;
        .text-input-field {
            width: 100%;
        }
    }
    .mat-card-image {
        margin-top: 8px;
    }
}