<div class="animated fadeIn">

  <div class="row">
    <h3 class="col-6">Danh sách khách hàng</h3>
    <div class="col-6">
      <button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm khách hàng</button>
      <button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa khách hàng</button>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="search-bar">
      <p>Tìm kiếm</p>
      <input type="text" class="input-control form-control" (keyup)="onSearch($event)">
    </div>
    <data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
      [selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="avatar" header="Avatar">
        <template #dataTableCell let-item="item">
              <img height="50px" [src]="item.avatar?item.avatar:thumbDefault">
          </template>
      </data-table-column>
      <data-table-column property="phone" header="Số điện thoại" [sortable]="true">
      </data-table-column>
      <data-table-column property="fullname" header="Họ và tên" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span>{{item.fullname?item.fullname:"không có"}}</span>
            </template>
      </data-table-column>
      <data-table-column property="chatbot" header="Chatbot" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span>{{item.chatbot_subscriber_id?"có kết nối":"không kết nối"}}</span>
            </template>
      </data-table-column>
      <!-- <data-table-column property="birthday" header="Ngày sinh" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span>{{item.birthday?(item.birthday | date:'dd/MM/yyyy'):"không có thông tin"}}</span>
            </template>
      </data-table-column> -->
      <data-table-column property="status" header="Trạng thái" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span class="badge p-h" [ngClass]="{'badge-success': item.status == 1, 'badge-danger':item.status != 1}">{{item.status == 1?"Hoạt động":"Không hoạt động"}}</span>
            </template>
      </data-table-column>
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
              <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
              <!-- <button (click)="sendMessageChatbot(item)" *ngIf="item.chatbot_subscriber_id" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-send"></i></button>
              <button (click)="sendStoryChatbot(item)" *ngIf="item.chatbot_subscriber_id" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-send-o"></i></button> -->
            </template>
      </data-table-column>
    </data-table>
  </div>
</div>
