<div class="animated fadeIn">
  <form #itemFrm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Nhập thông tin
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Tên sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên sản phẩm'" required>
                    <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Mô tả ngắn</label>
                  <div class="col-md-10">
                    <input type="text" #shortDescriptionControl="ngModel" [(ngModel)]="shortDescription" name="shortDescription" class="form-control input-control" [placeholder]="'Mô tả ngắn'" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
                  <div class="col-md-10">
                    <quill-editor [(ngModel)]="description" name="description" placeholder="'Nhập mô tả'" class="form-control input-control" style="border:none; padding: 0"></quill-editor>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Quả tặng?</label>
                  <div class="col-md-10">
                    <mat-checkbox #isGiftControl="ngModel" [(ngModel)]="isGift" name="isGift" (ngModelChange)="checkGift($event)"> </mat-checkbox>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Meta-data</label>
                  <div class="col-md-10">
                    <json-editor [options]="editorOptions" [data]="data"></json-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Thiết lập
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="select">Loại sản phẩm</label>
                  <div class="col-md-10">
                    <select id="categorySelect" #categoryControl="ngModel" [(ngModel)]="category" name="category" class="form-control input-control">
                          <option value="null" disabled="true" [selected]="true">Chọn loại sản phẩm</option>
                          <option *ngFor="let v of categories | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <span class="add-title" (click)="showDialogAddNewEntity('category')"><i class="fas fa-plus"></i> Thêm loại sản phẩm mới</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
                  <div class="col-md-10">
                    <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                        <option *ngFor="let v of [0,1]" [value]="v">
                          {{ v===1?"Hoạt động":"Không hoạt động"}}
                        </option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Chi phí
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Giá sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" #priceControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="price" name="price" class="input-control form-control" [placeholder]="'Nhập giá sản phẩm'" required>
                    <small *ngIf="priceControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Giá gốc sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" step="1000" #basePriceControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="base_price" name="base_price" class="form-control input-control" [placeholder]="'Nhập giá gốc sản phẩm'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Trạng thái sản phẩm
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Trạng thái sản phẩm</label>
                  <div class="col-md-10">
                    <select id="productTypeSelect" #productTypeControl="ngModel" [(ngModel)]="product_type" name="product_type" class="form-control input-control" placeholder="Trạng thái sản phẩm">
                          <option value="null" [selected]="true">Chọn trạng thái sản phẩm</option>
                          <option *ngFor="let v of productTypes | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <span class="add-title" (click)="showDialogAddNewEntity('product-type')"><i class="fas fa-plus"></i> Thêm trạng thái sản phẩm mới</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Đơn vị tính
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Đơn vị</label>
                  <div class="col-md-10">
                    <select id="unitSelect" #unitControl="ngModel" [(ngModel)]="unit" name="unit" class="form-control input-control" placeholder="Đơn vị">
                          <option value="null" disabled="true" [selected]="true">Chọn đơn vị</option>
                          <option *ngFor="let v of units | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <span class="add-title" (click)="showDialogAddNewEntity('unit')"><i class="fas fa-plus"></i> Thêm đơn vị mới</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Hình ảnh
                <button type="submit" class="btn btn-sm btn-primary float-right ml-1" (click)="addImage()"><i class="fas fa-link"></i>Thêm URL</button>
                <button type="submit" class="btn btn-sm btn-primary float-right" (click)="fileUploader.click()"><i class="fas fa-upload"></i>Upload ảnh</button>
                <input [(ngModel)]="files" type="file" accept="image/*" #fileUploader (change)="onChangeImageFile($event)"
                [hidden]="true" [ngModelOptions]="{standalone: true}" multiple>
              </div>
              <!-- <div class="card-block" *ngIf="falseococo">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Hình ảnh</label>
                  <div class="col-md-10">
                    <div class="input-group">
                      <input type="file" name="file-input" #fileUploader (change)="onChangeImageFile($event)" [style.display]="'none'">
                      <input type="text" #imageControl="ngModel" [(ngModel)]="image" (input)="onImageChangeData($event.target.value)" name="image" url class="form-control input-control" [placeholder]="image?'':'Nhập url'" />
                      <span class="input-group-append">
                        <button type="button" class="btn btn-ladda ladda-button btn-primary" (click)="fileUploader.click()"
                        data-style="contract-overlay" style="z-index: 10;">
                          <span class="ladda-label">Đăng ảnh</span>
                      </button>
                      </span>
                    </div>
                  </div>
                  <div class="offset-md-2 col-md-10" *ngIf="previewImage">
                    <span class="image-wrapper" *ngIf="previewImage">
                      <img class="close-btn" [attr.src]="closeImage" (click)="removeImage()" />
                      <img id="preview-image" *ngIf="fileUploader.value || imageControl.value" [src]="previewImage" (error)="this.previewImage = this.errorImage" />
                    </span>
                  </div>
                </div>
              </div> -->
              <div class="card-block">
                <small *ngIf="list_image == null || list_image.length == 0" class="not-found">
                  Chưa có hình ảnh
                </small>
                <div class="image-list-wrapper">
                  <div class="image-container" *ngFor="let image of list_image; let i = index" (click)="openImage(image)">
                    <div class="image-wrapper">
                      <img src="{{image}}">
                    </div>
                    <div *ngIf="i == 0" class="rect" [matTooltip]="'Ảnh đại diện'" matTooltipPosition="before">
                      <i class="fas fa-star"></i>
                      <div class="triangle"></div>
                    </div>
                    <button class="btn btn-sort btn-left" (click)="moveLeft(i); $event.stopPropagation()" [hidden]="i == 0"><i class="fas fa-arrow-left"></i></button>
                    <button class="btn btn-sort btn-right" (click)="moveRight(i); $event.stopPropagation()" [hidden]="i == list_image.length - 1"><i class="fas fa-arrow-right"></i></button>
                    <button class="btn btn-sort btn-remove" (click)="removeImage(i); $event.stopPropagation()"><i class="fas fa-times"></i></button>
                  </div>
                  <div class="image-container" [hidden]="!isUploading">
                    <div class="loading-wrapper">
                      <div><i class="fas fa-circle-notch fa-spin m-auto"></i></div>
                      <div>Đang tải ảnh...</div>
                    </div>
                  </div>
                </div>
                <!-- <swiper [config]="imageConfig" #imageSwiper id="product-swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let image of list_image; let i = index" (mouseenter)="image_on_hover = i" (mouseleave)="image_on_hover = -1">
                      <div class="card n-mb-card">
                        <div class="card-block p-0">
                          <div class="product-swiper-image" [style.background-image]="'url('+image+')'">
                            <div class="btn-group pull-right" *ngIf="image_on_hover == i">
                              <button (click)="setThumbnail(i)" class="btn btn-primary btn-sm"><i class="fas fa-star"></i></button>
                              <button (click)="removeImage(i)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-pagination"></div>

                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </swiper> -->
              </div>
            </div>
          </div>

          <!-- <div class="col-md-12" *ngIf="thumb">
            <div class="card n-mb-card">
              <div class="card-header">
                Ảnh đại diện
              </div>
              <div class="card-block" style="text-align: center">
                <img style="width: 100px; height: 100px;" [src]="thumb" />
              </div>
            </div>
          </div> -->

          <div class="col-md-12 remove-pb">
            <div class="card n-mb-card remove-pb">
              <div class="card-header">
                Topping
              </div>
              <div class="card-block">
                <div class="form-group row remove-pb">
                  <label class="col-md-2 header-text">Topping:</label>
                  <div class="col-md-12 mt-1 mb-1">
                    <span class="add-title" (click)="showDialogAddNewEntity('topping-type')"><i class="fas fa-plus"></i> Thêm loại topping mới</span><br>
                    <span class="add-title" (click)="showDialogAddNewEntity('topping')"><i class="fas fa-plus"></i> Thêm topping mới</span>
                  </div>
                  <div class="col-md-12">
                    <ng-select class="form-group input-control" [multiple]="true" #toppingSelecter [allowClear]="true" [items]="topping_items | async" (selected)="toppingSelected($event)" (removed)="toppingRemoved($event)" placeholder="Chọn loại topping">
                    </ng-select>
                  </div>
                  <div class="col-md-12">
                    <app-topping-detail [topping]="getTopping(item.id)" [price]="price" *ngFor="let item of toppingSelecter.active"></app-topping-detail>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    Thêm sản phẩm
                  </div>
                  <div class="card-block">
                    <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và tạo mới</button>
                    <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và thoát</button>
                    <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-edit"></i> Sửa và thoát</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </form>
</div>
