<div class="animated fadeIn">
  <form #itemFrm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Nhập thông tin
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Tên sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên sản phẩm'" required>
                    <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Mô tả ngắn</label>
                  <div class="col-md-10">
                    <input type="text" #shortDesciptionControl="ngModel" [(ngModel)]="shortDesciption" name="shortDesciption" class="form-control input-control" [placeholder]="'Mô tả ngắn'" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
                  <div class="col-md-10">
                    <textarea [froalaEditor] [(froalaModel)]="description" name="description" class="form-control input-control" [placeholder]="'Nhập mô tả'"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Thiết lập
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="select">Loại sản phẩm</label>
                  <div class="col-md-10">
                    <select id="categorySelect" #categoryControl="ngModel" [(ngModel)]="category" name="category" class="form-control input-control">
                          <option value="null" disabled="true" [selected]="true">Chọn loại sản phẩm</option>
                          <option *ngFor="let v of categories | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
                  <div class="col-md-10">
                    <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                        <option *ngFor="let v of [0,1]" [value]="v">
                          {{ v===1?"Hoạt động":"Không hoạt động"}}
                        </option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12" [hidden]="true">
            <div class="card n-mb-card">
              <div class="card-header">
                Mã sản phẩm
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">SKU</label>
                  <div class="col-md-10">
                    <input type="text" name="text-input" class="form-control input-control" placeholder="SKU">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Barcode</label>
                  <div class="col-md-10">
                    <input type="text" name="text-input" class="form-control input-control" placeholder="Barcode">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Chi phí
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Giá sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" #priceControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="price" name="price" class="input-control form-control" [placeholder]="'Nhập giá sản phẩm'" required>
                    <small *ngIf="priceControl.errors?.required" class="text-muted danger">
                      (Không được bỏ trống)
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Giá gốc sản phẩm</label>
                  <div class="col-md-10">
                    <input type="text" step="1000" #basePriceControl="ngModel" [textMask]="{mask: numberMask}" [(ngModel)]="base_price" name="base_price" class="form-control input-control" [placeholder]="'Nhập giá gốc sản phẩm'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Trạng thái sản phẩm
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Trạng thái sản phẩm</label>
                  <div class="col-md-10">
                    <select id="productTypeSelect" #productTypeControl="ngModel" [(ngModel)]="product_type" name="product_type" class="form-control input-control" placeholder="Trạng thái sản phẩm">
                          <option value="null" disabled="true" [selected]="true">Chọn trạng thái sản phẩm</option>
                          <option *ngFor="let v of productTypes | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Đơn vị tính
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-md-2 header-text" for="text-input">Đơn vị</label>
                  <div class="col-md-10">
                    <select id="unitSelect" #unitControl="ngModel" [(ngModel)]="unit" name="unit" class="form-control input-control" placeholder="Đơn vị">
                          <option value="null" disabled="true" [selected]="true">Chọn đơn vị</option>
                          <option *ngFor="let v of units | async" [value]="v.id">
                            {{v.name}}
                          </option>
                        </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card n-mb-card">
              <div class="card-header">
                Hình ảnh
                <button type="submit" class="btn btn-sm btn-primary float-right" (click)="addImage()"> Thêm</button>
              </div>
              <div class="card-block">
                <small *ngIf="list_image == null || list_image.length == 0" class="text-muted danger">
                  Chưa có hình ảnh
                </small>
                <swiper [config]="imageConfig" #imageSwiper id="product-swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let image of list_image; let i = index" (mouseenter)="image_on_hover = i" (mouseleave)="image_on_hover = -1">
                      <div class="card n-mb-card">
                        <div class="card-block p-0">
                          <div class="product-swiper-image" [style.background-image]="'url('+image+')'">
                            <div class="btn-group pull-right" *ngIf="image_on_hover == i">
                              <button (click)="setThumbnail(i)" class="btn btn-primary btn-sm"><i class="fa fa-star"></i></button>
                              <button (click)="removeImage(i)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </swiper>
              </div>
            </div>
          </div>

          <div class="col-md-12" *ngIf="thumb">
            <div class="card n-mb-card">
              <div class="card-header">
                Ảnh đại diện
              </div>
              <div class="card-block" style="text-align: center">
                <img style="width: 100px; height: 100px;" [src]="thumb" />
              </div>
            </div>
          </div>

          <div class="col-md-12 remove-pb">
            <div class="card n-mb-card remove-pb">
              <div class="card-header">
                Topping
              </div>
              <div class="card-block">
                <div class="form-group row remove-pb">
                  <label class="col-md-2 header-text">Topping:</label>
                  <div class="col-md-10">
                    <ng-select class="form-group input-control" [multiple]="true" #toppingSelecter [allowClear]="true" [items]="topping_items | async" (selected)="toppingSelected($event)" (removed)="toppingRemoved($event)" placeholder="Chọn loại topping">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row remove-pb" *ngFor="let topping of toppings | async" [hidden]="toppings!=null?false:true">
                  <label class="col-md-2 sub-header-text" *ngIf="topping.selected && topping.values">{{topping.name}}<span *ngIf="topping.description" class="color-primary"> ({{topping.description}})</span></label>
                  <div class="col-md-12" *ngIf="topping.selected && topping.values">
                    <div class="row remove-pb">
                      <div class="col-md-2" *ngFor="let value of topping.values">
                        <label class="checkbox-inline" for="inline-checkbox1">
                            <i class="icon-check icons mr-h"></i> {{value.name}} <span class="color-dark">(+{{value.price | accounting}}) -> {{showPrice(value.price) | accounting}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    Thêm sản phẩm
                  </div>
                  <div class="card-block">
                    <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-success ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm và tạo mới</button>
                    <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm và thoát</button>
                    <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-edit"></i> Sửa và thoát</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </form>
</div>
