<div class="animated fadeIn">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} lịch sử xuất kho</strong>
        </div>
        <div class="card-block">

          <!-- employeeId,
          supplierId,
          storeId,
          productId,
          toppingValueId,
          amount,
          note,
          status -->

          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Nhà cung ứng</label>
            <div class="col-md-10">
              <select id="select" #supplierIdControl="ngModel" [(ngModel)]="supplierId" name="supplierId" class="form-control input-control">
                  <option [value]="null" selected=true disabled=true>Chọn nhà cung ứng</option>
                  <option *ngFor="let v of suppliers | async" [value]="v.id">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Kho</label>
            <div class="col-md-10">
              <select id="select" #storeIdControl="ngModel" [(ngModel)]="storeId" name="storeId" class="form-control input-control">
                  <option [value]="null" selected=true disabled=true>Chọn kho</option>
                  <option *ngFor="let v of stores | async" [value]="v.id">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Sản phẩm</label>
            <div class="col-md-10">
              <select id="select" #productIdControl="ngModel" [(ngModel)]="productId" name="productId" class="form-control input-control">
                  <option [value]="null" selected=true disabled=true>Chọn sản phẩm</option>
                  <option *ngFor="let v of products | async" [value]="v.id">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Loại topping</label>
            <div class="col-md-10">
              <select id="select" #toppingValueIdControl="ngModel" [(ngModel)]="toppingValueId" name="toppingValueId" class="form-control input-control">
                  <option [value]="null" selected=true disabled=true>Chọn topping</option>
                  <option *ngFor="let v of toppingValues | async" [value]="v.id">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Số lượng</label>
            <div class="col-md-10">
              <input type="number" #amountControl="ngModel" [(ngModel)]="amount" name="amount" class="form-control input-control" [placeholder]="'Nhập số lượng'" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Ghi chú</label>
            <div class="col-md-10">
              <input type="text" #noteControl="ngModel" [(ngModel)]="note" name="note" class="form-control input-control" [placeholder]="'Nhập ghi chú'" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
            <div class="col-md-10">
              <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-success ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm và tạo mới</button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm và thoát</button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fa fa-edit"></i> Sửa và thoát</button>
        </div>
      </div>
    </div>
  </form>
</div>
