<mat-list-item color="primary">
  <div mat-card-avatar mat-list-icon class="quick-reply-img" [style.backgroundImage]="'url('+image_url+')'"></div>
  <a matLine href="javascript:;" (click)="defaultAction()">{{title}}</a>
  <button mat-icon-button [matMenuTriggerFor]="buttonMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #buttonMenu="matMenu">
    <button mat-menu-item (click)="editTitle()">Thay đổi tiêu đề</button>
    <button mat-menu-item (click)="editIcon()">Thay đổi icon</button>
    <button mat-menu-item (click)="editStory()">Thay đổi câu truyện</button>
    <button mat-menu-item (click)="close()">Xoá</button>
  </mat-menu>

</mat-list-item>
<mat-divider></mat-divider>