<div class="animated fadeIn">

  <div class="row">
    <h3 class="col-6">Danh sách khuyến mãi</h3>
    <div class="col-6">
      <button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm khuyến mãi</button>
      <button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()"
      [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa khuyến mãi</button>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="search-bar">
      <p>Tìm kiếm</p>
      <input type="text" class="input-control form-control" (keyup)="onSearch($event)">
    </div>
    <data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async"
    [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true"
    [multiSelect]="true" [substituteRows]="false" [selectOnRowClick]="true"
    [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="name" header="Tên" [sortable]="true">
      </data-table-column>
      <data-table-column property="type" header="Khuyến mãi" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{getNamePromotionType(item.promotion_type)}}
          </template>
      </data-table-column>
      <data-table-column property="type" header="Giá trị" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{getValuePromotion(item.value,item.promotion_type)}}
          </template>
      </data-table-column>
      <data-table-column property="type" header="Thời gian" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
            <p style="text-align: center">{{item.start_date | date:'dd/MM/yyyy hh:mm'}} <br> đến <br> {{item.end_date | date:'dd/MM/yyyy hh:mm'}}</p>
          </template>
      </data-table-column>
      <data-table-column property="type" header="Khách hàng" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.customer_types?(item.customer_types[0]?.customer_type?item.customer_types[0].customer_type.name:"không có"):"không có"}}
          </template>
      </data-table-column>
      <data-table-column property="status" header="Trạng thái" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span class="badge p-h" [ngClass]="{'badge-success': item.status == 1, 'badge-danger':item.status == 0}">{{item.status == 1?"Hoạt động":"Không hoạt động"}}</span>
            </template>
      </data-table-column>
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
              <button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
            </template>
      </data-table-column>
    </data-table>
  </div>
</div>
