<div class="row m-0" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;">
    <div class="animated fadeIn col-12 " style="height:100%" >
        <div class="card email-app m-0" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
            <nav *ngIf="page" >
                <div class="row">
                <div class="avatar" style="margin:auto">
                    <img  [src]="page.picture.data.url" class="img-avatar" alt="admin@bootstrapmaster.com">
                </div>
                
                </div>
                <p class="text-center"><strong >{{page.name}}</strong></p>
                
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/chatbot/dashboard',page.id,'settings']" ><i class="fa fa-gear"></i> Cài đặt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/chatbot/dashboard',page.id,'stories']"><i class="fa fa-comments-o"></i> Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/chatbot/dashboard',page.id,'notification']" ><i class="fa fa-rocket"></i> Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/chatbot/dashboard',page.id,'subscribers']"><i class="fa fa-users"></i> Khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="javascript:;"><strong><i class="fa fa-trash-o"></i> Huỷ đăng ký</strong></a>
                    </li>
                </ul>
            </nav>

            <main style="position: absolute;left: 200px;right: 0;bottom: 0;top: 0;overflow: hidden;">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>
<span defaultOverlayTarget></span>

