<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <form #registerForm="ngForm">
        <div id="logo"></div>
        <h4 id="login-title">Kết nối chatbot</h4>
        <div class="form-group row">
          <label class="col-md-2 header-text" for="text-input">App Id</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="appId" name="appId" class="form-control input-control" placeholder="Nhập app id">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 header-text" for="text-input">App Secret</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="appSecret" name="appSecret" class="form-control input-control" placeholder="Nhập app secret">
          </div>
        </div>
        <div class="form-group row" *ngIf="appToken">
          <label class="col-md-2 header-text" for="text-input">App Token</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="appToken" name="appToken" class="form-control input-control" placeholder="Nhập app secret">
          </div>
        </div>
        <div class="form-group row" *ngIf="stories">
          <label class="col-md-2 header-text" for="select">Danh sách stories</label>
          <div class="col-md-10">
            <select #storyControl="ngModel" [(ngModel)]="story" name="story" class="form-control input-control">
                <option *ngFor="let v of stories" [value]="v._id">
                  {{ v.name}}
                </option>
              </select>
          </div>
        </div>
        <button type="submit" class="btn btn-ladda btn-primary ml-auto" (click)="integrateToChatbotSystem()"><i class="fa fa-plus"></i> Kết nối</button>
        <button *ngIf="appToken" type="submit" class="btn btn-ladda btn-warning ml-auto" (click)="disconnectChatbotSystem()"><i class="fa fa-trash"></i> Gửi story</button>
        <button *ngIf="appToken" type="submit" class="btn btn-ladda btn-primary ml-auto" (click)="sendMessage()"><i class="fa fa-send"></i> Gửi story</button>
      </form>
    </div>
  </div>
</div>
