<div class="animated fadeIn" [hidden]="true">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin</strong>
        </div>
        <div class="card-block">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Loại dịch vụ</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Loại dịch vụ">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">Mô tả</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="Mô tả"></textarea>
              </div>
   			</div>
   			<div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Hình thức</label>
              <div class="col-md-9">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn hình thức</option>
                  <option value="1">Khoảng cách</option>
                  <option value="2">Khu vực</option>
                </select>
              </div>
            </div>
   			<div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Khu vực</label>
              <div class="col-md-9">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Quận 1</option>
                  <option value="2">Quận 2</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Khoảng cách</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Khoảng cách">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Chi phí</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Chi phí">
              </div>
            </div>
   			<div class="form-group row">
              <label class="col-md-3 form-control-label" for="select">Trạng thái hoạt động</label>
              <div class="col-md-9">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Chọn trạng thái</option>
                  <option value="1">Hoạt động</option>
                  <option value="2">Không hoạt động</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>



<div class="animated fadeIn">
  <div class="container">

    <!-- regular accordion -->
    <accordion>
      <accordion-group heading="About me">
        Its all about me.
      </accordion-group>
      <accordion-group heading="Contacts">
        This is content of the contacts
      </accordion-group>
      <accordion-group heading="Map">
        Content of the Map
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          Custom heading
        </accordion-heading>
        Its all about me.
      </accordion-group>
    </accordion>

    <!-- regular accordion with first opened group -->
    <accordion>
      <accordion-group heading="About me" [isOpened]="true">
        Its all about me.
      </accordion-group>
      <accordion-group heading="Contacts">
        This is content of the contacts
      </accordion-group>
      <accordion-group heading="Map">
        Content of the Map
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <b>Custom</b> <i style="color: deeppink">heading</i>
        </accordion-heading>
        Its all about me.
      </accordion-group>
    </accordion>

    <!-- accordion with arrows -->
    <accordion [showArrows]="true">
      <accordion-group heading="About me">
        Its all about me.
      </accordion-group>
      <accordion-group heading="Contacts">
        This is content of the contacts
      </accordion-group>
      <accordion-group heading="Map">
        Content of the Map
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          Custom heading
        </accordion-heading>
        Its all about me.
      </accordion-group>
    </accordion>

    <!-- accordion where you can close multiple groups -->
    <accordion [closeOthers]="false">
      <accordion-group heading="About me">
        Its all about me.
      </accordion-group>
      <accordion-group heading="Contacts">
        This is content of the contacts
      </accordion-group>
      <accordion-group heading="Map">
        Content of the Map
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          Custom heading
        </accordion-heading>
        Its all about me.
      </accordion-group>
    </accordion>

    <!-- accordion where all items are expanded by default -->
    <accordion [expandAll]="true">
      <accordion-group heading="About me">
        Its all about me.
      </accordion-group>
      <accordion-group heading="Contacts">
        This is content of the contacts
      </accordion-group>
      <accordion-group heading="Map">
        Content of the Map
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          Custom heading
        </accordion-heading>
        Its all about me.
      </accordion-group>
    </accordion>

    <!-- accordion with custom "clickable zone" -->
    <accordion>
      <accordion-group heading="About me">
        Its all about me.
      </accordion-group>
      <accordion-group heading="Contacts">
        This is content of the contacts
      </accordion-group>
      <accordion-group heading="Map">
        Content of the Map
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <input type="checkbox">
          <accordion-toggle>Custom clickable heading</accordion-toggle>
        </accordion-heading>
        Its all about me.
      </accordion-group>
    </accordion>

  </div>
</div>
