<div class="animated fadeIn">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} khu vực</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Tên</label>
            <div class="col-md-10">
              <input type="text" #nameControl="ngModel" [(ngModel)]="name" name="name" class="form-control input-control" [placeholder]="'Nhập tên'" required/>
              <small *ngIf="nameControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Phí</label>
            <div class="col-md-10">
              <input type="text" #feeControl="ngModel" [(ngModel)]="fee" name="fee" class="form-control input-control" [placeholder]="'Nhập phí'" required/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Khu vực</label>
            <div class="col-md-10">
              <input type="text" #areaControl="ngModel" [(ngModel)]="area" name="area" class="form-control input-control" [placeholder]="'Nhập khu vực'" required/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Thành phố</label>
            <div class="col-md-10">
              <input type="text" #cityControl="ngModel" [(ngModel)]="city" name="city" class="form-control input-control" [placeholder]="'Nhập thành phố'" required/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
            <div class="col-md-10">
              <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; New
          </button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-sm btn-success btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Submit &amp; Close
          </button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-sm btn-primary btn-ladda" data-style="expand-right" [ladda]='submitting'>
            Update &amp; Close
          </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </form>
</div>
