@import "../../../../scss/bootstrap-variables";

.info-column {
  padding-left: 18px;
  padding-right: 10px;

  h6 {
    margin-bottom: 12px;

    i {
      margin-right: 8px;
    }
  }

  div {
    margin-bottom: 4px;
  }
}

.table-price {
  td {
    padding: 5px 5px 8px 12px;
  }

  .price-title {
    color: $bluegrey-darker;
  }

  tr:last-child {
    border-top: 1px solid $bluegrey-mild;

    td {
      padding-top: 15px;
      font-size: 1.2rem;
    }
  }
}

.btn-edit {
  margin: 4px 15px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $bluegrey-dark;
  color: $bluegrey;
  background-color: $bluegrey-white;
  font-weight: bold;
  text-transform: none !important;

  i {
    margin-right: 5px;
  }

  &:hover {
    background-color: $bluegrey-lightest;
    color: $bluegrey-dark;
  }
}

.btn-editor {
  cursor: pointer;
  cursor: hand;
  color: $bluegrey-mild;
  margin: 5px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

.table td,
.table th {
  vertical-align: middle;
}

/deep/ .tab-content,
/deep/ .tabset-control a.nav-link.active {
  border: none !important;
}

/deep/ tabset .card {
  border: none;
}

/deep/ tabset .card .card-block {
  padding: 0;
}

/deep/ tabset .card-block i {
  margin: 0;
}

/deep/ tabset .editor {
  margin-left: 1rem !important;
}

.cancel-bill{
  font-size: 0.75rem;
  font-weight: 600;
  color: red;
  padding: 0.1rem;
}

.send-bill{
  font-size: 0.75rem;
  font-weight: 600;
  color: #64B5F6;
  padding: 0.1rem;
}
