<div class="animated fadeIn">
  <tabset class="tabset-control">
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fa fa-asterisk"></i> Thông tin đơn hàng</ng-template>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="float-left">
                <div>Đơn hàng: <strong>{{item.id}}</strong></div>
                <div>Ngày nhận: {{changeDateFormat(item.bill_ship_detail?.received_time, 'DD-MM-YYYY HH:mm')}}</div>
              </div>
              <a class="btn btn-sm btn-gray-info float-right" (click)="print(item)"><i class="fa fa-print"></i> In hóa đơn</a>
              <a class="btn btn-sm btn-gray-info float-right mr-h"><i class="fa fa-save"></i> Đã thu tiền</a>
            </div>
            <div class="card-block" id="print_content">
              <div class="row mb-2">

                <div class="col-sm-4 info-column">
                  <h6><i class="fa fa-address-card-o"></i> Khách hàng 
                    <i class="fa fa-pencil btn-editor" *ngIf="load_done.getValue()" (click)="editInfo()"></i></h6>
                  <div>Họ và tên: <strong>{{item.customer?.fullname}}</strong>
                    <i class='muted' *ngIf="!item.customer?.fullname">Không có</i></div>
                  <div>Địa chỉ: {{item.address}}</div>
                  <div>SĐT: {{item.customer?.phone}}</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4 info-column">
                  <h6><i class="fa fa-truck"></i> Nhân viên giao hàng</h6>
                  <div>Họ và tên: <strong>{{item.employee?.fullname}}</strong>
                    <i class='muted' *ngIf="!item.employee?.fullname">Không có</i>
                  </div>
                  <div>Phone: {{item.employee?.phone}}
                    <i class='muted' *ngIf="!item.employee?.phone">Không có</i>
                  </div>
                  <div>Email: {{item.employee?.email}}
                    <i class='muted' *ngIf="!item.employee?.email">Không có</i>
                  </div>
                </div>
                <!--/.col-->

                <div class="col-sm-4 info-column">
                  <h6><i class="fa fa-file-text-o"></i> Thông tin đơn hàng</h6>
                  <div> Tổng tiền đơn hàng: {{item.bill_items_total_price | accounting}}</div>
                  <div> Tổng tiền phải trả: {{item.total_price | accounting}}</div>
                  <div> Khuyến mãi: <i class='muted'>Không có</i></div>
                </div>
                <!--/.col-->

              </div>
              <!--/.row-->

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="center">STT</th>
                      <th>Hình ảnh</th>
                      <th>Sản phẩm</th>
                      <th class="center">Số lượng</th>
                      <th class="right">Chi phí</th>
                      <th class="right">Tổng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let v of item.items; let i=index">
                      <td class="center">{{i+1}}</td>
                      <td class="left"><img src="{{v.product.thumb?.url?v.product.thumb:thumbDefault}}" height="50px" /></td>
                      <td class="left">{{v.product.name}}</td>
                      <td class="center">{{v.amount}}</td>
                      <td class="right">{{v.product.price | accounting}}</td>
                      <td class="right">{{v.total_price | accounting}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">

                <div class="col-lg-4 col-sm-5">
                    <!-- <div class="row">
                        <button class="btn btn-sm btn-edit">
                          <i class="fa fa-thermometer-three-quarters"></i> Thay đổi trạng thái
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-edit">
                          <i class="fa fa-file-text"></i> Chỉnh sửa hóa đơn
                        </button>
                    </div>
                    <div class="row">
                      <button class="btn btn-sm btn-edit" (click)="onClick()">
                        <i class="fa fa-money"></i> Điều chỉnh giá tiền
                      </button>
                  </div> -->
                </div>
                <!--/.col-->

                <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
                  <table class="table table-clear table-price">
                    <tbody>
                      <tr>
                        <td class="price-title">Tổng đơn hàng</td>
                        <td class="text-right">{{item.total_price | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">Khuyến mãi</td>
                        <td class="text-right">- 0 đ</td>
                      </tr>
                      <tr>
                        <td class="price-title">VAT (10%)</td>
                        <td class="text-right">+ {{item.vat_fee | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">Phí ship</td>
                        <td class="text-right">+ {{item.bill_ship_detail?.fee | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">Phí phụ thu</td>
                        <td class="text-right">+ 15.000 đ</td>
                      </tr>
                      <tr>
                        <td class="price-title"><strong>Tổng</strong></td>
                        <td class="text-right"><strong>{{item.total_price | accounting}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--/.col-->

              </div>
              <!--/.row-->
            </div>
          </div>

        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fa fa-history"></i> Lịch sử đơn hàng</ng-template>
      <div class="row">
        <div class="col-lg-12">
          <!-- <div class="card"> -->
            <!-- <div class="card-header">
              <div class="row">
                <div class="col-lg-4 mt-h">
                  <span><i class="fa fa-align-justify px-1 mt-h"></i> Lịch sử đơn hàng</span>
                </div>
                <div class="col-lg-8 col-xs-12 mt-h">

                  <form class="form-inline float-right px-2">
                    <label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
                    <select class="form-control input-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>
                    <i class="fa fa-search px-1"></i>
                    <input class="form-control" type="text" placeholder="Search...">
                  </form>

                </div>
              </div>
            </div> -->
            <div class="card-block">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Người đặt</th>
                    <th class="text-center">Người giao</th>
                    <th class="text-center">Địa chỉ</th>
                    <th class="text-center">Thời gian</th>
                    <th class="text-center">Kênh</th>
                    <th class="text-center">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of item.activities;let i=index">
                    <td class="text-center">{{item.id}}</td>
                    <td class="text-center">{{item.employee?v.employee.phone:'Không có'}}</td>
                    <td class="text-center">{{v.employee?v.employee.fullname:'Không có'}}</td>
                    <td class="text-center">{{item.address}}</td>
                    <td class="text-center">{{v.updated_at | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                    <td class="text-center">{{globals.detectChannelByCode(item.channel)}}</td>
                    <td class="text-center">
                      <span class="badge badge-success p-h">{{globals.detectBillActivityByCode(v.action)}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </tab>
  </tabset>
</div>
