<div class="animated fadeIn">
  <tabset class="tabset-control">
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fas fa-asterisk"></i> Thông tin đơn hàng</ng-template>
      <div class="row">
        <div class="col-md-12">
          <span *ngIf="isOrderFromChatbot" class="float-right send-bill mr-h" (click)="sendButtonPayment(bill)"><i class="far fa-paper-plane mr-h"></i>Gửi tin nhắn</span>
          <span *ngIf="isOrderFromChatbot" class="float-right send-bill mr-h" (click)="sendInvoiceToCustomer(bill)"><i class="fas fa-paper-plane mr-h"></i>Gửi hóa đơn</span>
          <span *ngIf="!detectShowCancelButton(bill)" class="float-right cancel-bill mr-h" (click)="showCancelBillDialog(bill)"><i class="fas fa-times mr-h"></i>Hủy đơn hàng</span>
          <span *ngIf="isCancel" class="float-right cancel-bill mr-h">Đơn hàng đã hủy</span>
        </div>
        <div class="col-md-12">
          <div class="card" style="border: 1px solid #e1e6ef">
            <div class="card-header">
              <div class="float-left">
                <div>Đơn hàng: <strong>{{formatBillCode(bill.code?bill.code:"")}}</strong></div>
              </div>
              <a *ngIf="!isCancel" class="btn btn-sm btn-gray-info float-right" (click)="sendButtonPayment(bill)"><i class="fas fa-print"></i> Gửi tin nhắn</a>
              <a *ngIf="!isCancel" class="btn btn-sm btn-gray-info float-right" (click)="print(bill)"><i class="fas fa-print"></i> In hóa đơn</a>
              <a *ngIf="!isCancel" class="btn btn-sm btn-gray-info float-right mr-h" (click)="showEditInfoDialog(bill, employee, employees)"><i class="fas fa-flag"></i> Cập nhật trạng thái</a>
              <a *ngIf="!isCancel" class="btn btn-sm btn-gray-info float-right mr-h" (click)="showUpdatePaidHistoryDialog(bill)"><i class="fas fa-edit"></i> Cập nhật chi phí</a>
            </div>
            <div class="card-block" style="padding: 1.5rem 1rem 1rem;">
              <div class="row mb-2">

                <div class="col-sm-4 info-column">
                  <h6><i class="far file-alt"></i> Thông tin đơn hàng</h6>
                  <div>Ngày nhận: {{changeDateFormat(bill.created_at, 'DD-MM-YYYY HH:mm')}}</div>
                  <div> Tổng tiền đơn hàng: {{bill.total_price | accounting}}</div>
                  <div> Tổng tiền đã thanh toán: {{payAmount | accounting}}</div>
                  <div> Khuyến mãi: {{bill.promotion_id?"có":"không có"}}</div>
                  <div> Ghi chú: {{bill.note?bill.note:"không có"}}</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4 info-column">
                  <h6><i class="fas fa-truck"></i> Thông tin xử lý</h6>
                  <div>Thời gian giao hàng: {{changeDateFormat(bill.bill_ship_detail?.received_time, 'DD-MM-YYYY HH:mm')}}</div>
                  <div>Nhân viên đang xử lý: <strong>{{bill.activity?.employee?.fullname?bill.activity.employee.fullname:"không có"}}</strong></div>
                  <div>Tình trạng đơn hàng: <strong>{{globals.detectBillActivityByCode(bill.activity?bill.activity.action:"không có")}}</strong></div>
                  <div>Tình trạng thanh toán: <strong>{{this.isFullPayment==true?"Đã thanh toán":"Chưa thanh toán đủ"}}</strong></div>

                </div>
                <!--/.col-->

                <div class="col-sm-4 info-column">
                  <h6><i class="far fa-address-card"></i> Khách hàng</h6>
                  <div>Họ và tên: <strong>{{bill.customer?.fullname}}</strong>
                    <i class='muted' *ngIf="!bill.customer?.fullname">Không có</i></div>
                  <div>Địa chỉ: {{bill.address}}</div>
                  <div *ngIf="isMember">SĐT: {{bill.customer?bill.customer.phone:"không có"}}</div>
                  <div>
                    Kênh: {{globals.detectChannelByCode(bill.channel)}}
                  </div>
                </div>
                <!--/.col-->

              </div>

              <hr *ngIf="bill.related_people">
              <div class="row mb-2" *ngIf="bill.related_people">

                <div class="col-sm-4 info-column">
                  <h6><i class="fas fa-user"></i> Thông tin người nhận
                  <i class="fas fa-pencil-alt editor" *ngIf="load_done.getValue() && !isCancel" (click)="openUpdateReceiverInfoDialog()"></i></h6>
                  <div>Họ tên: {{bill.related_people.receiver_name?bill.related_people.receiver_name:"không có"}}</div>
                  <div>Số điện thoại: {{bill.related_people.receiver_phone?bill.related_people.receiver_phone:"không có"}}</div>
                  <div>Địa chỉ: {{bill.related_people.receiver_address?bill.related_people.receiver_address:"không có"}}</div>
                  <div>Ghi chú: {{bill.related_people.receiver_note?bill.related_people.receiver_note:"không có"}}</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4 info-column">
                </div>
                <!--/.col-->

                <div class="col-sm-4 info-column">
                  <h6><i class="fas fa-user"></i> Thông tin người trả
                  <i class="fas fa-pencil-alt editor" *ngIf="load_done.getValue() && !isCancel" (click)="openUpdatePayerInfoDialog()"></i></h6>
                  <div>Họ tên: {{bill.related_people.payer_name?bill.related_people.receiver_name:"không có"}}</div>
                  <div>Số điện thoại: {{bill.related_people.payer_phone?bill.related_people.payer_phone:"không có"}}</div>
                  <div>Địa chỉ: {{bill.related_people.payer_address?bill.related_people.payer_address:"không có"}}</div>
                  <div>Ghi chú: {{bill.related_people.payer_note?bill.related_people.payer_note:"không có"}}</div>
                </div>
                <!--/.col-->


              </div>
              <!--/.row-->

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="center">STT</th>
                      <th>Hình ảnh</th>
                      <th>Sản phẩm</th>
                      <th class="center">Số lượng</th>
                      <th class="right">Chi phí</th>
                      <th class="right">Tổng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let v of bill.items; let i=index">
                      <td class="center">{{i+1}}</td>
                      <td class="left"><img src="{{v.product.thumb?v.product.thumb:thumbDefault}}" height="50px" /></td>
                      <td class="left">{{v.product.name}}</td>
                      <td class="center">{{v.amount}}</td>
                      <td class="right">{{v.product.price | accounting}}</td>
                      <td class="right">{{v.total_price | accounting}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">

                <div class="col-lg-4 col-sm-5">
                  <!-- <div class="row">
                        <button class="btn btn-sm btn-edit">
                          <i class="fas fa-thermometer-three-quarters"></i> Thay đổi trạng thái
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-edit">
                          <i class="fas fa-file-alt"></i> Chỉnh sửa hóa đơn
                        </button>
                    </div>
                    <div class="row">
                      <button class="btn btn-sm btn-edit" (click)="onClick()">
                        <i class="fas fa-money-bill"></i> Điều chỉnh giá tiền
                      </button>
                  </div> -->
                </div>
                <!--/.col-->

                <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
                  <table class="table table-clear table-price">
                    <tbody>
                      <tr>
                        <td class="price-title">Tổng đơn hàng</td>
                        <td class="text-right">+ {{bill.bill_items_total_price | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">Khuyến mãi</td>
                        <td class="text-right">- {{bill.amount_of_promotion | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">VAT</td>
                        <td class="text-right">+ {{bill.vat_fee | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">Phí ship</td>
                        <td class="text-right">+ {{bill.bill_ship_detail?.fee | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title">Phí phụ thu</td>
                        <td class="text-right">+ {{bill.amount_of_sub_fee | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="price-title"><strong>Tổng</strong></td>
                        <td class="text-right"><strong>{{bill.total_price | accounting}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--/.col-->

              </div>
              <!--/.row-->
            </div>
          </div>

        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fas fa-history"></i> Lịch sử hoạt động</ng-template>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Người đặt</th>
                    <th class="text-center">Nhân viên</th>
                    <th class="text-center">Thời gian</th>
                    <th class="text-center">Ghi chú</th>
                    <th class="text-center">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of bill.activities | orderBy: 'updated_at';let i=index">
                    <td class="text-center">{{formatBillCode(bill.code?bill.code:"")}}</td>
                    <td class="text-center">{{bill.employee?v.employee.phone:'Khách vãng lai'}}</td>
                    <td class="text-center">{{v.employee?v.employee.fullname:'Không có'}}</td>
                    <td class="text-center">{{v.updated_at | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td class="text-center">{{v.note?v.note:'Không có'}}</td>
                    <td class="text-center">
                      <span class="badge badge-success p-h">{{globals.detectBillActivityByCode(v.action)}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading class="tab-header"><i class="fas fa-money-bill"></i> Lịch sử thanh toán</ng-template>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Tổng tiền</th>
                    <th class="text-center">Tiền còn thiếu</th>
                    <th class="text-center">Tiền đã trả</th>
                    <!-- <th class="text-center">Tổng tiền đã trả</th> -->
                    <th class="text-center">Nội dung</th>
                    <th class="text-center">Nhân viên xử lý</th>
                    <th class="text-center">Thời gian</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of bill.paid_historys | orderBy: 'created_at';let i=index">
                    <td class="text-center">{{v.total_amount | accounting}}</td>
                    <td class="text-center">{{v.remain_amount | accounting}}</td>
                    <td class="text-center">{{v.pay_amount | accounting}}</td>
                    <!-- <td class="text-center">{{v.total_remain | accounting}}</td> -->
                    <td class="text-center">{{v.note?v.note:"không có"}}</td>
                    <td class="text-center">{{v.employee?v.employee.fullname:'không có'}}</td>
                    <td class="text-center">{{v.created_at | date:'dd/MM/yyyy HH:mm'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
