<div class="animated fadeIn">
  <tabset>
    <tab>
      <ng-template tabHeading><i class="icon-eye"></i> Thông tin đơn hàng</ng-template>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Đơn hàng: <strong>{{item.id}}</strong>
              <a class="btn btn-sm btn-info float-right" (click)="printt()"><i class="fa fa-print"></i> Print</a>
              <a class="btn btn-sm btn-info float-right mr-h"><i class="fa fa-save"></i> Đã thu tiền</a>
            </div>
            <div class="card-block" id="print_content">
              <div class="row mb-2">

                <div class="col-sm-4">
                  <h6 class="mb-1">Khách hàng:</h6>
                  <div><strong>Họ và tên: {{item.customer?item.customer.fullname:'Không có'}}</strong></div>
                  <div>Địa chỉ: {{item.address}}</div>
                  <div>Phone: {{item.customer?item.customer.phone:''}}</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4">
                  <h6 class="mb-1">Nhân viên giao hàng:</h6>
                  <div><strong>Họ và tên: {{item.employee?item.employee.fullname:'Không có'}}</strong></div>
                  <div>Phone: {{item.employee?item.employee.phone:'Không có'}}</div>
                  <div>Email: {{item.employee?item.employee.email:'Không có'}}</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4">
                  <h6 class="mb-1">Thông tin đơn hàng:</h6>
                  <div> Tổng tiền đơn hàng: {{item.total_price | accounting}}</div>
                  <div> Tổng tiền phải trả: {{item.total_price | accounting}}</div>
                  <div> Khuyến mãi: Không có</div>
                </div>
                <!--/.col-->

              </div>
              <!--/.row-->

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="center">STT</th>
                      <th>Hình ảnh</th>
                      <th>Sản phẩm</th>
                      <th class="center">Số lượng</th>
                      <th class="right">Chi phí</th>
                      <th class="right">Tổng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let v of item.items; let i=index">
                      <td class="center">{{i+1}}</td>
                      <td class="left"><img src="{{v.product.thumb?.url?v.product.thumb:thumbDefault}}" height="50px" /></td>
                      <td class="left">{{v.product.name}}</td>
                      <td class="center">{{v.amount}}</td>
                      <td class="right">{{v.product.price | accounting}}</td>
                      <td class="right">{{v.total_price | accounting}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">

                <div class="col-lg-4 col-sm-5">
                  <div class="well">

                  </div>
                </div>
                <!--/.col-->

                <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
                  <table class="table table-clear">
                    <tbody>
                      <tr>
                        <td class="left"><strong>Tổng đơn hàng</strong></td>
                        <td class="right">{{item.total_price | accounting}}</td>
                      </tr>
                      <tr>
                        <td class="left"><strong>Khuyến mãi </strong></td>
                        <td class="right">0đ</td>
                      </tr>
                      <tr>
                        <td class="left"><strong>VAT (10%)</strong></td>
                        <td class="right">9.000đ</td>
                      </tr>
                      <tr>
                        <td class="left"><strong>Tổng</strong></td>
                        <td class="right"><strong>{{item.total_price | accounting}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                  <a href="#" class="btn btn-success"><i class="fa fa-usd"></i> Proceed to Payment</a>
                </div>
                <!--/.col-->

              </div>
              <!--/.row-->
            </div>
          </div>

        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading><i class="icon-calculator"></i> Lịch sử đơn hàng</ng-template>
      <div class="row">
        <div class="col-lg-12">
          <!-- <div class="card"> -->
            <!-- <div class="card-header">
              <div class="row">
                <div class="col-lg-4 mt-h">
                  <span><i class="fa fa-align-justify px-1 mt-h"></i> Lịch sử đơn hàng</span>
                </div>
                <div class="col-lg-8 col-xs-12 mt-h">

                  <form class="form-inline float-right px-2">
                    <label class="form-control-label mr-1" for="text-input">Số lượng:  </label>
                    <select class="form-control input-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>
                    <i class="fa fa-search px-1"></i>
                    <input class="form-control" type="text" placeholder="Search...">
                  </form>

                </div>
              </div>
            </div> -->
            <div class="card-block">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Người đặt</th>
                    <th class="text-center">Người giao</th>
                    <th class="text-center">Địa chỉ</th>
                    <th class="text-center">Thời gian</th>
                    <th class="text-center">Kênh</th>
                    <th class="text-center">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of item.activities;let i=index">
                    <td class="text-center">{{item.id}}</td>
                    <td class="text-center">{{item.employee?v.employee.phone:'Không có'}}</td>
                    <td class="text-center">{{v.employee?v.employee.fullname:'Không có'}}</td>
                    <td class="text-center">{{item.address}}</td>
                    <td class="text-center">{{v.updated_at | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                    <td class="text-center">{{globals.detectChannelByCode(item.channel)}}</td>
                    <td class="text-center">
                      <span class="badge badge-success p-h">{{globals.detectBillActivityByCode(v.action)}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </tab>
  </tabset>
</div>
