@import "./theme.scss";
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.min.css"; // Here you can add other styles

body {
  font-family: 'Helvetica Neue';
  overflow: hidden;
}

.main {
  background-color: white;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.material-icons {
  vertical-align: middle;
}

.navbar {
  .form-inline {
    i {
      color: $navbar-color;
    }

    .form-control {
      margin-top: -3px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }

    .form-control::-webkit-input-placeholder {
      color: $navbar-color;
    }

    .form-control:-moz-placeholder {
      color: $navbar-color;
    }

    .form-control::-moz-placeholder {
      color: $navbar-color;
    }

    .form-control:-ms-input-placeholder {
      color: $navbar-color;
    }
  }

  .nav-item {
    .nav-link.nav-pill {
      width: 32px;
      height: 32px;
      padding: 0;
      line-height: 32px;
      border: 1px solid $navbar-color;
      border-radius: 50em;

      &:hover {
        border-color: $navbar-hover-color;
      }

      .badge-pill {
        margin-top: -18px;
        margin-left: -5px;
        border: 2px solid #fff !important;
        line-height: 14px;
      }

      &.avatar {
        width: 38px;
        height: 38px;

        img {
          width: 36px;
          height: 36px;
          margin: 0;
          border: 0;
        }

        .badge {
          margin-top: -22px;
          margin-left: 5px;
        }

        &.dropdown-toggle:after {
          display: none;
        }
      }
    }
  }
}

.sidebar .sidebar-nav .nav {
  .nav-title {
    span {
      position: relative;
      display: inline-block;

      &:after,
      &:before {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 1px;
        margin-top: -1px;
        content: '';
        border-bottom: 1px solid $sidebar-nav-title-color;
      }

      &:before {
        left: -30px;
      }

      &:after {
        right: -30px;
      }
    }
  }
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

.ng-sidebar--bottom {
  height: 300px !important;
  background-color: #eee !important;
  /* box-shadow:  0px -10px 1px  #aaaaaa; */
}

.card {
  box-shadow: none;
}

.custom-file-control:invalid,
.form-control:invalid {
  background-image: none;
}

.custom-file-control:read-only, .form-control:read-only {
  background-image: none;
}

.header-spacer {
  flex: 1 1 auto;
}
.icon-btn {
  cursor: pointer
}

.input-control {
  color: $grey-dark;
  border-radius: 3px;
  font-size: 0.85rem;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey-mild;
    font-size: 0.85rem;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $grey-mild;
    font-size: 0.85rem;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $grey-mild;
    font-size: 0.85rem;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $grey-mild;
    font-size: 0.85rem;
  }
  &:focus {
    color: $grey-dark;
  }
}

.select-control {
  color: $grey-dark;
  border-radius: 3px !important;
  font-size: 0.85rem;
  transition: all 0.3s ease;
  &:focus {
    color: $grey-dark;
    border: 1px solid $brand-primary !important;
  }
  option {
    margin: 5px;
    padding: 5px;
    font-size: 0.85rem;
  }
}

.button-default-primary {
  float: right;
  margin-left: 10px;
  color: $grey-dark;
  border: 1px solid $grey-mild;
  border-radius: 5px;
  text-transform: none !important;
  i {
    margin-right: 5px;
  }
  transition: all 0.3s ease;
  &:hover {
    border-color: transparent;
    background-color: $brand-primary;
    color: $grey-white;
  }
}

.button-default-danger {
  float: right;
  margin-right: 10px;
  color: $grey-lightest;
  background-color: $brand-danger-light;
  border-radius: 5px;
  text-transform: none !important;
  i {
    margin-right: 5px;
  }
  transition: all 0.3s ease;
  &:hover:not(:disabled) {
    border-color: transparent;
    background-color: $brand-danger;
    color: white;
  }
  &:disabled{
    border: 1px solid $grey-mild;
  }
}

.btn-gray-info {
  text-transform: none !important;
  background-color: $brand-light;
  color: $grey-white !important;
  border: none;
  border-radius: 5px !important;
  margin: 2px 4px !important;
  padding: 10px !important;
  box-shadow: 0px 1px 1px $grey-mild;
  transition: all 0.3s ease;
  i {
    margin-right: 5px;
  }
  &:hover {
    background-color: $brand-primary;
    color: $white !important;
    box-shadow: 0px 2px 2px $grey-mild;
  }
}

.table-wrapper{
  margin: 8px auto;
  .column-selector-button {
    display: none;
  }
  .button-panel {
    margin: 8px auto;
  }
  .search-bar {
    display: flex;
    width: 75%;
    z-index: 99999;
    position:relative;
    margin-bottom: -42px;
    p {
      float: left;
      width: 80px;
      margin: 0px;
      padding-top: 8px;
    }
    input {
      float: right;
    }
  }
  th {
    padding: 12px 6px;
    &:after {
      width: 2px;
      height: 80%;
      margin: auto;
      background: $bluegrey-light;
    }
  }
  tr,td {
    padding: 6px;
    transition: all 0.3s ease;
  }
  tr {    
    border-left: 3px solid transparent;
    background-color: white !important;
    border-top: 1px solid $grey-white;
    &:hover{
      border-left: 3px solid $brand-primary !important;
    }
    &.selected, &.selected:hover {
      border-left: 3px solid $bluegrey-white;
      border-top: 1px solid $bluegrey-white;
      background-color: $bluegrey-white !important;
    }
  }
  .index-column,
  .index-column-header {
      text-align: right;
  }
  .btn-table {
    zoom: 1.4;
    padding: 2px 0px 2px 5px;
    color: $bluegrey-dark;
    border: none;
    transition: all 0.3s ease;
    &:hover {
      border: none;
      background-color: transparent;
    }
  }
  .btn-red {
    &:hover {
      color: #FF5252;
    }
  }
  .btn-yellow {
    &:hover {
      color: #FFC400;
    }
  }
  .btn-green {
    &:hover {
      color: #00E676;
    }
  }
  .btn-blue {
    &:hover {
      color: #448AFF;
    }
  }
  input[type=checkbox]:after{
    cursor: pointer;
    cursor: hand;
    content: '\f00c';
    line-height: 16px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    border: none;
    border-radius: 2px;
    background: $bluegrey-lighter;
    color: transparent;
}

  input[type=checkbox]:checked:after {
    color: white;
  }
}

.tabset-control {
  a.nav-link {
    text-transform: none !important;
    font-weight: 400;
    color: $bluegrey-lighter;
    transition: all 0.3s ease;
    &.active {
      color: $bluegrey;
      font-weight: 500;
    }
  }
}

i.muted {
  color: $grey-mild;
  font-size: small;
  margin-left: 5px;
}

.color-red {
  color: $color-red;
}
.color-pink {
  color: $color-pink;
}
.color-purple {
  color: $color-purple;
}
.color-deep-purple {
  color: $color-deep-purple;
}
.color-indigo {
  color: $color-indigo;
}
.color-blue {
  color: $color-blue;
}
.color-light-blue {
  color: $color-light-blue;
}
.color-cyan {
  color: $color-cyan;
}
.color-teal {
  color: $color-teal;
}
.color-green {
  color: $color-green;
}
.color-yellow {
  color: $color-yellow;
}
.color-orange {
  color: $color-orange;
}
.color-deep-orange {
  color: $color-deep-orange;
}
.color-brown {
  color: $color-brown;
}
.color-bluegrey-light {
  color: $bluegrey-light;
}
.color-bluegrey-mild {
  color: $bluegrey-mild;
}
.color-bluegrey {
  color: $bluegrey;
}