<mat-card mat-list-item draggable [dragData]="index" droppable (onDrop)="onCardDrop($event)" [dragScope]="card.story + '-' + portalIndex"
  [dropScope]="card.story + '-' + portalIndex">
  <mat-card-header>
    <mat-card-title>Nút và hình</mat-card-title>
    <span class="header-spacer"></span>
    <mat-slide-toggle #saveToggle [checked]="cardFrm.pristine" [disabled]="cardFrm.pristine" labelPosition="before" (change)="onSave(cardFrm,$event)">
      Lưu</mat-slide-toggle>
    <mat-icon [matMenuTriggerFor]="cardMenu" class="icon-btn">more_vert</mat-icon>
    <mat-menu #cardMenu="matMenu">
      <button mat-menu-item (click)="addElement()">Thêm hình</button>
      <button mat-menu-item (click)="quickReply()">Trả lời nhanh</button>
      <button mat-menu-item (click)="remove()">Xoá</button>
    </mat-menu>
  </mat-card-header>
  <form #cardFrm="ngForm">
    <mat-card-content>
      <div>
        <mat-checkbox #sharableControl="ngModel" [(ngModel)]="card.option.attachment.payload.sharable" name="sharable"> Hiện nút chia sẻ</mat-checkbox>
      </div>
      <div>
        <mat-radio-group #imageAspectRatioControl="ngModel" [(ngModel)]="card.option.attachment.payload.image_aspect_ratio" name="imageAspectRatio">
          <mat-radio-button value="horizontal">Hình chữ nhật</mat-radio-button>
          <mat-radio-button value="square">Hình vuông</mat-radio-button>
        </mat-radio-group>
      </div>

      <swiper *ngIf="card.option.attachment.payload.elements" class="element-container" [config]="swiperOptions" #swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide element" *ngFor="let element of card.option.attachment.payload.elements; let ei = index">
            <mat-card #elementCard (mouseenter)="elementCard.onHover = true" (mouseleave)="elementCard.onHover = false">
              <div class="element-buttons" *ngIf="elementCard.onHover">
                <button mat-icon-button class="danger" (click)="removeElement(ei)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <img [src]="element.image_url" alt="" (click)="editImage(ei)">
              <mat-card-content>
                <mat-form-field class="text-input-field">
                  <input matInput #titleControl="ngModel" [(ngModel)]="element.title" name="title-{{ei}}" placeholder="Title" maxlength="256">
                  <mat-hint align="end">{{element.title.length}} / 256</mat-hint>
                </mat-form-field>
                <mat-form-field class="text-input-field" *ngIf="element.subtitle">
                  <input matInput #subTitleControl="ngModel" [(ngModel)]="element.subtitle" name="subtitle-{{ei}}" placeholder="Sub Title"
                    maxlength="256">
                  <mat-hint align="end">{{element.subtitle.length}} / 256</mat-hint>
                </mat-form-field>
              </mat-card-content>
              <app-button-container [validButtons]="validButtons" [container]="container" [buttons]="element.buttons" (change)="onButtonsChange(ei,$event)"></app-button-container>
            </mat-card>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination element-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next element-button-next"></div>
        <div class="swiper-button-prev element-button-prev"></div>
      </swiper>

    </mat-card-content>
  </form>
</mat-card>
<mat-divider></mat-divider>