<div class="animated fadeIn">
  <div class="row">
    <fieldset class="form-group col-sm-12">
      <div class="input-group">
        <span class="input-group-addon"> Tìm kiếm </span>
        <input type="text" class="form-control" (keyup)="onSearch($event)">
        <span (click)="deleteAll()" *ngIf="itemsTable.selectedRows && itemsTable.selectedRows.length > 0" class="input-group-addon btn-danger"><i class="fa fa-trash"></i> Xoá tất cả</span>
        <span (click)="addItem()" class="input-group-addon btn-success"><i class="fa fa-plus"></i> Thêm</span>
      </div>
    </fieldset>
  </div>
  <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid" #itemsTable headerTitle="Danh sách" indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true"
      [substituteRows]="false" [selectOnRowClick]="false" [showReloading]="true" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column property="address" header="Địa điểm" [sortable]="true" [visible]="false">
      </data-table-column>
      <data-table-column property="total_price" header="Tổng tiền" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.total_price | accounting}}
          </template>
      </data-table-column>
      <data-table-column property="phone" header="Khách hàng" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.customer?.phone?item.customer.phone:""}}
          </template>
      </data-table-column>
      <data-table-column property="action" header="Tình trạng" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
              {{item.activity?(detectActionName(item.activity.action)):""}}
          </template>
      </data-table-column>
      <data-table-column property="fee" header="Phí ship" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
            {{item.bill_ship_detail?.fee?(item.bill_ship_detail.fee | accounting):""}}
          </template>
      </data-table-column>
      <data-table-column property="created_at" header="Ngày giao" [resizable]="true" [sortable]="true">
        <template #dataTableCell let-item="item">
              {{item.created_at | date:'dd/MM/yyyy hh:mm:ss'}}
          </template>
      </data-table-column>
      <!-- <data-table-column property="status" header="Trạng thái" [sortable]="true">
        <template #dataTableCell let-item="item">
              <span class="badge p-h" [ngClass]="{'badge-success': item.status == 1, 'badge-danger':item.status == 0}">{{item.status == 1?"Hoạt động":"Không hoạt động"}}</span>
            </template>
      </data-table-column> -->
      <data-table-column header="Actions">
        <template #dataTableCell let-item="item">
                <span class="btn-group">
                    <button (click)="print(item)"
                      type="button" class="btn btn-sm"><i class="icon-eye icons font-xl p-q d-block"></i>Print</button>
                    <button (click)="paidHistoryAction(item)"
                          type="button" class="btn btn-sm"><i class="icon-eye icons font-xl p-q d-block"></i>Paid</button>
                    <button (click)="viewItem(item)"
                        type="button" class="btn btn-sm"><i class="icon-eye icons font-xl p-q d-block"></i></button>
                    <button (click)="editItem(item)"
                        type="button" class="btn btn-sm btn-info"><i class="icon-pencil icons font-xl p-q d-block"></i></button>
                    <button (click)="deleteItem(item)"
                        type="button" class="btn btn-sm btn-danger btn-ladda"
                        data-style="expand-right" [ladda]='item.deleting?true:false'><i class="icon-trash icons font-xl p-q d-block"></i></button>
                </span>
            </template>
      </data-table-column>
    </data-table>
  </div>
</div>
