h3 {
    margin: 0px;
    padding-top: 5px;
}

.custom-fa {
    font-size: 20px;
    padding: 4px;
}

.material-icons {
    padding-bottom: 5px;
}

/deep/ data-table table{
  box-shadow: none !important;
}

/deep/ data-table .column-header span{
  font-size: 0.8rem !important;
}

/deep/ data-table span .number-style{
  text-align: right;
}

/deep/ table th, /deep/ table td {
  text-align: center;
}
