<div class="animated fadeIn">
  <form class="row" #itemFrm="ngForm">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{isEdit?"Cập nhật":"Thêm"}} loại bài viết</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Tiêu đề</label>
            <div class="col-md-10">
              <input type="text" #titleControl="ngModel" [(ngModel)]="title" name="title" class="form-control input-control" [placeholder]="'Nhập tiêu đề'" required/>
              <small *ngIf="titleControl.errors?.required" class="text-muted danger">
                  (Không được bỏ trống)
                </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Loại bài viết</label>
            <div class="col-md-10">
              <select id="select" #blogTypeControl="ngModel" [(ngModel)]="blogType" name="blogType" class="form-control input-control">
                  <option [value]="null">Chọn loại tin tức</option>
                  <option *ngFor="let v of blogTypes | async" [value]="v.id">
                    {{v.name}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="text-input">Mô tả ngắn</label>
            <div class="col-md-10">
              <input type="text" #shortDescriptionControl="ngModel" [(ngModel)]="shortDescription" name="shortDescription" class="form-control input-control" [placeholder]="'Mô tả ngắn'" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="textarea-input">Mô tả</label>
            <div class="col-md-10">
              <!-- <textarea [froalaEditor] [(froalaModel)]="description" name="description" class="form-control input-control" [placeholder]="'Nhập mô tả'"></textarea> -->
              <textarea [(ngModel)]="description" name="description" class="form-control input-control"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="textarea-input">Nội dung</label>
            <div class="col-md-10">
              <!-- <textarea [froalaEditor] [(froalaModel)]="content" name="content" class="form-control input-control" [placeholder]="'Nhập nội dung'"></textarea> -->
              <quill-editor [(ngModel)]="content" name="content" placeholder="'Nhập nội dung'" class="form-control input-control" style="border:none; padding: 0"></quill-editor>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="textarea-input">Đường link</label>
            <div class="col-md-10">
              <input type="text" #urlControl="ngModel" rows="5" [(ngModel)]="url" name="url" class="form-control input-control" [placeholder]="'Nhập đường link'" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="textarea-input">Hình ảnh</label>
            <div class="col-md-10">
              <div class="input-group">
                <input type="file" name="file-input" #fileUploader (change)="onChangeImageFile($event)" [style.display]="'none'">
                <input type="text" #imageControl="ngModel" [(ngModel)]="image" (input)="onImageChangeData($event.target.value)" name="image" url class="form-control input-control" [placeholder]="image?'':'Nhập url'" />
                <span class="input-group-append">
                  <button type="button" class="btn btn-ladda ladda-button btn-primary" [ladda]="progress" (click)="fileUploader.click()"
                  data-style="contract-overlay" style="z-index: 10;">
                    <span class="ladda-label">Đăng ảnh</span>
                <span class="ladda-spinner"></span>
                <div class="ladda-progress" style="width: 0px;"></div>
                </button>
                </span>
              </div>
            </div>
            <div class="offset-md-2 col-md-10" *ngIf="previewImage">
              <span class="image-wrapper" *ngIf="previewImage">
                <img class="close-btn" [attr.src]="closeImage" (click)="removeImage()" />
                <img id="preview-image" *ngIf="fileUploader.value || imageControl.value" [src]="previewImage" (error)="this.previewImage = this.errorImage" />
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 header-text" for="select">Trạng thái hoạt động</label>
            <div class="col-md-10">
              <select id="select" #statusControl="ngModel" [(ngModel)]="status" name="status" class="form-control input-control">
                  <option *ngFor="let v of [0,1]" [value]="v">
                    {{ v===1?"Hoạt động":"Không hoạt động"}}
                  </option>
                </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 header-text" for="textarea-input">Meta-data</label>
          <div class="col-md-10" style="padding-left: 30px;padding-right: 30px;">
            <json-editor [options]="editorOptions" [data]="metaData"></json-editor>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="submitAndNew(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-success ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và tạo mới</button>
          <button (click)="submitAndClose(itemFrm)" *ngIf="!isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-plus"></i> Thêm và thoát</button>
          <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto" data-style="expand-right" [ladda]='submitting'><i class="fas fa-edit"></i> Sửa và thoát</button>
        </div>
      </div>
    </div>
  </form>
</div>
