
<div class="card m-0 portal-card"> 
    <div class="card-header"> 
      <strong>Danh sách </strong>
      <div class="btn-group pull-right">
        <button (click)="newStory()"
        type="button" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus"></i></button>
        <!--<button type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i></button>-->
      </div>
    </div>
    <div class="card-block portal-block">
      <div class="row p-0">
        <div class="p-0 col-md-12" >
          <button *ngFor="let story of stories"
          dropdown placement="top right"
          data-toggle="dropdown" dropdownToggle
          class="btn btn-block btn-lg btn-secondary text-left">
            {{story.title}}
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a (click)="editStory(story)"
                class="dropdown-item" href="javascript:;" ><i class="fa fa-pencil"></i> Chỉnh sửa</a>
                <a (click)="selectStory(story)"
                class="dropdown-item" href="javascript:;" ><i class="fa fa-eye"></i> Xem Story</a>
                <a (click)="removeStory(story)"
                class="dropdown-item" href="javascript:;" ><i class="fa fa-trash"></i> Xoá</a>
            </div>
          </button>
        </div>
      </div>
    </div>
</div>